In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
# pd.options.display.max_columns = None

#need to import all the csv files 

age_sex2020 = pd.read_csv("../data/age_sex_davidsoncounty2020.csv")
age_sex2020

,Label (Grouping),ZCTA5 37013!!Total!!Estimate,ZCTA5 37013!!Total!!Margin of Error,ZCTA5 37013!!Percent!!Estimate,ZCTA5 37013!!Percent!!Margin of Error,ZCTA5 37013!!Male!!Estimate,ZCTA5 37013!!Male!!Margin of Error,ZCTA5 37013!!Percent Male!!Estimate,ZCTA5 37013!!Percent Male!!Margin of Error,ZCTA5 37013!!Female!!Estimate,...,ZCTA5 37246!!Percent!!Estimate,ZCTA5 37246!!Percent!!Margin of Error,ZCTA5 37246!!Male!!Estimate,ZCTA5 37246!!Male!!Margin of Error,ZCTA5 37246!!Percent Male!!Estimate,ZCTA5 37246!!Percent Male!!Margin of Error,ZCTA5 37246!!Female!!Estimate,ZCTA5 37246!!Female!!Margin of Error,ZCTA5 37246!!Percent Female!!Estimate,ZCTA5 37246!!Percent Female!!Margin of Error
0,Total population,"99,109","±4,296",(X),(X),"48,581","±2,534",(X),(X),"50,528",...,(X),(X),0,±13,(X),(X),0,±13,(X),(X)
1,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Under 5 years,"8,921",±792,9.0%,±0.7,"4,717",±618,9.7%,±1.1,"4,204",...,-,**,0,±13,-,**,0,±13,-,**
3,5 to 9 years,"7,564",±894,7.6%,±0.8,"3,379",±525,7.0%,±1.0,"4,185",...,-,**,0,±13,-,**,0,±13,-,**
4,10 to 14 years,"7,349",±917,7.4%,±0.8,"3,896",±620,8.0%,±1.1,"3,453",...,-,**,0,±13,-,**,0,±13,-,**
5,15 to 19 years,"6,244",±778,6.3%,±0.7,"3,165",±459,6.5%,±0.8,"3,079",...,-,**,0,±13,-,**,0,±13,-,**
6,20 to 24 years,"6,874",±871,6.9%,±0.8,"3,796",±607,7.8%,±1.1,"3,078",...,-,**,0,±13,-,**,0,±13,-,**
7,25 to 29 years,"8,935",±953,9.0%,±0.9,"4,433",±714,9.1%,±1.4,"4,502",...,-,**,0,±13,-,**,0,±13,-,**
8,30 to 34 years,"9,919","±1,125",10.0%,±1.0,"4,815",±685,9.9%,±1.3,"5,104",...,-,**,0,±13,-,**,0,±13,-,**
9,35 to 39 years,"7,713",±896,7.8%,±0.9,"3,626",±537,7.5%,±1.1,"4,087",...,-,**,0,±13,-,**,0,±13,-,**
10,40 to 44 years,"7,690","±1,186",7.8%,±1.1,"3,960",±701,8.2%,±1.3,"3,730",...,-,**,0,±13,-,**,0,±13,-,**
11,45 to 49 years,"6,674",±712,6.7%,±0.7,"3,614",±470,7.4%,±0.9,"3,060",...,-,**,0,±13,-,**,0,±13,-,**
12,50 to 54 years,"5,150",±549,5.2%,±0.6,"2,339",±323,4.8%,±0.7,"2,811",...,-,**,0,±13,-,**,0,±13,-,**
13,55 to 59 years,"5,490",±765,5.5%,±0.7,"2,541",±447,5.2%,±0.9,"2,949",...,-,**,0,±13,-,**,0,±13,-,**
14,60 to 64 years,"4,129",±652,4.2%,±0.6,"1,580",±300,3.3%,±0.6,"2,549",...,-,**,0,±13,-,**,0,±13,-,**
15,65 to 69 years,"2,729",±386,2.8%,±0.4,"1,177",±259,2.4%,±0.6,"1,552",...,-,**,0,±13,-,**,0,±13,-,**
16,70 to 74 years,"1,840",±328,1.9%,±0.4,781,±224,1.6%,±0.5,"1,059",...,-,**,0,±13,-,**,0,±13,-,**
17,75 to 79 years,913,±251,0.9%,±0.3,386,±123,0.8%,±0.3,527,...,-,**,0,±13,-,**,0,±13,-,**
18,80 to 84 years,660,±205,0.7%,±0.2,293,±137,0.6%,±0.3,367,...,-,**,0,±13,-,**,0,±13,-,**
19,85 years and over,315,±105,0.3%,±0.1,83,±64,0.2%,±0.1,232,...,-,**,0,±13,-,**,0,±13,-,**
20,SELECTED AGE CATEGORIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,5 to 14 years,"14,913","±1,186",15.0%,±0.9,"7,275",±734,15.0%,±1.2,"7,638",...,-,**,0,±13,-,**,0,±13,-,**
22,15 to 17 years,"3,671",±567,3.7%,±0.5,"1,802",±356,3.7%,±0.7,"1,869",...,-,**,0,±13,-,**,0,±13,-,**
23,Under 18 years,"27,505","±1,798",27.8%,±1.0,"13,794","±1,186",28.4%,±1.8,"13,711",...,-,**,0,±13,-,**,0,±13,-,**
24,18 to 24 years,"9,447",±969,9.5%,±0.9,"5,159",±695,10.6%,±1.3,"4,288",...,-,**,0,±13,-,**,0,±13,-,**
25,15 to 44 years,"47,375","±2,602",47.8%,±1.3,"23,795","±1,624",49.0%,±1.8,"23,580",...,-,**,0,±13,-,**,0,±13,-,**
26,16 years and over,"74,109","±3,182",74.8%,±1.1,"36,103","±1,984",74.3%,±1.8,"38,006",...,-,**,0,±13,-,**,0,±13,-,**
27,18 years and over,"71,604","±2,963",72.2%,±1.0,"34,787","±1,898",71.6%,±1.8,"36,817",...,-,**,0,±13,-,**,0,±13,-,**
28,21 years and over,"68,421","±2,793",69.0%,±1.1,"33,121","±1,791",68.2%,±1.8,"35,300",...,-,**,0,±13,-,**,0,±13,-,**
29,60 years and over,"10,586",±862,10.7%,±0.9,"4,300",±473,8.9%,±1.0,"6,286",...,-,**,0,±13,-,**,0,±13,-,**
30,62 years and over,"8,831",±806,8.9%,±0.9,"3,677",±462,7.6%,±1.0,"5,154",...,-,**,0,±13,-,**,0,±13,-,**
31,65 years and over,"6,457",±557,6.5%,±0.7,"2,720",±393,5.6%,±0.9,"3,737",...,-,**,0,±13,-,**,0,±13,-,**
32,75 years and over,"1,888",±317,1.9%,±0.3,762,±187,1.6%,±0.4,"1,126",...,-,**,0,±13,-,**,0,±13,-,**
33,SUMMARY INDICATORS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Median age (years),31.8,±0.7,(X),(X),31.0,±1.1,(X),(X),32.5,...,(X),(X),-,**,(X),(X),-,**,(X),(X)
35,Sex ratio (males per 100 females),96.1,±5.1,(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
36,Age dependency ratio,52.1,±2.4,(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
37,Old-age dependency ratio,9.9,±1.1,(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
38,Child dependency ratio,42.2,±2.2,(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
39,PERCENT ALLOCATED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Sex,(X),(X),0.2%,(X),(X),(X),(X),(X),(X),...,-,(X),(X),(X),(X),(X),(X),(X),(X),(X)
41,Age,(X),(X),1.6%,(X),(X),(X),(X),(X),(X),...,-,(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [29]:
age_sex2020df = pd.DataFrame(age_sex2020)
df2020 = age_sex2020df.iloc[[0,34],
                           [1, 13, 25, 37, 49, 61, 73, 85, 97, 109, 121, 133, 145, 157, 169, 181, 193, 
                            205, 217, 229, 241, 253, 265, 277, 289, 301, 313, 325, 337, 349, 361, 373, 385, 397, 409, 421, 433,
                           445]]

df2020.rename(columns={'ZCTA5 37013!!Total!!Estimate' : '37013', 'ZCTA5 37015!!Total!!Estimate': '37015', 'ZCTA5 37027!!Total!!Estimate': '37027', 'ZCTA5 37064!!Total!!Estimate': '37064', 'ZCTA5 37072!!Total!!Estimate':'37072', 'ZCTA5 37076!!Total!!Estimate': '37076',
                      'ZCTA5 37080!!Total!!Estimate' : '37080', 'ZCTA5 37086!!Total!!Estimate':'37086', 'ZCTA5 37115!!Total!!Estimate': '37115',
                      'ZCTA5 37122!!Total!!Estimate':'37122', 'ZCTA5 37135!!Total!!Estimate':'37135', 'ZCTA5 37138!!Total!!Estimate':'37138',
                      'ZCTA5 37143!!Total!!Estimate':'37143','ZCTA5 37189!!Total!!Estimate':'37189', 'ZCTA5 37201!!Total!!Estimate':'37201','ZCTA5 37203!!Total!!Estimate':'37203',
                      'ZCTA5 37204!!Total!!Estimate':'37204', 'ZCTA5 37205!!Total!!Estimate':'37205', 'ZCTA5 37206!!Total!!Estimate':'37206','ZCTA5 37207!!Total!!Estimate':'37207',
                      'ZCTA5 37208!!Total!!Estimate':'37208', 'ZCTA5 37209!!Total!!Estimate':'37209', 'ZCTA5 37210!!Total!!Estimate':'37210', 'ZCTA5 37211!!Total!!Estimate':'37211',
                      'ZCTA5 37212!!Total!!Estimate':'37212', 'ZCTA5 37213!!Total!!Estimate':'37213', 'ZCTA5 37214!!Total!!Estimate':'37214','ZCTA5 37215!!Total!!Estimate':'37215',
                      'ZCTA5 37216!!Total!!Estimate':'37216', 'ZCTA5 37217!!Total!!Estimate':'37217','ZCTA5 37218!!Total!!Estimate':'37218','ZCTA5 37219!!Total!!Estimate':'37219',
                      'ZCTA5 37220!!Total!!Estimate':'37220', 'ZCTA5 37221!!Total!!Estimate':'37221', 'ZCTA5 37228!!Total!!Estimate':'37228', 'ZCTA5 37240!!Total!!Estimate':'37240',
                      'ZCTA5 37243!!Total!!Estimate':'37243', 'ZCTA5 37246!!Total!!Estimate':'37246'}, inplace=True)

df2020

,37013,37015,37027,37064,37072,37076,37080,37086,37115,37122,...,37216,37217,37218,37219,37220,37221,37228,37240,37243,37246
0,"99,109","17,835","57,096","60,272","31,134","38,647","7,537","34,362","39,573","61,002",...,"18,081","30,947","15,582","1,043","5,894","41,736","1,528",759,0,0
34,31.8,41.5,41.8,40.8,43.4,35.9,47.3,31.6,36.5,41.0,...,35.6,32.5,40.9,35.4,44.3,39.7,29.8,19.7,-,-

In [31]:
df2020a = df2020.transpose() 
df2020a.reset_index(level=0, inplace=True)
index = df2020a.index
index.name = 'Population per County 2020'
df2020a

df2020a.rename(columns={'index': 'zip_code', 0:'population', 34:'median age'}, inplace=True)
df2020a.head()

                           zip_code population median age
Population per County 2020
0                             37013     99,109       31.8
1                             37015     17,835       41.5
2                             37027     57,096       41.8
3                             37064     60,272       40.8
4                             37072     31,134       43.4