In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from functools import reduce

%matplotlib inline
pd.options.display.max_columns = None
# pd.options.display.max_rows = None

In [49]:
income_df = pd.read_csv("../data/income_dataframe.csv")

In [50]:
population_df = pd.read_csv("../data/population_dataframe.csv")

In [51]:
housing_value_df = pd.read_csv("../data/value_dataframe.csv")

In [84]:
breweries_df = pd.read_csv("../data/breweries_final_dataframe.csv")

In [87]:
breweries_df_final = reduce(lambda left, right:
                      pd.merge(left, right,
                              on=['zip_code']),
                      [breweries_df, income_df, population_df, housing_value_df])

# breweries_df = breweries_df.drop(breweries_df.index[[6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 20, 21, 24, 26, 28, 29,
#                                                     30, 31, 38, 39, 40, 41, 43, 46, 47, 48, 49]])

# breweries_df=breweries_df[breweries_df.review_count >= 50]
breweries_df_final

,name,rating,review_count,address1,city,zip_code,state,2011 total household_x,2011 household median income_x,2011 total families_x,2011 families median income_x,2011 total married couple families_x,2011 married couple families median income_x,2011 total non family households_x,2011 non family households median income_x,2015 total household_x,2015 household median income_x,2015 total families_x,2015 families median income_x,2015 total married couple families_x,2015 married couple families median income_x,2015 total non family households_x,2015 non family households median income_x,2020 total household_x,2020 household median income_x,2020 total families_x,2020 families median income_x,2020 total married couple families_x,2020 married couple families median income_x,2020 total non family households_x,2020 non family households median income_x,2011 population_x,2011 median age_x,2015 population_x,2015 median age_x,2020 population_x,2020 median age_x,"2011 Less than 50,000_x","2011 50,000-99,999_x","2011 100,000-149,999_x","2011 150,000-199,999_x","2011 200,000-299,999_x","2011 300,000-499,999_x","2011 500,000-999,999_x","2011 1,000,000-+_x",2011 Median Value_x,"2015 Less than 50,000_x","2015 50,000-99,999_x","2015 100,000-149,999_x","2015 150,000-199,999_x","2015 200,000-299,999_x","2015 300,000-499,999_x","2015 500,000-999,999_x","2015 1,000,000-+_x",2015 Median Value_x,"2020 Less than 50,000_x","2020 50,000-99,999_x","2020 100,000-149,999_x","2020 150,000-199,999_x","2020 200,000-299,999_x","2020 300,000-499,999_x","2020 500,000-999,999_x","2020 1,000,000-+_x",2020 Median Value_x,opening,neighborhood,2011 total household_y,2011 household median income_y,2011 total families_y,2011 families median income_y,2011 total married couple families_y,2011 married couple families median income_y,2011 total non family households_y,2011 non family households median income_y,2015 total household_y,2015 household median income_y,2015 total families_y,2015 families median income_y,2015 total married couple families_y,2015 married couple families median income_y,2015 total non family households_y,2015 non family households median income_y,2020 total household_y,2020 household median income_y,2020 total families_y,2020 families median income_y,2020 total married couple families_y,2020 married couple families median income_y,2020 total non family households_y,2020 non family households median income_y,2011 population_y,2011 median age_y,2015 population_y,2015 median age_y,2020 population_y,2020 median age_y,"2011 Less than 50,000_y","2011 50,000-99,999_y","2011 100,000-149,999_y","2011 150,000-199,999_y","2011 200,000-299,999_y","2011 300,000-499,999_y","2011 500,000-999,999_y","2011 1,000,000-+_y",2011 Median Value_y,"2015 Less than 50,000_y","2015 50,000-99,999_y","2015 100,000-149,999_y","2015 150,000-199,999_y","2015 200,000-299,999_y","2015 300,000-499,999_y","2015 500,000-999,999_y","2015 1,000,000-+_y",2015 Median Value_y,"2020 Less than 50,000_y","2020 50,000-99,999_y","2020 100,000-149,999_y","2020 150,000-199,999_y","2020 200,000-299,999_y","2020 300,000-499,999_y","2020 500,000-999,999_y","2020 1,000,000-+_y",2020 Median Value_y
0,Tennessee Brew Works,4.5,459,809 Ewing Ave,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2013,SoBro,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200"
1,Jackalope Brewing Company - The Ranch,4.5,47,429B Houston St,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2018,Wedgewood-Houston,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200"
2,New Heights Brewing Company,4.5,100,928 Rep John Lewis Way S,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2016,South Nashville,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200"
3,Southern Grist Brewing,4.5,204,754 Douglas Ave,Nashville,37207,TN,"12,745","30,780","8,341","33,203","3,407","55,298","4,404","23,750","13,591","32,396","8,385","35,720","3,648","59,621","5,206","25,157","15,151","50,583","9,113","53,671","4,155","76,397","6,038","40,773","32,074",34.2,"35,497",34.9,"39,151",35.4,645,"1,638","3,007","1,253",536,115,24,13,"117,600",577,"2,007","2,774","1,389",656,247,9,30,"120,900",602,658,"1,882","1,707","2,294","1,360",210,80,"186,700",2016,Cleveland Park,"12,745","30,780","8,341","33,203","3,407","55,298","4,404","23,750","13,591","32,396","8,385","35,720","3,648","59,621","5,206","25,157","15,151","50,583","9,113","53,671","4,155","76,397","6,038","40,773","32,074",34.2,"35,497",34.9,"39,151",35.4,645,"1,638","3,007","1,253",536,115,24,13,"117,600",577,"2,007","2,774","1,389",656,247,9,30,"120,900",602,658,"1,882","1,707","2,294","1,360",210,80,"186,700"
4,East Nashville Beer Works,4.0,111,320 E Trinity Ln,Nashville,37207,TN,"12,745","30,780","8,341","33,203","3,407","55,298","4,404","23,750","13,591","32,396","8,385","35,720","3,648","59,621","5,206","25,157","15,151","50,583","9,113","53,671","4,155","76,397","6,038","40,773","32,074",34.2,"35,497",34.9,"39,151",35.4,645,"1,638","3,007","1,253",536,115,24,13,"117,600",577,"2,007","2,774","1,389",656,247,9,30,"120,900",602,658,"1,882","1,707","2,294","1,360",210,80,"186,700",2016,East Nashville,"12,745","30,780","8,341","33,203","3,407","55,298","4,404","23,750","13,591","32,396","8,385","35,720","3,648","59,621","5,206","25,157","15,151","50,583","9,113","53,671","4,155","76,397","6,038","40,773","32,074",34.2,"35,497",34.9,"39,151",35.4,645,"1,638","3,007","1,253",536,115,24,13,"117,600",577,"2,007","2,774","1,389",656,247,9,30,"120,900",602,658,"1,882","1,707","2,294","1,360",210,80,"186,700"
5,Bearded Iris Brewing,4.5,206,101 Van Buren St,Nashville,37208,TN,"6,317","22,679","3,353","31,166",964,"63,333","2,964","15,870","6,747","27,280","2,995","32,221","1,029",(X),"3,752","22,120","8,415","47,903","3,655","54,669","1,787","89,964","4,760","41,857","16,331",31.4,"16,251",31.6,"18,375",32.1,104,930,446,304,229,99,112,9,"106,900",143,689,531,197,303,284,13,0,"115,700",27,159,166,389,608,794,359,18,"288,100",2016,Germantown,"6,317","22,679","3,353","31,166",964,"63,333","2,964","15,870","6,747","27,280","2,995","32,221","1,029",(X),"3,752","22,120","8,415","47,903","3,655","54,669","1,787","89,964","4,760","41,857","16,331",31.4,"16,251",31.6,"18,375",32.1,104,930,446,304,229,99,112,9,"106,900",143,689,531,197,303,284,13,0,"115,700",27,159,166,389,608,794,359,18,"288,100"
6,Monday Night Brewing,4.5,48,1308 Adams St,Nashville,37208,TN,"6,317","22,679","3,353","31,166",964,"63,333","2,964","15,870","6,747","27,280","2,995","32,221","1,029",(X),"3,752","22,120","8,415","47,903","3,655","54,669","1,787","89,964","4,760","41,857","16,331",31.4,"16,251",31.6,"18,375",32.1,104,930,446,304,229,99,112,9,"106,900",143,689,531,197,303,284,13,0,"115,700",27,159,166,389,608,794,359,18,"288,100",2021,Germantown,"6,317","22,679","3,353","31,166",964,"63,333","2,964","15,870","6,747","27,280","2,995","32,221","1,029",(X),"3,752","22,120","8,415","47,903","3,655","54,669","1,787","89,964","4,760","41,857","16,331",31.4,"16,251",31.6,"18,375",32.1,104,930,446,304,229,99,112,9,"106,900",143,689,531,197,303,284,13,0,"115,700",27,159,166,389,608,794,359,18,"288,100"
7,The Black Abbey Brewing Company,4.5,103,2952 Sidco Dr,Nashville,37204,TN,"5,341","62,818","2,492","88,527","1,949","99,798","2,849","42,917","5,531","69,482","2,713","109,350","2,108",(X),"2,818","42,865","6,080","89,954","2,958","132,708","2,403","152,188","3,122","64,549","12,422",32.9,"13,169",32.4,"15,908",29.1,27,62,193,366,"1,002","1,305",259,134,"302,800",66,30,151,154,754,"1,597",594,96,"358,300",63,22,21,66,235,923,"1,657",464,"602,500",2013,South Nashville,"5,341","62,818","2,492","88,527","1,949","99,798","2,849","42,917","5,531","69,482","2,713","109,350","2,108",(X),"2,818","42,865","6,080","89,954","2,958","132,708","2,403","152,188","3,122","64,549","12,422",32.9,"13,169",32.4,"15,908",29.1,27,62,193,366,"1,002","1,305",259,134,"302,800",66,30,151,154,754,"1,597",594,96,"358,300",63,22,21,66,235,923,"1,657",464,"602,500"
8,Fat Bottom Brewing,4.0,286,800 44th Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2012,The Nations,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600"
9,Bold Patriot Brewing Company,4.5,46,410 39th Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2020,Charlotte,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600"
10,Blackstone Brewing Company,4.5,42,2312 Clifton Ave,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2015,Midtown,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600"
11,Czanns Brewing Company,4.5,14,4909 Indiana Ave,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2021,The Nations,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600"
12,Harding House Brewing Company,4.5,26,904 51st Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2018,The Nations,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600"
13,Crazy Gnome Brewery,4.5,18,948 Main St,Nashville,37206,TN,"10,721","32,697","5,712","36,049","2,924","58,149","5,009","26,976","10,849","43,782","5,848","45,608","3,187",(X),"5,001","41,026","11,584","66,065","5,814","81,107","3,749","117,542","5,770","53,164","25,772",32.8,"26,323",33.0,"27,055",33.0,163,817,"1,506","1,187",986,569,177,21,"157,700",252,375,"1,119","1,146","1,163","1,139",307,14,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600",2020,Edgefield,"10,721","32,697","5,712","36,049","2,924","58,149","5,009","26,976","10,849","43,782","5,848","45,608","3,187",(X),"5,001","41,026","11,584","66,065","5,814","81,107","3,749","117,542","5,770","53,164","25,772",32.8,"26,323",33.0,"27,055",33.0,163,817,"1,506","1,187",986,569,177,21,"157,700",252,375,"1,119","1,146","1,163","1,139",307,14,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600"
14,Smith & Lentz Brewing,4.0,133,903 Main St,Nashville,37206,TN,"10,721","32,697","5,712","36,049","2,924","58,149","5,009","26,976","10,849","43,782","5,848","45,608","3,187",(X),"5,001","41,026","11,584","66,065","5,814","81,107","3,749","117,542","5,770","53,164","25,772",32.8,"26,323",33.0,"27,055",33.0,163,817,"1,506","1,187",986,569,177,21,"157,700",252,375,"1,119","1,146","1,163","1,139",307,14,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600",2015,East Nashville,"10,721","32,697","5,712","36,049","2,924","58,149","5,009","26,976","10,849","43,782","5,848","45,608","3,187",(X),"5,001","41,026","11,584","66,065","5,814","81,107","3,749","117,542","5,770","53,164","25,772",32.8,"26,323",33.0,"27,055",33.0,163,817,"1,506","1,187",986,569,177,21,"157,700",252,375,"1,119","1,146","1,163","1,139",307,14,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600"
15,Fait La Force Brewing,4.5,15,1414 3rd Ave S,Nashville,37210,TN,"5,875","25,662","2,940","29,353","1,310","40,263","2,935","21,602","6,536","29,035","3,053","30,652","1,427","47,125","3,483","25,320","7,337","36,985","3,116","48,791","1,651","64,551","4,221","27,591","14,876",31.5,"16,326",30.5,"16,810",31.6,102,712,949,244,91,46,0,10,"113,400",67,605,934,342,85,8,47,0,"118,500",55,122,252,331,978,351,30,8,"227,100",2019,South Nashville,"5,875","25,662","2,940","29,353","1,310","40,263","2,935","21,602","6,536","29,035","3,053","30,652","1,427","47,125","3,483","25,320","7,337","36,985","3,116","48,791","1,651","64,551","4,221","27,591","14,876",31.5,"16,326",30.5,"16,810",31.6,102,712,949,244,91,46,0,10,"113,400",67,605,934,342,85,8,47,0,"118,500",55,122,252,331,978,351,30,8,"227,100"
16,Living Waters Brewing,4.5,76,1056 E Trinity Ln,Nashville,37216,TN,"7,812","46,033","4,490","53,784","2,666","69,756","3,322","33,118","7,834","45,472","4,304","55,722","2,890","63,557","3,530","35,905","8,244","62,214","3,897","86,834","2,732","105,739","4,347","46,573","18,912",37.0,"18,479",38.7,"18,081",35.6,179,766,"2,045","1,417",757,167,21,9,"142,600",76,673,"1,483","1,271","1,156",340,29,8,"158,700",64,57,315,507,"2,147","2,481",250,0,"293,800",2019,East Nashville,"7,812","46,033","4,490","53,784","2,666","69,756","3,322","33,118","7,834","45,472","4,304","55,722","2,890","63,557","3,530","35,905","8,244","62,214","3,897","86,834","2,732","105,739","4,347","46,573","18,912",37.0,"18,479",38.7,"18,081",35.6,179,766,"2,045","1,417",757,167,21,9,"142,600",76,673,"1,483","1,271","1,156",340,29,8,"158,700",64,57,315,507,"2,147","2,481",250,0,"293,800"
17,Barrique Brewing And Blending,5.0,14,30 Oldham St,Nashville,37213,TN,39,"29,125",16,-,16,-,23,"22,212",0,-,0,-,0,-,0,-,21,-,0,-,0,-,21,-,208,41.2,125,30.9,40,39.1,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,2021,South Nashville,39,"29,125",16,-,16,-,23,"22,212",0,-,0,-,0,-,0,-,21,-,0,-,0,-,21,-,208,41.2,125,30.9,40,39.1,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-
18,Honky Tonk Brewing,4.5,24,240 Cumberland Bend,Nashville,37228,TN,695,"15,819",143,"29,702",14,-,552,"14,719",635,"15,540",132,"31,250",53,(X),503,"14,693","1,077","52,344",71,-,60,-,"1,006","38,846","1,366",27.2,"1,226",35.5,"1,528",29.8,0,0,0,0,0,0,0,0,-,16,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,2015,Metro Center,695,"15,819",143,"29,702",14,-,552,"14,719",635,"15,540",132,"31,250",53,(X),503,"14,693","1,077","52,344",71,-,60,-,"1,006","38,846","1,366",27.2,"1,226",35.5,"1,528",29.8,0,0,0,0,0,0,0,0,-,16,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-

In [86]:
breweries_df_final.shape[0]

19

In [70]:
zipcode37203 = breweries_df[breweries_df['zip_code'] == 37203]
zipcode37203

,name,rating,review_count,address1,city,zip_code,state,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value
0,Tennessee Brew Works,4.5,459,809 Ewing Ave,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200"
1,Ole Smoky Distillery/Yee-Haw Brewing Co.,4.5,474,423 6th Ave S,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200"
2,Nelson's Green Brier Distillery,5.0,586,1414 Clinton St,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200"
3,TailGate Brewery Music Row,4.5,263,1538 Demonbreun St,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200"
4,Jackalope Brewing Company - The Ranch,4.5,47,429B Houston St,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200"
5,New Heights Brewing Company,4.5,100,928 Rep John Lewis Way S,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200"
6,Hops & Crafts Taproom,4.5,134,319 12th Ave S,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200"
7,Dicey's Tavern,4.5,78,425 Chestnut St,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200"
8,Nashville Craft Distillery,5.0,32,514 Hagan St,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200"
9,Corsair Distillery & Taproom,4.5,237,1200 Clinton St,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200"

In [71]:
zipcode37208 =  breweries_df[breweries_df['zip_code'] == 37208]
zipcode37208

,name,rating,review_count,address1,city,zip_code,state,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value
13,Bearded Iris Brewing,4.5,206,101 Van Buren St,Nashville,37208,TN,"6,317","22,679","3,353","31,166",964,"63,333","2,964","15,870","6,747","27,280","2,995","32,221","1,029",(X),"3,752","22,120","8,415","47,903","3,655","54,669","1,787","89,964","4,760","41,857","16,331",31.4,"16,251",31.6,"18,375",32.1,104,930,446,304,229,99,112,9,"106,900",143,689,531,197,303,284,13,0,"115,700",27,159,166,389,608,794,359,18,"288,100"
14,Monday Night Brewing,4.5,48,1308 Adams St,Nashville,37208,TN,"6,317","22,679","3,353","31,166",964,"63,333","2,964","15,870","6,747","27,280","2,995","32,221","1,029",(X),"3,752","22,120","8,415","47,903","3,655","54,669","1,787","89,964","4,760","41,857","16,331",31.4,"16,251",31.6,"18,375",32.1,104,930,446,304,229,99,112,9,"106,900",143,689,531,197,303,284,13,0,"115,700",27,159,166,389,608,794,359,18,"288,100"
15,Sedona Taphouse,4.5,417,1120 3rd Ave N,Nashville,37208,TN,"6,317","22,679","3,353","31,166",964,"63,333","2,964","15,870","6,747","27,280","2,995","32,221","1,029",(X),"3,752","22,120","8,415","47,903","3,655","54,669","1,787","89,964","4,760","41,857","16,331",31.4,"16,251",31.6,"18,375",32.1,104,930,446,304,229,99,112,9,"106,900",143,689,531,197,303,284,13,0,"115,700",27,159,166,389,608,794,359,18,"288,100"
16,The Picnic Tap,4.5,50,900 Rosa L Parks Blvd,Nashville,37208,TN,"6,317","22,679","3,353","31,166",964,"63,333","2,964","15,870","6,747","27,280","2,995","32,221","1,029",(X),"3,752","22,120","8,415","47,903","3,655","54,669","1,787","89,964","4,760","41,857","16,331",31.4,"16,251",31.6,"18,375",32.1,104,930,446,304,229,99,112,9,"106,900",143,689,531,197,303,284,13,0,"115,700",27,159,166,389,608,794,359,18,"288,100"

In [72]:
zipcode37201 = breweries_df[breweries_df['zip_code'] == 37201]
zipcode37201

,name,rating,review_count,address1,city,zip_code,state,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value
17,The Stillery,4.5,2952,113 2nd Ave N,Nashville,37201,TN,435,"51,678",61,"83,984",61,"83,984",374,"50,227",681,"58,508",131,"93,201",104,"94,024",550,"56,780",620,"92,827",99,"170,819",99,"170,819",521,"80,329","1,590",35.5,"1,870",32.2,"1,745",35.3,0,0,46,39,56,21,0,5,"194,600",0,0,56,70,121,20,0,0,"208,200",0,0,67,0,38,204,59,0,"374,500"
18,Big Machine Brewery & Distillery,4.5,74,122 3rd Ave S,Nashville,37201,TN,435,"51,678",61,"83,984",61,"83,984",374,"50,227",681,"58,508",131,"93,201",104,"94,024",550,"56,780",620,"92,827",99,"170,819",99,"170,819",521,"80,329","1,590",35.5,"1,870",32.2,"1,745",35.3,0,0,46,39,56,21,0,5,"194,600",0,0,56,70,121,20,0,0,"208,200",0,0,67,0,38,204,59,0,"374,500"
19,TailGate Brewery - Germantown,4.5,20,915 3rd Ave N,Nashville,37201,TN,435,"51,678",61,"83,984",61,"83,984",374,"50,227",681,"58,508",131,"93,201",104,"94,024",550,"56,780",620,"92,827",99,"170,819",99,"170,819",521,"80,329","1,590",35.5,"1,870",32.2,"1,745",35.3,0,0,46,39,56,21,0,5,"194,600",0,0,56,70,121,20,0,0,"208,200",0,0,67,0,38,204,59,0,"374,500"
20,City Tap House,4.0,298,204 3rd Ave S,Nashville,37201,TN,435,"51,678",61,"83,984",61,"83,984",374,"50,227",681,"58,508",131,"93,201",104,"94,024",550,"56,780",620,"92,827",99,"170,819",99,"170,819",521,"80,329","1,590",35.5,"1,870",32.2,"1,745",35.3,0,0,46,39,56,21,0,5,"194,600",0,0,56,70,121,20,0,0,"208,200",0,0,67,0,38,204,59,0,"374,500"
21,Acme Feed & Seed,4.0,1855,101 Broadway,Nashville,37201,TN,435,"51,678",61,"83,984",61,"83,984",374,"50,227",681,"58,508",131,"93,201",104,"94,024",550,"56,780",620,"92,827",99,"170,819",99,"170,819",521,"80,329","1,590",35.5,"1,870",32.2,"1,745",35.3,0,0,46,39,56,21,0,5,"194,600",0,0,56,70,121,20,0,0,"208,200",0,0,67,0,38,204,59,0,"374,500"

In [73]:
zipcode37210 = breweries_df[breweries_df['zip_code'] == 37210]
zipcode37210

,name,rating,review_count,address1,city,zip_code,state,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value
38,Fait La Force Brewing,4.5,15,1414 3rd Ave S,Nashville,37210,TN,"5,875","25,662","2,940","29,353","1,310","40,263","2,935","21,602","6,536","29,035","3,053","30,652","1,427","47,125","3,483","25,320","7,337","36,985","3,116","48,791","1,651","64,551","4,221","27,591","14,876",31.5,"16,326",30.5,"16,810",31.6,102,712,949,244,91,46,0,10,"113,400",67,605,934,342,85,8,47,0,"118,500",55,122,252,331,978,351,30,8,"227,100"

In [74]:
zipcode37204 = breweries_df[breweries_df['zip_code'] == 37204]
zipcode37204

,name,rating,review_count,address1,city,zip_code,state,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value
22,The Filling Station,4.5,70,1118 Halcyon Ave,Nashville,37204,TN,"5,341","62,818","2,492","88,527","1,949","99,798","2,849","42,917","5,531","69,482","2,713","109,350","2,108",(X),"2,818","42,865","6,080","89,954","2,958","132,708","2,403","152,188","3,122","64,549","12,422",32.9,"13,169",32.4,"15,908",29.1,27,62,193,366,"1,002","1,305",259,134,"302,800",66,30,151,154,754,"1,597",594,96,"358,300",63,22,21,66,235,923,"1,657",464,"602,500"
23,The Black Abbey Brewing Company,4.5,103,2952 Sidco Dr,Nashville,37204,TN,"5,341","62,818","2,492","88,527","1,949","99,798","2,849","42,917","5,531","69,482","2,713","109,350","2,108",(X),"2,818","42,865","6,080","89,954","2,958","132,708","2,403","152,188","3,122","64,549","12,422",32.9,"13,169",32.4,"15,908",29.1,27,62,193,366,"1,002","1,305",259,134,"302,800",66,30,151,154,754,"1,597",594,96,"358,300",63,22,21,66,235,923,"1,657",464,"602,500"
24,Craft Brewed,4.5,143,2502 8th Ave S,Nashville,37204,TN,"5,341","62,818","2,492","88,527","1,949","99,798","2,849","42,917","5,531","69,482","2,713","109,350","2,108",(X),"2,818","42,865","6,080","89,954","2,958","132,708","2,403","152,188","3,122","64,549","12,422",32.9,"13,169",32.4,"15,908",29.1,27,62,193,366,"1,002","1,305",259,134,"302,800",66,30,151,154,754,"1,597",594,96,"358,300",63,22,21,66,235,923,"1,657",464,"602,500"

In [75]:
zipcode37206 = breweries_df[breweries_df['zip_code'] == 37206]
zipcode37206

,name,rating,review_count,address1,city,zip_code,state,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value
33,Crazy Gnome Brewery,4.5,18,948 Main St,Nashville,37206,TN,"10,721","32,697","5,712","36,049","2,924","58,149","5,009","26,976","10,849","43,782","5,848","45,608","3,187",(X),"5,001","41,026","11,584","66,065","5,814","81,107","3,749","117,542","5,770","53,164","25,772",32.8,"26,323",33.0,"27,055",33.0,163,817,"1,506","1,187",986,569,177,21,"157,700",252,375,"1,119","1,146","1,163","1,139",307,14,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600"
34,TailGate Brewery - East Nashville,4.5,127,811 Gallatin Ave,Nashville,37206,TN,"10,721","32,697","5,712","36,049","2,924","58,149","5,009","26,976","10,849","43,782","5,848","45,608","3,187",(X),"5,001","41,026","11,584","66,065","5,814","81,107","3,749","117,542","5,770","53,164","25,772",32.8,"26,323",33.0,"27,055",33.0,163,817,"1,506","1,187",986,569,177,21,"157,700",252,375,"1,119","1,146","1,163","1,139",307,14,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600"
35,Smith & Lentz Brewing,4.0,133,903 Main St,Nashville,37206,TN,"10,721","32,697","5,712","36,049","2,924","58,149","5,009","26,976","10,849","43,782","5,848","45,608","3,187",(X),"5,001","41,026","11,584","66,065","5,814","81,107","3,749","117,542","5,770","53,164","25,772",32.8,"26,323",33.0,"27,055",33.0,163,817,"1,506","1,187",986,569,177,21,"157,700",252,375,"1,119","1,146","1,163","1,139",307,14,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600"
36,Vinyl Tap,4.5,74,2038 Greenwood Ave,Nashville,37206,TN,"10,721","32,697","5,712","36,049","2,924","58,149","5,009","26,976","10,849","43,782","5,848","45,608","3,187",(X),"5,001","41,026","11,584","66,065","5,814","81,107","3,749","117,542","5,770","53,164","25,772",32.8,"26,323",33.0,"27,055",33.0,163,817,"1,506","1,187",986,569,177,21,"157,700",252,375,"1,119","1,146","1,163","1,139",307,14,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600"
37,The Pharmacy,4.0,3308,731 McFerrin Ave,Nashville,37206,TN,"10,721","32,697","5,712","36,049","2,924","58,149","5,009","26,976","10,849","43,782","5,848","45,608","3,187",(X),"5,001","41,026","11,584","66,065","5,814","81,107","3,749","117,542","5,770","53,164","25,772",32.8,"26,323",33.0,"27,055",33.0,163,817,"1,506","1,187",986,569,177,21,"157,700",252,375,"1,119","1,146","1,163","1,139",307,14,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600"

In [76]:
zipcode37209 = breweries_df[breweries_df['zip_code'] == 37209]
zipcode37209

,name,rating,review_count,address1,city,zip_code,state,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value
25,Fat Bottom Brewing,4.0,286,800 44th Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600"
26,Bearded Iris Brewing - Sylvan Supply,4.0,16,4101 Charlotte Ave,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600"
27,Bold Patriot Brewing Company,4.5,46,410 39th Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600"
28,Southern Grist Brewing Co - Nations Taproom,4.5,62,5012 Centennial Blvd,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600"
29,Blackstone Brewing Company,4.5,42,2312 Clifton Ave,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600"
30,Czanns Brewing Company,4.5,14,4909 Indiana Ave,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600"
31,TailGate Brewery,4.5,358,7300 Charlotte Pike,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600"
32,Harding House Brewing Company,4.5,26,904 51st Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600"

In [77]:
zipcode37213 = breweries_df[breweries_df['zip_code'] == 37213]
zipcode37213

,name,rating,review_count,address1,city,zip_code,state,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value
46,Barrique Brewing And Blending,5.0,14,30 Oldham St,Nashville,37213,TN,39,"29,125",16,-,16,-,23,"22,212",0,-,0,-,0,-,0,-,21,-,0,-,0,-,21,-,208,41.2,125,30.9,40,39.1,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-
47,Music City Brew Hop,5.0,2,NaN,Nashville,37213,TN,39,"29,125",16,-,16,-,23,"22,212",0,-,0,-,0,-,0,-,21,-,0,-,0,-,21,-,208,41.2,125,30.9,40,39.1,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-

In [78]:
opening_df = pd.read_csv('../data/Breweries Opening - csv.csv')
opening_df

                                         name  opening       neighborhood
0                        Tennessee Brew Works     2013              SoBro
1                      Southern Grist Brewing     2016     Cleveland Park
2   Ole Smokey Distillery/Yee-Haw Brewing Co.     2019              SoBro
3                        Bearded Iris Brewing     2016        Germantown
4                  Tailgate Brewery Music Row     2016    Demonbreun Hill
5                        Monday Night Brewing     2021        Germantown
6                          Fat Bottom Brewing     2012        The Nations
7                Bearded Iris - Sylvan Supply     2021        Sylvan Park
8                         Crazy Gnome Brewery     2020          Edgefield
9                   East Nashville Beer Works     2016     East Nashville
10      Jackalope Brewing Company - The Ranch     2018  Wedgewood-Houston
11                      Fait La Force Brewing     2019    South Nashville
12              Tailgate Brewery - Germantown     2022        Germantown
13            The Black Abbey Brewing Company     2013    South Nashville
14               Bold Patriot Brewing Company     2020          Charlotte
15                     Yahzoo Brewing Company     2007            Madison
16                      Living Waters Brewing     2019     East Nashville
17                New Heights Brewing Company     2016    South Nashville
18                          TennFold Brewing      2020           Donelson
19                 Blackstone Brewing Company     2015            Midtown
20          Tailgate Brewery - East Nashville     2018     East Nashville
21                      Smith & Lentz Brewing     2015     East Nashville
22                     Czanns Brewing Company     2021        The Nations
23                           Tailgate Brewery     2014           Bellevue
24              Barrique Brewing And Blending     2021    South Nashville
25              Harding House Brewing Company     2018        The Nations
26                         Honky Tonk Brewing     2015       Metro Center
27                               Diskin Cider     2018  Wedgewood-Houston

In [79]:
breweries_final_df = reduce(lambda left, right:
                      pd.merge(left, right,
                              on=['name']),
                      [breweries_df, opening_df])


breweries_final_df

,name,rating,review_count,address1,city,zip_code,state,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value,opening,neighborhood
0,Tennessee Brew Works,4.5,459,809 Ewing Ave,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2013,SoBro
1,Jackalope Brewing Company - The Ranch,4.5,47,429B Houston St,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2018,Wedgewood-Houston
2,New Heights Brewing Company,4.5,100,928 Rep John Lewis Way S,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2016,South Nashville
3,Southern Grist Brewing,4.5,204,754 Douglas Ave,Nashville,37207,TN,"12,745","30,780","8,341","33,203","3,407","55,298","4,404","23,750","13,591","32,396","8,385","35,720","3,648","59,621","5,206","25,157","15,151","50,583","9,113","53,671","4,155","76,397","6,038","40,773","32,074",34.2,"35,497",34.9,"39,151",35.4,645,"1,638","3,007","1,253",536,115,24,13,"117,600",577,"2,007","2,774","1,389",656,247,9,30,"120,900",602,658,"1,882","1,707","2,294","1,360",210,80,"186,700",2016,Cleveland Park
4,East Nashville Beer Works,4.0,111,320 E Trinity Ln,Nashville,37207,TN,"12,745","30,780","8,341","33,203","3,407","55,298","4,404","23,750","13,591","32,396","8,385","35,720","3,648","59,621","5,206","25,157","15,151","50,583","9,113","53,671","4,155","76,397","6,038","40,773","32,074",34.2,"35,497",34.9,"39,151",35.4,645,"1,638","3,007","1,253",536,115,24,13,"117,600",577,"2,007","2,774","1,389",656,247,9,30,"120,900",602,658,"1,882","1,707","2,294","1,360",210,80,"186,700",2016,East Nashville
5,Bearded Iris Brewing,4.5,206,101 Van Buren St,Nashville,37208,TN,"6,317","22,679","3,353","31,166",964,"63,333","2,964","15,870","6,747","27,280","2,995","32,221","1,029",(X),"3,752","22,120","8,415","47,903","3,655","54,669","1,787","89,964","4,760","41,857","16,331",31.4,"16,251",31.6,"18,375",32.1,104,930,446,304,229,99,112,9,"106,900",143,689,531,197,303,284,13,0,"115,700",27,159,166,389,608,794,359,18,"288,100",2016,Germantown
6,Monday Night Brewing,4.5,48,1308 Adams St,Nashville,37208,TN,"6,317","22,679","3,353","31,166",964,"63,333","2,964","15,870","6,747","27,280","2,995","32,221","1,029",(X),"3,752","22,120","8,415","47,903","3,655","54,669","1,787","89,964","4,760","41,857","16,331",31.4,"16,251",31.6,"18,375",32.1,104,930,446,304,229,99,112,9,"106,900",143,689,531,197,303,284,13,0,"115,700",27,159,166,389,608,794,359,18,"288,100",2021,Germantown
7,The Black Abbey Brewing Company,4.5,103,2952 Sidco Dr,Nashville,37204,TN,"5,341","62,818","2,492","88,527","1,949","99,798","2,849","42,917","5,531","69,482","2,713","109,350","2,108",(X),"2,818","42,865","6,080","89,954","2,958","132,708","2,403","152,188","3,122","64,549","12,422",32.9,"13,169",32.4,"15,908",29.1,27,62,193,366,"1,002","1,305",259,134,"302,800",66,30,151,154,754,"1,597",594,96,"358,300",63,22,21,66,235,923,"1,657",464,"602,500",2013,South Nashville
8,Fat Bottom Brewing,4.0,286,800 44th Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2012,The Nations
9,Fat Bottom Brewing,4.5,4,1 Terminal Dr,Nashville,37214,TN,"13,360","48,684","7,170","54,966","4,845","64,079","6,190","41,557","13,227","52,743","6,667","63,784","4,759","73,449","6,560","42,206","13,890","61,206","7,077","74,135","5,223","86,964","6,813","47,910","29,911",36.7,"29,555",38.1,"30,217",37.5,101,"1,141","3,796","2,318","1,090",363,62,0,"141,800",213,"1,119","3,402","2,512",994,202,0,9,"142,400",148,388,"1,670","1,711","3,005","1,575",120,36,"212,300",2012,The Nations
10,Bold Patriot Brewing Company,4.5,46,410 39th Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2020,Charlotte
11,Blackstone Brewing Company,4.5,42,2312 Clifton Ave,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2015,Midtown
12,Czanns Brewing Company,4.5,14,4909 Indiana Ave,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2021,The Nations
13,Harding House Brewing Company,4.5,26,904 51st Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2018,The Nations
14,Crazy Gnome Brewery,4.5,18,948 Main St,Nashville,37206,TN,"10,721","32,697","5,712","36,049","2,924","58,149","5,009","26,976","10,849","43,782","5,848","45,608","3,187",(X),"5,001","41,026","11,584","66,065","5,814","81,107","3,749","117,542","5,770","53,164","25,772",32.8,"26,323",33.0,"27,055",33.0,163,817,"1,506","1,187",986,569,177,21,"157,700",252,375,"1,119","1,146","1,163","1,139",307,14,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600",2020,Edgefield
15,Smith & Lentz Brewing,4.0,133,903 Main St,Nashville,37206,TN,"10,721","32,697","5,712","36,049","2,924","58,149","5,009","26,976","10,849","43,782","5,848","45,608","3,187",(X),"5,001","41,026","11,584","66,065","5,814","81,107","3,749","117,542","5,770","53,164","25,772",32.8,"26,323",33.0,"27,055",33.0,163,817,"1,506","1,187",986,569,177,21,"157,700",252,375,"1,119","1,146","1,163","1,139",307,14,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600",2015,East Nashville
16,Fait La Force Brewing,4.5,15,1414 3rd Ave S,Nashville,37210,TN,"5,875","25,662","2,940","29,353","1,310","40,263","2,935","21,602","6,536","29,035","3,053","30,652","1,427","47,125","3,483","25,320","7,337","36,985","3,116","48,791","1,651","64,551","4,221","27,591","14,876",31.5,"16,326",30.5,"16,810",31.6,102,712,949,244,91,46,0,10,"113,400",67,605,934,342,85,8,47,0,"118,500",55,122,252,331,978,351,30,8,"227,100",2019,South Nashville
17,Living Waters Brewing,4.5,76,1056 E Trinity Ln,Nashville,37216,TN,"7,812","46,033","4,490","53,784","2,666","69,756","3,322","33,118","7,834","45,472","4,304","55,722","2,890","63,557","3,530","35,905","8,244","62,214","3,897","86,834","2,732","105,739","4,347","46,573","18,912",37.0,"18,479",38.7,"18,081",35.6,179,766,"2,045","1,417",757,167,21,9,"142,600",76,673,"1,483","1,271","1,156",340,29,8,"158,700",64,57,315,507,"2,147","2,481",250,0,"293,800",2019,East Nashville
18,Barrique Brewing And Blending,5.0,14,30 Oldham St,Nashville,37213,TN,39,"29,125",16,-,16,-,23,"22,212",0,-,0,-,0,-,0,-,21,-,0,-,0,-,21,-,208,41.2,125,30.9,40,39.1,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,2021,South Nashville
19,Honky Tonk Brewing,4.5,24,240 Cumberland Bend,Nashville,37228,TN,695,"15,819",143,"29,702",14,-,552,"14,719",635,"15,540",132,"31,250",53,(X),503,"14,693","1,077","52,344",71,-,60,-,"1,006","38,846","1,366",27.2,"1,226",35.5,"1,528",29.8,0,0,0,0,0,0,0,0,-,16,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,2015,Metro Center

In [81]:
breweries_final_df = breweries_final_df.drop(breweries_final_df.index[9])
breweries_final_df

,name,rating,review_count,address1,city,zip_code,state,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value,opening,neighborhood
0,Tennessee Brew Works,4.5,459,809 Ewing Ave,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2013,SoBro
1,Jackalope Brewing Company - The Ranch,4.5,47,429B Houston St,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2018,Wedgewood-Houston
2,New Heights Brewing Company,4.5,100,928 Rep John Lewis Way S,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2016,South Nashville
3,Southern Grist Brewing,4.5,204,754 Douglas Ave,Nashville,37207,TN,"12,745","30,780","8,341","33,203","3,407","55,298","4,404","23,750","13,591","32,396","8,385","35,720","3,648","59,621","5,206","25,157","15,151","50,583","9,113","53,671","4,155","76,397","6,038","40,773","32,074",34.2,"35,497",34.9,"39,151",35.4,645,"1,638","3,007","1,253",536,115,24,13,"117,600",577,"2,007","2,774","1,389",656,247,9,30,"120,900",602,658,"1,882","1,707","2,294","1,360",210,80,"186,700",2016,Cleveland Park
4,East Nashville Beer Works,4.0,111,320 E Trinity Ln,Nashville,37207,TN,"12,745","30,780","8,341","33,203","3,407","55,298","4,404","23,750","13,591","32,396","8,385","35,720","3,648","59,621","5,206","25,157","15,151","50,583","9,113","53,671","4,155","76,397","6,038","40,773","32,074",34.2,"35,497",34.9,"39,151",35.4,645,"1,638","3,007","1,253",536,115,24,13,"117,600",577,"2,007","2,774","1,389",656,247,9,30,"120,900",602,658,"1,882","1,707","2,294","1,360",210,80,"186,700",2016,East Nashville
5,Bearded Iris Brewing,4.5,206,101 Van Buren St,Nashville,37208,TN,"6,317","22,679","3,353","31,166",964,"63,333","2,964","15,870","6,747","27,280","2,995","32,221","1,029",(X),"3,752","22,120","8,415","47,903","3,655","54,669","1,787","89,964","4,760","41,857","16,331",31.4,"16,251",31.6,"18,375",32.1,104,930,446,304,229,99,112,9,"106,900",143,689,531,197,303,284,13,0,"115,700",27,159,166,389,608,794,359,18,"288,100",2016,Germantown
6,Monday Night Brewing,4.5,48,1308 Adams St,Nashville,37208,TN,"6,317","22,679","3,353","31,166",964,"63,333","2,964","15,870","6,747","27,280","2,995","32,221","1,029",(X),"3,752","22,120","8,415","47,903","3,655","54,669","1,787","89,964","4,760","41,857","16,331",31.4,"16,251",31.6,"18,375",32.1,104,930,446,304,229,99,112,9,"106,900",143,689,531,197,303,284,13,0,"115,700",27,159,166,389,608,794,359,18,"288,100",2021,Germantown
7,The Black Abbey Brewing Company,4.5,103,2952 Sidco Dr,Nashville,37204,TN,"5,341","62,818","2,492","88,527","1,949","99,798","2,849","42,917","5,531","69,482","2,713","109,350","2,108",(X),"2,818","42,865","6,080","89,954","2,958","132,708","2,403","152,188","3,122","64,549","12,422",32.9,"13,169",32.4,"15,908",29.1,27,62,193,366,"1,002","1,305",259,134,"302,800",66,30,151,154,754,"1,597",594,96,"358,300",63,22,21,66,235,923,"1,657",464,"602,500",2013,South Nashville
8,Fat Bottom Brewing,4.0,286,800 44th Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2012,The Nations
10,Bold Patriot Brewing Company,4.5,46,410 39th Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2020,Charlotte
11,Blackstone Brewing Company,4.5,42,2312 Clifton Ave,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2015,Midtown
12,Czanns Brewing Company,4.5,14,4909 Indiana Ave,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2021,The Nations
13,Harding House Brewing Company,4.5,26,904 51st Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2018,The Nations
14,Crazy Gnome Brewery,4.5,18,948 Main St,Nashville,37206,TN,"10,721","32,697","5,712","36,049","2,924","58,149","5,009","26,976","10,849","43,782","5,848","45,608","3,187",(X),"5,001","41,026","11,584","66,065","5,814","81,107","3,749","117,542","5,770","53,164","25,772",32.8,"26,323",33.0,"27,055",33.0,163,817,"1,506","1,187",986,569,177,21,"157,700",252,375,"1,119","1,146","1,163","1,139",307,14,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600",2020,Edgefield
15,Smith & Lentz Brewing,4.0,133,903 Main St,Nashville,37206,TN,"10,721","32,697","5,712","36,049","2,924","58,149","5,009","26,976","10,849","43,782","5,848","45,608","3,187",(X),"5,001","41,026","11,584","66,065","5,814","81,107","3,749","117,542","5,770","53,164","25,772",32.8,"26,323",33.0,"27,055",33.0,163,817,"1,506","1,187",986,569,177,21,"157,700",252,375,"1,119","1,146","1,163","1,139",307,14,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600",2015,East Nashville
16,Fait La Force Brewing,4.5,15,1414 3rd Ave S,Nashville,37210,TN,"5,875","25,662","2,940","29,353","1,310","40,263","2,935","21,602","6,536","29,035","3,053","30,652","1,427","47,125","3,483","25,320","7,337","36,985","3,116","48,791","1,651","64,551","4,221","27,591","14,876",31.5,"16,326",30.5,"16,810",31.6,102,712,949,244,91,46,0,10,"113,400",67,605,934,342,85,8,47,0,"118,500",55,122,252,331,978,351,30,8,"227,100",2019,South Nashville
17,Living Waters Brewing,4.5,76,1056 E Trinity Ln,Nashville,37216,TN,"7,812","46,033","4,490","53,784","2,666","69,756","3,322","33,118","7,834","45,472","4,304","55,722","2,890","63,557","3,530","35,905","8,244","62,214","3,897","86,834","2,732","105,739","4,347","46,573","18,912",37.0,"18,479",38.7,"18,081",35.6,179,766,"2,045","1,417",757,167,21,9,"142,600",76,673,"1,483","1,271","1,156",340,29,8,"158,700",64,57,315,507,"2,147","2,481",250,0,"293,800",2019,East Nashville
18,Barrique Brewing And Blending,5.0,14,30 Oldham St,Nashville,37213,TN,39,"29,125",16,-,16,-,23,"22,212",0,-,0,-,0,-,0,-,21,-,0,-,0,-,21,-,208,41.2,125,30.9,40,39.1,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,2021,South Nashville
19,Honky Tonk Brewing,4.5,24,240 Cumberland Bend,Nashville,37228,TN,695,"15,819",143,"29,702",14,-,552,"14,719",635,"15,540",132,"31,250",53,(X),503,"14,693","1,077","52,344",71,-,60,-,"1,006","38,846","1,366",27.2,"1,226",35.5,"1,528",29.8,0,0,0,0,0,0,0,0,-,16,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,2015,Metro Center

In [82]:
breweries_final_df.to_csv(r'C:\Users\sarah\Documents\DA7\projects\repos\breweries-middletn\data\breweries_final_dataframe.csv', index=False, header=True)
breweries_final_df

,name,rating,review_count,address1,city,zip_code,state,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value,opening,neighborhood
0,Tennessee Brew Works,4.5,459,809 Ewing Ave,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2013,SoBro
1,Jackalope Brewing Company - The Ranch,4.5,47,429B Houston St,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2018,Wedgewood-Houston
2,New Heights Brewing Company,4.5,100,928 Rep John Lewis Way S,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2016,South Nashville
3,Southern Grist Brewing,4.5,204,754 Douglas Ave,Nashville,37207,TN,"12,745","30,780","8,341","33,203","3,407","55,298","4,404","23,750","13,591","32,396","8,385","35,720","3,648","59,621","5,206","25,157","15,151","50,583","9,113","53,671","4,155","76,397","6,038","40,773","32,074",34.2,"35,497",34.9,"39,151",35.4,645,"1,638","3,007","1,253",536,115,24,13,"117,600",577,"2,007","2,774","1,389",656,247,9,30,"120,900",602,658,"1,882","1,707","2,294","1,360",210,80,"186,700",2016,Cleveland Park
4,East Nashville Beer Works,4.0,111,320 E Trinity Ln,Nashville,37207,TN,"12,745","30,780","8,341","33,203","3,407","55,298","4,404","23,750","13,591","32,396","8,385","35,720","3,648","59,621","5,206","25,157","15,151","50,583","9,113","53,671","4,155","76,397","6,038","40,773","32,074",34.2,"35,497",34.9,"39,151",35.4,645,"1,638","3,007","1,253",536,115,24,13,"117,600",577,"2,007","2,774","1,389",656,247,9,30,"120,900",602,658,"1,882","1,707","2,294","1,360",210,80,"186,700",2016,East Nashville
5,Bearded Iris Brewing,4.5,206,101 Van Buren St,Nashville,37208,TN,"6,317","22,679","3,353","31,166",964,"63,333","2,964","15,870","6,747","27,280","2,995","32,221","1,029",(X),"3,752","22,120","8,415","47,903","3,655","54,669","1,787","89,964","4,760","41,857","16,331",31.4,"16,251",31.6,"18,375",32.1,104,930,446,304,229,99,112,9,"106,900",143,689,531,197,303,284,13,0,"115,700",27,159,166,389,608,794,359,18,"288,100",2016,Germantown
6,Monday Night Brewing,4.5,48,1308 Adams St,Nashville,37208,TN,"6,317","22,679","3,353","31,166",964,"63,333","2,964","15,870","6,747","27,280","2,995","32,221","1,029",(X),"3,752","22,120","8,415","47,903","3,655","54,669","1,787","89,964","4,760","41,857","16,331",31.4,"16,251",31.6,"18,375",32.1,104,930,446,304,229,99,112,9,"106,900",143,689,531,197,303,284,13,0,"115,700",27,159,166,389,608,794,359,18,"288,100",2021,Germantown
7,The Black Abbey Brewing Company,4.5,103,2952 Sidco Dr,Nashville,37204,TN,"5,341","62,818","2,492","88,527","1,949","99,798","2,849","42,917","5,531","69,482","2,713","109,350","2,108",(X),"2,818","42,865","6,080","89,954","2,958","132,708","2,403","152,188","3,122","64,549","12,422",32.9,"13,169",32.4,"15,908",29.1,27,62,193,366,"1,002","1,305",259,134,"302,800",66,30,151,154,754,"1,597",594,96,"358,300",63,22,21,66,235,923,"1,657",464,"602,500",2013,South Nashville
8,Fat Bottom Brewing,4.0,286,800 44th Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2012,The Nations
10,Bold Patriot Brewing Company,4.5,46,410 39th Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2020,Charlotte
11,Blackstone Brewing Company,4.5,42,2312 Clifton Ave,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2015,Midtown
12,Czanns Brewing Company,4.5,14,4909 Indiana Ave,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2021,The Nations
13,Harding House Brewing Company,4.5,26,904 51st Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2018,The Nations
14,Crazy Gnome Brewery,4.5,18,948 Main St,Nashville,37206,TN,"10,721","32,697","5,712","36,049","2,924","58,149","5,009","26,976","10,849","43,782","5,848","45,608","3,187",(X),"5,001","41,026","11,584","66,065","5,814","81,107","3,749","117,542","5,770","53,164","25,772",32.8,"26,323",33.0,"27,055",33.0,163,817,"1,506","1,187",986,569,177,21,"157,700",252,375,"1,119","1,146","1,163","1,139",307,14,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600",2020,Edgefield
15,Smith & Lentz Brewing,4.0,133,903 Main St,Nashville,37206,TN,"10,721","32,697","5,712","36,049","2,924","58,149","5,009","26,976","10,849","43,782","5,848","45,608","3,187",(X),"5,001","41,026","11,584","66,065","5,814","81,107","3,749","117,542","5,770","53,164","25,772",32.8,"26,323",33.0,"27,055",33.0,163,817,"1,506","1,187",986,569,177,21,"157,700",252,375,"1,119","1,146","1,163","1,139",307,14,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600",2015,East Nashville
16,Fait La Force Brewing,4.5,15,1414 3rd Ave S,Nashville,37210,TN,"5,875","25,662","2,940","29,353","1,310","40,263","2,935","21,602","6,536","29,035","3,053","30,652","1,427","47,125","3,483","25,320","7,337","36,985","3,116","48,791","1,651","64,551","4,221","27,591","14,876",31.5,"16,326",30.5,"16,810",31.6,102,712,949,244,91,46,0,10,"113,400",67,605,934,342,85,8,47,0,"118,500",55,122,252,331,978,351,30,8,"227,100",2019,South Nashville
17,Living Waters Brewing,4.5,76,1056 E Trinity Ln,Nashville,37216,TN,"7,812","46,033","4,490","53,784","2,666","69,756","3,322","33,118","7,834","45,472","4,304","55,722","2,890","63,557","3,530","35,905","8,244","62,214","3,897","86,834","2,732","105,739","4,347","46,573","18,912",37.0,"18,479",38.7,"18,081",35.6,179,766,"2,045","1,417",757,167,21,9,"142,600",76,673,"1,483","1,271","1,156",340,29,8,"158,700",64,57,315,507,"2,147","2,481",250,0,"293,800",2019,East Nashville
18,Barrique Brewing And Blending,5.0,14,30 Oldham St,Nashville,37213,TN,39,"29,125",16,-,16,-,23,"22,212",0,-,0,-,0,-,0,-,21,-,0,-,0,-,21,-,208,41.2,125,30.9,40,39.1,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,2021,South Nashville
19,Honky Tonk Brewing,4.5,24,240 Cumberland Bend,Nashville,37228,TN,695,"15,819",143,"29,702",14,-,552,"14,719",635,"15,540",132,"31,250",53,(X),503,"14,693","1,077","52,344",71,-,60,-,"1,006","38,846","1,366",27.2,"1,226",35.5,"1,528",29.8,0,0,0,0,0,0,0,0,-,16,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,2015,Metro Center

In [95]:
breweries_final_df.rename(columns={'address1':'address'}, inplace=True)
breweries_final_df

,name,rating,review_count,address,city,zip_code,state,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value,opening,neighborhood
0,Tennessee Brew Works,4.5,459,809 Ewing Ave,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2013,SoBro
1,Jackalope Brewing Company - The Ranch,4.5,47,429B Houston St,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2018,Wedgewood-Houston
2,New Heights Brewing Company,4.5,100,928 Rep John Lewis Way S,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2016,South Nashville
3,Southern Grist Brewing,4.5,204,754 Douglas Ave,Nashville,37207,TN,"12,745","30,780","8,341","33,203","3,407","55,298","4,404","23,750","13,591","32,396","8,385","35,720","3,648","59,621","5,206","25,157","15,151","50,583","9,113","53,671","4,155","76,397","6,038","40,773","32,074",34.2,"35,497",34.9,"39,151",35.4,645,"1,638","3,007","1,253",536,115,24,13,"117,600",577,"2,007","2,774","1,389",656,247,9,30,"120,900",602,658,"1,882","1,707","2,294","1,360",210,80,"186,700",2016,Cleveland Park
4,East Nashville Beer Works,4.0,111,320 E Trinity Ln,Nashville,37207,TN,"12,745","30,780","8,341","33,203","3,407","55,298","4,404","23,750","13,591","32,396","8,385","35,720","3,648","59,621","5,206","25,157","15,151","50,583","9,113","53,671","4,155","76,397","6,038","40,773","32,074",34.2,"35,497",34.9,"39,151",35.4,645,"1,638","3,007","1,253",536,115,24,13,"117,600",577,"2,007","2,774","1,389",656,247,9,30,"120,900",602,658,"1,882","1,707","2,294","1,360",210,80,"186,700",2016,East Nashville
5,Bearded Iris Brewing,4.5,206,101 Van Buren St,Nashville,37208,TN,"6,317","22,679","3,353","31,166",964,"63,333","2,964","15,870","6,747","27,280","2,995","32,221","1,029",(X),"3,752","22,120","8,415","47,903","3,655","54,669","1,787","89,964","4,760","41,857","16,331",31.4,"16,251",31.6,"18,375",32.1,104,930,446,304,229,99,112,9,"106,900",143,689,531,197,303,284,13,0,"115,700",27,159,166,389,608,794,359,18,"288,100",2016,Germantown
6,Monday Night Brewing,4.5,48,1308 Adams St,Nashville,37208,TN,"6,317","22,679","3,353","31,166",964,"63,333","2,964","15,870","6,747","27,280","2,995","32,221","1,029",(X),"3,752","22,120","8,415","47,903","3,655","54,669","1,787","89,964","4,760","41,857","16,331",31.4,"16,251",31.6,"18,375",32.1,104,930,446,304,229,99,112,9,"106,900",143,689,531,197,303,284,13,0,"115,700",27,159,166,389,608,794,359,18,"288,100",2021,Germantown
7,The Black Abbey Brewing Company,4.5,103,2952 Sidco Dr,Nashville,37204,TN,"5,341","62,818","2,492","88,527","1,949","99,798","2,849","42,917","5,531","69,482","2,713","109,350","2,108",(X),"2,818","42,865","6,080","89,954","2,958","132,708","2,403","152,188","3,122","64,549","12,422",32.9,"13,169",32.4,"15,908",29.1,27,62,193,366,"1,002","1,305",259,134,"302,800",66,30,151,154,754,"1,597",594,96,"358,300",63,22,21,66,235,923,"1,657",464,"602,500",2013,South Nashville
8,Fat Bottom Brewing,4.0,286,800 44th Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2012,The Nations
10,Bold Patriot Brewing Company,4.5,46,410 39th Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2020,Charlotte
11,Blackstone Brewing Company,4.5,42,2312 Clifton Ave,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2015,Midtown
12,Czanns Brewing Company,4.5,14,4909 Indiana Ave,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2021,The Nations
13,Harding House Brewing Company,4.5,26,904 51st Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2018,The Nations
14,Crazy Gnome Brewery,4.5,18,948 Main St,Nashville,37206,TN,"10,721","32,697","5,712","36,049","2,924","58,149","5,009","26,976","10,849","43,782","5,848","45,608","3,187",(X),"5,001","41,026","11,584","66,065","5,814","81,107","3,749","117,542","5,770","53,164","25,772",32.8,"26,323",33.0,"27,055",33.0,163,817,"1,506","1,187",986,569,177,21,"157,700",252,375,"1,119","1,146","1,163","1,139",307,14,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600",2020,Edgefield
15,Smith & Lentz Brewing,4.0,133,903 Main St,Nashville,37206,TN,"10,721","32,697","5,712","36,049","2,924","58,149","5,009","26,976","10,849","43,782","5,848","45,608","3,187",(X),"5,001","41,026","11,584","66,065","5,814","81,107","3,749","117,542","5,770","53,164","25,772",32.8,"26,323",33.0,"27,055",33.0,163,817,"1,506","1,187",986,569,177,21,"157,700",252,375,"1,119","1,146","1,163","1,139",307,14,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600",2015,East Nashville
16,Fait La Force Brewing,4.5,15,1414 3rd Ave S,Nashville,37210,TN,"5,875","25,662","2,940","29,353","1,310","40,263","2,935","21,602","6,536","29,035","3,053","30,652","1,427","47,125","3,483","25,320","7,337","36,985","3,116","48,791","1,651","64,551","4,221","27,591","14,876",31.5,"16,326",30.5,"16,810",31.6,102,712,949,244,91,46,0,10,"113,400",67,605,934,342,85,8,47,0,"118,500",55,122,252,331,978,351,30,8,"227,100",2019,South Nashville
17,Living Waters Brewing,4.5,76,1056 E Trinity Ln,Nashville,37216,TN,"7,812","46,033","4,490","53,784","2,666","69,756","3,322","33,118","7,834","45,472","4,304","55,722","2,890","63,557","3,530","35,905","8,244","62,214","3,897","86,834","2,732","105,739","4,347","46,573","18,912",37.0,"18,479",38.7,"18,081",35.6,179,766,"2,045","1,417",757,167,21,9,"142,600",76,673,"1,483","1,271","1,156",340,29,8,"158,700",64,57,315,507,"2,147","2,481",250,0,"293,800",2019,East Nashville
18,Barrique Brewing And Blending,5.0,14,30 Oldham St,Nashville,37213,TN,39,"29,125",16,-,16,-,23,"22,212",0,-,0,-,0,-,0,-,21,-,0,-,0,-,21,-,208,41.2,125,30.9,40,39.1,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,2021,South Nashville
19,Honky Tonk Brewing,4.5,24,240 Cumberland Bend,Nashville,37228,TN,695,"15,819",143,"29,702",14,-,552,"14,719",635,"15,540",132,"31,250",53,(X),503,"14,693","1,077","52,344",71,-,60,-,"1,006","38,846","1,366",27.2,"1,226",35.5,"1,528",29.8,0,0,0,0,0,0,0,0,-,16,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,2015,Metro Center

In [96]:
breweries_final_df.to_csv(r'C:\Users\sarah\Documents\DA7\projects\repos\breweries-middletn\data\breweries_final_dataframe.csv', index=False, header=True)
breweries_final_df

,name,rating,review_count,address,city,zip_code,state,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value,opening,neighborhood
0,Tennessee Brew Works,4.5,459,809 Ewing Ave,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2013,SoBro
1,Jackalope Brewing Company - The Ranch,4.5,47,429B Houston St,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2018,Wedgewood-Houston
2,New Heights Brewing Company,4.5,100,928 Rep John Lewis Way S,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2016,South Nashville
3,Southern Grist Brewing,4.5,204,754 Douglas Ave,Nashville,37207,TN,"12,745","30,780","8,341","33,203","3,407","55,298","4,404","23,750","13,591","32,396","8,385","35,720","3,648","59,621","5,206","25,157","15,151","50,583","9,113","53,671","4,155","76,397","6,038","40,773","32,074",34.2,"35,497",34.9,"39,151",35.4,645,"1,638","3,007","1,253",536,115,24,13,"117,600",577,"2,007","2,774","1,389",656,247,9,30,"120,900",602,658,"1,882","1,707","2,294","1,360",210,80,"186,700",2016,Cleveland Park
4,East Nashville Beer Works,4.0,111,320 E Trinity Ln,Nashville,37207,TN,"12,745","30,780","8,341","33,203","3,407","55,298","4,404","23,750","13,591","32,396","8,385","35,720","3,648","59,621","5,206","25,157","15,151","50,583","9,113","53,671","4,155","76,397","6,038","40,773","32,074",34.2,"35,497",34.9,"39,151",35.4,645,"1,638","3,007","1,253",536,115,24,13,"117,600",577,"2,007","2,774","1,389",656,247,9,30,"120,900",602,658,"1,882","1,707","2,294","1,360",210,80,"186,700",2016,East Nashville
5,Bearded Iris Brewing,4.5,206,101 Van Buren St,Nashville,37208,TN,"6,317","22,679","3,353","31,166",964,"63,333","2,964","15,870","6,747","27,280","2,995","32,221","1,029",(X),"3,752","22,120","8,415","47,903","3,655","54,669","1,787","89,964","4,760","41,857","16,331",31.4,"16,251",31.6,"18,375",32.1,104,930,446,304,229,99,112,9,"106,900",143,689,531,197,303,284,13,0,"115,700",27,159,166,389,608,794,359,18,"288,100",2016,Germantown
6,Monday Night Brewing,4.5,48,1308 Adams St,Nashville,37208,TN,"6,317","22,679","3,353","31,166",964,"63,333","2,964","15,870","6,747","27,280","2,995","32,221","1,029",(X),"3,752","22,120","8,415","47,903","3,655","54,669","1,787","89,964","4,760","41,857","16,331",31.4,"16,251",31.6,"18,375",32.1,104,930,446,304,229,99,112,9,"106,900",143,689,531,197,303,284,13,0,"115,700",27,159,166,389,608,794,359,18,"288,100",2021,Germantown
7,The Black Abbey Brewing Company,4.5,103,2952 Sidco Dr,Nashville,37204,TN,"5,341","62,818","2,492","88,527","1,949","99,798","2,849","42,917","5,531","69,482","2,713","109,350","2,108",(X),"2,818","42,865","6,080","89,954","2,958","132,708","2,403","152,188","3,122","64,549","12,422",32.9,"13,169",32.4,"15,908",29.1,27,62,193,366,"1,002","1,305",259,134,"302,800",66,30,151,154,754,"1,597",594,96,"358,300",63,22,21,66,235,923,"1,657",464,"602,500",2013,South Nashville
8,Fat Bottom Brewing,4.0,286,800 44th Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2012,The Nations
10,Bold Patriot Brewing Company,4.5,46,410 39th Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2020,Charlotte
11,Blackstone Brewing Company,4.5,42,2312 Clifton Ave,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2015,Midtown
12,Czanns Brewing Company,4.5,14,4909 Indiana Ave,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2021,The Nations
13,Harding House Brewing Company,4.5,26,904 51st Ave N,Nashville,37209,TN,"13,840","41,023","6,648","48,039","3,661","70,320","7,192","36,008","14,132","45,224","7,436","54,232","4,337",(X),"6,696","36,683","16,513","61,096","7,684","78,679","5,233","96,580","8,829","48,758","35,179",31.6,"37,308",30.7,"37,852",31.7,223,971,"1,511","1,564","1,555",622,156,42,"169,200",166,757,"1,312","1,338","1,600","1,019",395,27,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600",2018,The Nations
14,Crazy Gnome Brewery,4.5,18,948 Main St,Nashville,37206,TN,"10,721","32,697","5,712","36,049","2,924","58,149","5,009","26,976","10,849","43,782","5,848","45,608","3,187",(X),"5,001","41,026","11,584","66,065","5,814","81,107","3,749","117,542","5,770","53,164","25,772",32.8,"26,323",33.0,"27,055",33.0,163,817,"1,506","1,187",986,569,177,21,"157,700",252,375,"1,119","1,146","1,163","1,139",307,14,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600",2020,Edgefield
15,Smith & Lentz Brewing,4.0,133,903 Main St,Nashville,37206,TN,"10,721","32,697","5,712","36,049","2,924","58,149","5,009","26,976","10,849","43,782","5,848","45,608","3,187",(X),"5,001","41,026","11,584","66,065","5,814","81,107","3,749","117,542","5,770","53,164","25,772",32.8,"26,323",33.0,"27,055",33.0,163,817,"1,506","1,187",986,569,177,21,"157,700",252,375,"1,119","1,146","1,163","1,139",307,14,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600",2015,East Nashville
16,Fait La Force Brewing,4.5,15,1414 3rd Ave S,Nashville,37210,TN,"5,875","25,662","2,940","29,353","1,310","40,263","2,935","21,602","6,536","29,035","3,053","30,652","1,427","47,125","3,483","25,320","7,337","36,985","3,116","48,791","1,651","64,551","4,221","27,591","14,876",31.5,"16,326",30.5,"16,810",31.6,102,712,949,244,91,46,0,10,"113,400",67,605,934,342,85,8,47,0,"118,500",55,122,252,331,978,351,30,8,"227,100",2019,South Nashville
17,Living Waters Brewing,4.5,76,1056 E Trinity Ln,Nashville,37216,TN,"7,812","46,033","4,490","53,784","2,666","69,756","3,322","33,118","7,834","45,472","4,304","55,722","2,890","63,557","3,530","35,905","8,244","62,214","3,897","86,834","2,732","105,739","4,347","46,573","18,912",37.0,"18,479",38.7,"18,081",35.6,179,766,"2,045","1,417",757,167,21,9,"142,600",76,673,"1,483","1,271","1,156",340,29,8,"158,700",64,57,315,507,"2,147","2,481",250,0,"293,800",2019,East Nashville
18,Barrique Brewing And Blending,5.0,14,30 Oldham St,Nashville,37213,TN,39,"29,125",16,-,16,-,23,"22,212",0,-,0,-,0,-,0,-,21,-,0,-,0,-,21,-,208,41.2,125,30.9,40,39.1,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,2021,South Nashville
19,Honky Tonk Brewing,4.5,24,240 Cumberland Bend,Nashville,37228,TN,695,"15,819",143,"29,702",14,-,552,"14,719",635,"15,540",132,"31,250",53,(X),503,"14,693","1,077","52,344",71,-,60,-,"1,006","38,846","1,366",27.2,"1,226",35.5,"1,528",29.8,0,0,0,0,0,0,0,0,-,16,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,2015,Metro Center