In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from functools import reduce

%matplotlib inline
pd.options.display.max_columns = None
# pd.options.display.max_rows = None

In [2]:
without_df = pd.read_csv("../data/zipcodes_df_final.csv")
without_df.head()

,zip_code,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value
0,37013,"30,245","48,198","18,524","57,348","12,583","67,580","11,721","37,043","33,117","48,423","20,499","56,074","13,443","67,487","12,618","38,067","36,217","60,602","23,302","66,420","15,188","76,702","12,915","47,725","76,983",31.2,"90,073",31.8,"99,109",31.8,521,"1,374","7,447","5,266","2,712",472,166,39,"148,000",620,"1,800","6,982","5,845","2,160",481,149,66,"147,600",636,727,"2,716","5,454","7,622","2,623",241,188,"205,800"
1,37015,"6,577","45,018","4,545","53,102","3,186","63,900","2,032","26,038","6,734","47,253","4,615","58,831","3,550","67,551","2,119","30,930","6,821","59,144","4,743","64,059","3,414","73,448","2,078","34,010","16,976",38.6,"18,361",39.7,"17,835",41.5,497,858,"1,413","1,071",782,266,110,41,"139,100",399,972,"1,472",870,996,249,67,8,"139,800",258,562,"1,118",992,"1,253",625,185,0,"175,400"
2,37027,"17,346","113,696","13,954","131,049","12,646","140,678","3,392","49,671","18,642","119,570","15,150","139,167","13,725","148,871","3,492","54,059","20,608","133,254","15,670","162,549","14,144","172,821","4,938","62,997","48,067",41.0,"53,242",41.2,"57,096",41.8,117,95,318,679,"1,865","6,339","4,659","1,053","444,100",219,106,373,687,"1,702","6,300","5,644","1,014","456,000",159,49,177,262,911,"3,937","9,768","1,891","627,700"
3,37064,"17,869","72,798","13,549","87,741","11,289","100,782","4,320","38,988","19,527","80,898","14,783","99,522","12,328",(X),"4,744","38,965","21,795","105,342","16,861","122,202","14,497","133,614","4,934","43,996","48,318",39.3,"53,212",40.0,"60,272",40.8,393,376,903,"1,649","3,672","4,785","2,007",434,"303,500",527,312,"1,120","1,206","3,583","5,573","2,199",438,"319,200",236,70,318,522,"1,768","7,203","6,153",921,"460,900"
4,37072,"11,747","51,353","8,158","61,942","6,211","69,528","3,589","35,430","12,458","57,846","8,262","67,047","5,942",(X),"4,196","35,781","12,869","62,655","8,205","80,254","5,827","89,630","4,664","41,850","29,279",41.8,"31,392",42.6,"31,134",43.4,569,596,"1,748","2,277","1,697","1,088",257,20,"174,500",533,430,"1,918","2,232","1,838","1,186",183,59,"172,200",401,247,693,"1,677","3,288","2,160",353,50,"237,500"

In [4]:
without_df1 = without_df.replace(',', '', regex=True)
without_df1['zip_code'] = without_df1['zip_code'].astype(str)
without_df1
without_df1[['2011 Median Value', '2015 Median Value', '2020 Median Value']] = without_df1[['2011 Median Value', '2015 Median Value', '2020 Median Value']].astype(int)
without_df1.head()

,zip_code,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value
0,37013,30245,48198,18524,57348,12583,67580,11721,37043,33117,48423,20499,56074,13443,67487,12618,38067,36217,60602,23302,66420,15188,76702,12915,47725,76983,31.2,90073,31.8,99109,31.8,521,1374,7447,5266,2712,472,166,39,148000,620,1800,6982,5845,2160,481,149,66,147600,636,727,2716,5454,7622,2623,241,188,205800
1,37015,6577,45018,4545,53102,3186,63900,2032,26038,6734,47253,4615,58831,3550,67551,2119,30930,6821,59144,4743,64059,3414,73448,2078,34010,16976,38.6,18361,39.7,17835,41.5,497,858,1413,1071,782,266,110,41,139100,399,972,1472,870,996,249,67,8,139800,258,562,1118,992,1253,625,185,0,175400
2,37027,17346,113696,13954,131049,12646,140678,3392,49671,18642,119570,15150,139167,13725,148871,3492,54059,20608,133254,15670,162549,14144,172821,4938,62997,48067,41.0,53242,41.2,57096,41.8,117,95,318,679,1865,6339,4659,1053,444100,219,106,373,687,1702,6300,5644,1014,456000,159,49,177,262,911,3937,9768,1891,627700
3,37064,17869,72798,13549,87741,11289,100782,4320,38988,19527,80898,14783,99522,12328,(X),4744,38965,21795,105342,16861,122202,14497,133614,4934,43996,48318,39.3,53212,40.0,60272,40.8,393,376,903,1649,3672,4785,2007,434,303500,527,312,1120,1206,3583,5573,2199,438,319200,236,70,318,522,1768,7203,6153,921,460900
4,37072,11747,51353,8158,61942,6211,69528,3589,35430,12458,57846,8262,67047,5942,(X),4196,35781,12869,62655,8205,80254,5827,89630,4664,41850,29279,41.8,31392,42.6,31134,43.4,569,596,1748,2277,1697,1088,257,20,174500,533,430,1918,2232,1838,1186,183,59,172200,401,247,693,1677,3288,2160,353,50,237500

In [6]:
without_df2 = without_df1[['zip_code', '2011 Median Value', '2015 Median Value', '2020 Median Value']]
without_df2.head()

  zip_code  2011 Median Value  2015 Median Value  2020 Median Value
0    37013             148000             147600             205800
1    37015             139100             139800             175400
2    37027             444100             456000             627700
3    37064             303500             319200             460900
4    37072             174500             172200             237500

In [8]:
without_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   zip_code           25 non-null     object
 1   2011 Median Value  25 non-null     int32
 2   2015 Median Value  25 non-null     int32
 3   2020 Median Value  25 non-null     int32
 4   average growth     0 non-null      float64
dtypes: float64(1), int32(3), object(1)
memory usage: 828.0+ bytes

In [9]:
without_df2['average growth'] = without_df2[['2011 Median Value', '2015 Median Value', '2020 Median Value']].mean(1).round()
without_df2

C:\Users\sarah\AppData\Local\Temp\ipykernel_15640\855297614.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_df2['average growth'] = without_df2[['2011 Median Value', '2015 Median Value', '2020 Median Value']].mean(1).round()

,zip_code,2011 Median Value,2015 Median Value,2020 Median Value,average growth
0,37013,148000,147600,205800,167133.0
1,37015,139100,139800,175400,151433.0
2,37027,444100,456000,627700,509267.0
3,37064,303500,319200,460900,361200.0
4,37072,174500,172200,237500,194733.0
5,37076,156600,159800,230900,182433.0
6,37080,158800,169000,227800,185200.0
7,37086,134900,124200,178300,145800.0
8,37115,123400,122700,184900,143667.0
9,37122,210900,223700,307700,247433.0
10,37135,300000,311100,441700,350933.0
11,37138,166600,169000,239800,191800.0
12,37143,189000,178400,234900,200767.0
13,37189,172500,162500,236100,190367.0
14,37201,194600,208200,374500,259100.0
15,37205,415100,443900,613300,490767.0
16,37211,162400,162700,250900,192000.0
17,37212,381000,433000,592800,468933.0
18,37214,141800,142400,212300,165500.0
19,37215,453300,510300,682600,548733.0
20,37217,138100,131000,194800,154633.0
21,37218,121000,128500,191900,147133.0
22,37219,226500,275600,277100,259733.0
23,37220,316600,346700,506500,389933.0
24,37221,226700,225800,307400,253300.0