In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from functools import reduce

%matplotlib inline
# pd.options.display.max_columns = None
# pd.options.display.max_rows = None

In [2]:
zipcodes_df = pd.read_csv("../data/zipcodes_df.csv")
zipcodes_df.head()

,zip_code,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,...,2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value
0,37013,"30,245","48,198","18,524","57,348","12,583","67,580","11,721","37,043","33,117",...,"147,600",636,727,"2,716","5,454","7,622","2,623",241,188,"205,800"
1,37015,"6,577","45,018","4,545","53,102","3,186","63,900","2,032","26,038","6,734",...,"139,800",258,562,"1,118",992,"1,253",625,185,0,"175,400"
2,37027,"17,346","113,696","13,954","131,049","12,646","140,678","3,392","49,671","18,642",...,"456,000",159,49,177,262,911,"3,937","9,768","1,891","627,700"
3,37064,"17,869","72,798","13,549","87,741","11,289","100,782","4,320","38,988","19,527",...,"319,200",236,70,318,522,"1,768","7,203","6,153",921,"460,900"
4,37072,"11,747","51,353","8,158","61,942","6,211","69,528","3,589","35,430","12,458",...,"172,200",401,247,693,"1,677","3,288","2,160",353,50,"237,500"

In [3]:
zipcodes = zipcodes_df[['zip_code','2011 total household','2011 household median income', '2011 Median Value', '2011 population',
                       '2015 total household', '2015 household median income', '2015 Median Value', '2015 population',
                       '2020 total household', '2020 household median income', '2020 Median Value', '2020 population']]

zipcodes = zipcodes.replace(',', '', regex=True)
zipcodes

zipcodes = zipcodes.replace('-', '0', regex=True)
zipcodes

zipcodes['zip_code'] = zipcodes[['zip_code']].astype(str)
zipcodes

zipcodes[['2011 total household','2011 household median income', '2011 Median Value', '2011 population','2015 total household', '2015 household median income', '2015 Median Value', '2015 population','2020 total household', '2020 household median income', '2020 Median Value', '2020 population']] = zipcodes[['2011 total household','2011 household median income', '2011 Median Value', '2011 population', '2015 total household', '2015 household median income', '2015 Median Value', '2015 population','2020 total household', '2020 household median income', '2020 Median Value', '2020 population']].astype(int)
zipcodes

zipcodes = zipcodes.drop(zipcodes.index[36]).drop(zipcodes.index[37])
zipcodes

,zip_code,2011 total household,2011 household median income,2011 Median Value,2011 population,2015 total household,2015 household median income,2015 Median Value,2015 population,2020 total household,2020 household median income,2020 Median Value,2020 population
0,37013,30245,48198,148000,76983,33117,48423,147600,90073,36217,60602,205800,99109
1,37015,6577,45018,139100,16976,6734,47253,139800,18361,6821,59144,175400,17835
2,37027,17346,113696,444100,48067,18642,119570,456000,53242,20608,133254,627700,57096
3,37064,17869,72798,303500,48318,19527,80898,319200,53212,21795,105342,460900,60272
4,37072,11747,51353,174500,29279,12458,57846,172200,31392,12869,62655,237500,31134
5,37076,15205,52428,156600,36970,15720,52193,159800,37749,16682,64392,230900,38647
6,37080,2807,58358,158800,7609,2895,54611,169000,7079,3143,63201,227800,7537
7,37086,10221,53803,134900,30917,10342,53672,124200,33054,11552,64130,178300,34362
8,37115,16037,36826,123400,36839,16025,35758,122700,39846,17024,46777,184900,39573
9,37122,16301,72445,210900,44711,18587,74866,223700,51660,22013,92944,307700,61002
10,37135,2979,97438,300000,8509,3516,103333,311100,10374,5356,128281,441700,17318
11,37138,8878,55741,166600,21416,8933,58849,169000,23408,9369,73710,239800,23789
12,37143,1515,64063,189000,4167,1378,57635,178400,3847,1459,71094,234900,3905
13,37189,1323,46068,172500,3763,1258,48115,162500,3476,1717,74963,236100,4453
14,37201,435,51678,194600,1590,681,58508,208200,1870,620,92827,374500,1745
15,37203,4915,25852,193900,10465,5777,33072,235800,12068,10201,58032,380200,16772
16,37204,5341,62818,302800,12422,5531,69482,358300,13169,6080,89954,602500,15908
17,37205,10525,82476,415100,23263,10875,86824,443900,24341,10999,107876,613300,23680
18,37206,10721,32697,157700,25772,10849,43782,193200,26323,11584,66065,359600,27055
19,37207,12745,30780,117600,32074,13591,32396,120900,35497,15151,50583,186700,39151
20,37208,6317,22679,106900,16331,6747,27280,115700,16251,8415,47903,288100,18375
21,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,61096,351600,37852
22,37210,5875,25662,113400,14876,6536,29035,118500,16326,7337,36985,227100,16810
23,37211,28678,43858,162400,73475,29828,42392,162700,77960,29353,59075,250900,75199
24,37212,6269,50531,381000,17920,6583,54140,433000,20130,7149,71699,592800,20672
25,37213,39,29125,0,208,0,0,0,125,21,0,0,40
26,37214,13360,48684,141800,29911,13227,52743,142400,29555,13890,61206,212300,30217
27,37215,9662,90899,453300,21380,9708,103693,510300,21691,10541,122715,682600,23044
28,37216,7812,46033,142600,18912,7834,45472,158700,18479,8244,62214,293800,18081
29,37217,11882,41957,138100,29848,12273,42455,131000,28885,12724,50423,194800,30947
30,37218,5239,46829,121000,14441,5290,42733,128500,15044,5816,46434,191900,15582
31,37219,735,44543,226500,975,856,50700,275600,1039,777,85463,277100,1043
32,37220,2374,95878,316600,5921,2316,104297,346700,5611,2368,117917,506500,5894
33,37221,16297,66982,226700,38054,16446,71726,225800,39313,18140,85933,307400,41736
34,37228,695,15819,0,1366,635,15540,0,1226,1077,52344,0,1528
35,37240,87,57847,0,988,0,0,0,717,0,0,0,759

In [4]:
#housing value
zipcodes['housing value avg growth'] = zipcodes[['2011 Median Value', '2015 Median Value', '2020 Median Value']].mean(1).round()

zipcodes['housing value avg growth rate'] = (zipcodes['2020 Median Value']-zipcodes['2011 Median Value'])/zipcodes['2011 Median Value']*100

#population
zipcodes['population avg growth'] = zipcodes[['2011 population', '2015 population', '2020 population']].mean(1).round()

zipcodes['population avg growth rate'] = (zipcodes['2020 population']-zipcodes['2011 population'])/zipcodes['2011 population']*100

#income
zipcodes['income avg growth'] = zipcodes[['2011 household median income', '2015 household median income', '2020 household median income']].mean(1).round()

zipcodes['income avg growth rate'] = (zipcodes['2020 household median income']-zipcodes['2011 household median income'])/zipcodes['2011 household median income']*100

zipcodes

,zip_code,2011 total household,2011 household median income,2011 Median Value,2011 population,2015 total household,2015 household median income,2015 Median Value,2015 population,2020 total household,2020 household median income,2020 Median Value,2020 population,housing value avg growth,housing value avg growth rate,population avg growth,population avg growth rate,income avg growth,income avg growth rate
0,37013,30245,48198,148000,76983,33117,48423,147600,90073,36217,60602,205800,99109,167133.0,39.054054,88722.0,28.741410,52408.0,25.735508
1,37015,6577,45018,139100,16976,6734,47253,139800,18361,6821,59144,175400,17835,151433.0,26.096334,17724.0,5.060085,50472.0,31.378560
2,37027,17346,113696,444100,48067,18642,119570,456000,53242,20608,133254,627700,57096,509267.0,41.342040,52802.0,18.784197,122173.0,17.202012
3,37064,17869,72798,303500,48318,19527,80898,319200,53212,21795,105342,460900,60272,361200.0,51.861614,53934.0,24.740262,86346.0,44.704525
4,37072,11747,51353,174500,29279,12458,57846,172200,31392,12869,62655,237500,31134,194733.0,36.103152,30602.0,6.335599,57285.0,22.008451
5,37076,15205,52428,156600,36970,15720,52193,159800,37749,16682,64392,230900,38647,182433.0,47.445722,37789.0,4.536110,56338.0,22.819867
6,37080,2807,58358,158800,7609,2895,54611,169000,7079,3143,63201,227800,7537,185200.0,43.450882,7408.0,-0.946248,58723.0,8.298777
7,37086,10221,53803,134900,30917,10342,53672,124200,33054,11552,64130,178300,34362,145800.0,32.171979,32778.0,11.142737,57202.0,19.194097
8,37115,16037,36826,123400,36839,16025,35758,122700,39846,17024,46777,184900,39573,143667.0,49.837925,38753.0,7.421483,39787.0,27.021669
9,37122,16301,72445,210900,44711,18587,74866,223700,51660,22013,92944,307700,61002,247433.0,45.898530,52458.0,36.436224,80085.0,28.295949
10,37135,2979,97438,300000,8509,3516,103333,311100,10374,5356,128281,441700,17318,350933.0,47.233333,12067.0,103.525679,109684.0,31.653975
11,37138,8878,55741,166600,21416,8933,58849,169000,23408,9369,73710,239800,23789,191800.0,43.937575,22871.0,11.080501,62767.0,32.236594
12,37143,1515,64063,189000,4167,1378,57635,178400,3847,1459,71094,234900,3905,200767.0,24.285714,3973.0,-6.287497,64264.0,10.975134
13,37189,1323,46068,172500,3763,1258,48115,162500,3476,1717,74963,236100,4453,190367.0,36.869565,3897.0,18.336434,56382.0,62.722497
14,37201,435,51678,194600,1590,681,58508,208200,1870,620,92827,374500,1745,259100.0,92.446043,1735.0,9.748428,67671.0,79.625760
15,37203,4915,25852,193900,10465,5777,33072,235800,12068,10201,58032,380200,16772,269967.0,96.080454,13102.0,60.267559,38985.0,124.477797
16,37204,5341,62818,302800,12422,5531,69482,358300,13169,6080,89954,602500,15908,421200.0,98.976222,13833.0,28.063114,74085.0,43.197810
17,37205,10525,82476,415100,23263,10875,86824,443900,24341,10999,107876,613300,23680,490767.0,47.747531,23761.0,1.792546,92392.0,30.796838
18,37206,10721,32697,157700,25772,10849,43782,193200,26323,11584,66065,359600,27055,236833.0,128.027901,26383.0,4.978271,47515.0,102.052176
19,37207,12745,30780,117600,32074,13591,32396,120900,35497,15151,50583,186700,39151,141733.0,58.758503,35574.0,22.064601,37920.0,64.337232
20,37208,6317,22679,106900,16331,6747,27280,115700,16251,8415,47903,288100,18375,170233.0,169.504210,16986.0,12.516074,32621.0,111.221835
21,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,61096,351600,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087
22,37210,5875,25662,113400,14876,6536,29035,118500,16326,7337,36985,227100,16810,153000.0,100.264550,16004.0,13.000807,30561.0,44.123607
23,37211,28678,43858,162400,73475,29828,42392,162700,77960,29353,59075,250900,75199,192000.0,54.495074,75545.0,2.346376,48442.0,34.696065
24,37212,6269,50531,381000,17920,6583,54140,433000,20130,7149,71699,592800,20672,468933.0,55.590551,19574.0,15.357143,58790.0,41.891116
25,37213,39,29125,0,208,0,0,0,125,21,0,0,40,0.0,NaN,124.0,-80.769231,9708.0,-100.000000
26,37214,13360,48684,141800,29911,13227,52743,142400,29555,13890,61206,212300,30217,165500.0,49.717913,29894.0,1.023035,54211.0,25.720976
27,37215,9662,90899,453300,21380,9708,103693,510300,21691,10541,122715,682600,23044,548733.0,50.584602,22038.0,7.782975,105769.0,35.001485
28,37216,7812,46033,142600,18912,7834,45472,158700,18479,8244,62214,293800,18081,198367.0,106.030856,18491.0,-4.394036,51240.0,35.150870
29,37217,11882,41957,138100,29848,12273,42455,131000,28885,12724,50423,194800,30947,154633.0,41.057205,29893.0,3.681989,44945.0,20.177801
30,37218,5239,46829,121000,14441,5290,42733,128500,15044,5816,46434,191900,15582,147133.0,58.595041,15022.0,7.901115,45332.0,-0.843494
31,37219,735,44543,226500,975,856,50700,275600,1039,777,85463,277100,1043,259733.0,22.339956,1019.0,6.974359,60235.0,91.866287
32,37220,2374,95878,316600,5921,2316,104297,346700,5611,2368,117917,506500,5894,389933.0,59.981049,5809.0,-0.456004,106031.0,22.986504
33,37221,16297,66982,226700,38054,16446,71726,225800,39313,18140,85933,307400,41736,253300.0,35.597706,39701.0,9.675724,74880.0,28.292676
34,37228,695,15819,0,1366,635,15540,0,1226,1077,52344,0,1528,0.0,NaN,1373.0,11.859444,27901.0,230.893230
35,37240,87,57847,0,988,0,0,0,717,0,0,0,759,0.0,NaN,821.0,-23.178138,19282.0,-100.000000

In [5]:
zipcodes_without = zipcodes.drop([15, 19, 20, 16, 21, 18, 22, 28, 25, 34])
zipcodes_without

,zip_code,2011 total household,2011 household median income,2011 Median Value,2011 population,2015 total household,2015 household median income,2015 Median Value,2015 population,2020 total household,2020 household median income,2020 Median Value,2020 population,housing value avg growth,housing value avg growth rate,population avg growth,population avg growth rate,income avg growth,income avg growth rate
0,37013,30245,48198,148000,76983,33117,48423,147600,90073,36217,60602,205800,99109,167133.0,39.054054,88722.0,28.741410,52408.0,25.735508
1,37015,6577,45018,139100,16976,6734,47253,139800,18361,6821,59144,175400,17835,151433.0,26.096334,17724.0,5.060085,50472.0,31.378560
2,37027,17346,113696,444100,48067,18642,119570,456000,53242,20608,133254,627700,57096,509267.0,41.342040,52802.0,18.784197,122173.0,17.202012
3,37064,17869,72798,303500,48318,19527,80898,319200,53212,21795,105342,460900,60272,361200.0,51.861614,53934.0,24.740262,86346.0,44.704525
4,37072,11747,51353,174500,29279,12458,57846,172200,31392,12869,62655,237500,31134,194733.0,36.103152,30602.0,6.335599,57285.0,22.008451
5,37076,15205,52428,156600,36970,15720,52193,159800,37749,16682,64392,230900,38647,182433.0,47.445722,37789.0,4.536110,56338.0,22.819867
6,37080,2807,58358,158800,7609,2895,54611,169000,7079,3143,63201,227800,7537,185200.0,43.450882,7408.0,-0.946248,58723.0,8.298777
7,37086,10221,53803,134900,30917,10342,53672,124200,33054,11552,64130,178300,34362,145800.0,32.171979,32778.0,11.142737,57202.0,19.194097
8,37115,16037,36826,123400,36839,16025,35758,122700,39846,17024,46777,184900,39573,143667.0,49.837925,38753.0,7.421483,39787.0,27.021669
9,37122,16301,72445,210900,44711,18587,74866,223700,51660,22013,92944,307700,61002,247433.0,45.898530,52458.0,36.436224,80085.0,28.295949
10,37135,2979,97438,300000,8509,3516,103333,311100,10374,5356,128281,441700,17318,350933.0,47.233333,12067.0,103.525679,109684.0,31.653975
11,37138,8878,55741,166600,21416,8933,58849,169000,23408,9369,73710,239800,23789,191800.0,43.937575,22871.0,11.080501,62767.0,32.236594
12,37143,1515,64063,189000,4167,1378,57635,178400,3847,1459,71094,234900,3905,200767.0,24.285714,3973.0,-6.287497,64264.0,10.975134
13,37189,1323,46068,172500,3763,1258,48115,162500,3476,1717,74963,236100,4453,190367.0,36.869565,3897.0,18.336434,56382.0,62.722497
14,37201,435,51678,194600,1590,681,58508,208200,1870,620,92827,374500,1745,259100.0,92.446043,1735.0,9.748428,67671.0,79.625760
17,37205,10525,82476,415100,23263,10875,86824,443900,24341,10999,107876,613300,23680,490767.0,47.747531,23761.0,1.792546,92392.0,30.796838
23,37211,28678,43858,162400,73475,29828,42392,162700,77960,29353,59075,250900,75199,192000.0,54.495074,75545.0,2.346376,48442.0,34.696065
24,37212,6269,50531,381000,17920,6583,54140,433000,20130,7149,71699,592800,20672,468933.0,55.590551,19574.0,15.357143,58790.0,41.891116
26,37214,13360,48684,141800,29911,13227,52743,142400,29555,13890,61206,212300,30217,165500.0,49.717913,29894.0,1.023035,54211.0,25.720976
27,37215,9662,90899,453300,21380,9708,103693,510300,21691,10541,122715,682600,23044,548733.0,50.584602,22038.0,7.782975,105769.0,35.001485
29,37217,11882,41957,138100,29848,12273,42455,131000,28885,12724,50423,194800,30947,154633.0,41.057205,29893.0,3.681989,44945.0,20.177801
30,37218,5239,46829,121000,14441,5290,42733,128500,15044,5816,46434,191900,15582,147133.0,58.595041,15022.0,7.901115,45332.0,-0.843494
31,37219,735,44543,226500,975,856,50700,275600,1039,777,85463,277100,1043,259733.0,22.339956,1019.0,6.974359,60235.0,91.866287
32,37220,2374,95878,316600,5921,2316,104297,346700,5611,2368,117917,506500,5894,389933.0,59.981049,5809.0,-0.456004,106031.0,22.986504
33,37221,16297,66982,226700,38054,16446,71726,225800,39313,18140,85933,307400,41736,253300.0,35.597706,39701.0,9.675724,74880.0,28.292676
35,37240,87,57847,0,988,0,0,0,717,0,0,0,759,0.0,NaN,821.0,-23.178138,19282.0,-100.000000

In [6]:
#housing value
zipcodes_without['housing value avg growth'] = zipcodes_without[['2011 Median Value', '2015 Median Value', '2020 Median Value']].mean(1).round()

zipcodes_without['housing value avg growth rate'] = (zipcodes_without['2020 Median Value']-zipcodes_without['2011 Median Value'])/zipcodes_without['2011 Median Value']*100

#population
zipcodes_without['population avg growth'] = zipcodes_without[['2011 population', '2015 population', '2020 population']].mean(1).round()

zipcodes_without['population avg growth rate'] = (zipcodes_without['2020 population']-zipcodes_without['2011 population'])/zipcodes_without['2011 population']*100

#income
zipcodes_without['income avg growth'] = zipcodes_without[['2011 household median income', '2015 household median income', '2020 household median income']].mean(1).round()

zipcodes_without['income avg growth rate'] = (zipcodes_without['2020 household median income']-zipcodes_without['2011 household median income'])/zipcodes_without['2011 household median income']*100

zipcodes_without

,zip_code,2011 total household,2011 household median income,2011 Median Value,2011 population,2015 total household,2015 household median income,2015 Median Value,2015 population,2020 total household,2020 household median income,2020 Median Value,2020 population,housing value avg growth,housing value avg growth rate,population avg growth,population avg growth rate,income avg growth,income avg growth rate
0,37013,30245,48198,148000,76983,33117,48423,147600,90073,36217,60602,205800,99109,167133.0,39.054054,88722.0,28.741410,52408.0,25.735508
1,37015,6577,45018,139100,16976,6734,47253,139800,18361,6821,59144,175400,17835,151433.0,26.096334,17724.0,5.060085,50472.0,31.378560
2,37027,17346,113696,444100,48067,18642,119570,456000,53242,20608,133254,627700,57096,509267.0,41.342040,52802.0,18.784197,122173.0,17.202012
3,37064,17869,72798,303500,48318,19527,80898,319200,53212,21795,105342,460900,60272,361200.0,51.861614,53934.0,24.740262,86346.0,44.704525
4,37072,11747,51353,174500,29279,12458,57846,172200,31392,12869,62655,237500,31134,194733.0,36.103152,30602.0,6.335599,57285.0,22.008451
5,37076,15205,52428,156600,36970,15720,52193,159800,37749,16682,64392,230900,38647,182433.0,47.445722,37789.0,4.536110,56338.0,22.819867
6,37080,2807,58358,158800,7609,2895,54611,169000,7079,3143,63201,227800,7537,185200.0,43.450882,7408.0,-0.946248,58723.0,8.298777
7,37086,10221,53803,134900,30917,10342,53672,124200,33054,11552,64130,178300,34362,145800.0,32.171979,32778.0,11.142737,57202.0,19.194097
8,37115,16037,36826,123400,36839,16025,35758,122700,39846,17024,46777,184900,39573,143667.0,49.837925,38753.0,7.421483,39787.0,27.021669
9,37122,16301,72445,210900,44711,18587,74866,223700,51660,22013,92944,307700,61002,247433.0,45.898530,52458.0,36.436224,80085.0,28.295949
10,37135,2979,97438,300000,8509,3516,103333,311100,10374,5356,128281,441700,17318,350933.0,47.233333,12067.0,103.525679,109684.0,31.653975
11,37138,8878,55741,166600,21416,8933,58849,169000,23408,9369,73710,239800,23789,191800.0,43.937575,22871.0,11.080501,62767.0,32.236594
12,37143,1515,64063,189000,4167,1378,57635,178400,3847,1459,71094,234900,3905,200767.0,24.285714,3973.0,-6.287497,64264.0,10.975134
13,37189,1323,46068,172500,3763,1258,48115,162500,3476,1717,74963,236100,4453,190367.0,36.869565,3897.0,18.336434,56382.0,62.722497
14,37201,435,51678,194600,1590,681,58508,208200,1870,620,92827,374500,1745,259100.0,92.446043,1735.0,9.748428,67671.0,79.625760
17,37205,10525,82476,415100,23263,10875,86824,443900,24341,10999,107876,613300,23680,490767.0,47.747531,23761.0,1.792546,92392.0,30.796838
23,37211,28678,43858,162400,73475,29828,42392,162700,77960,29353,59075,250900,75199,192000.0,54.495074,75545.0,2.346376,48442.0,34.696065
24,37212,6269,50531,381000,17920,6583,54140,433000,20130,7149,71699,592800,20672,468933.0,55.590551,19574.0,15.357143,58790.0,41.891116
26,37214,13360,48684,141800,29911,13227,52743,142400,29555,13890,61206,212300,30217,165500.0,49.717913,29894.0,1.023035,54211.0,25.720976
27,37215,9662,90899,453300,21380,9708,103693,510300,21691,10541,122715,682600,23044,548733.0,50.584602,22038.0,7.782975,105769.0,35.001485
29,37217,11882,41957,138100,29848,12273,42455,131000,28885,12724,50423,194800,30947,154633.0,41.057205,29893.0,3.681989,44945.0,20.177801
30,37218,5239,46829,121000,14441,5290,42733,128500,15044,5816,46434,191900,15582,147133.0,58.595041,15022.0,7.901115,45332.0,-0.843494
31,37219,735,44543,226500,975,856,50700,275600,1039,777,85463,277100,1043,259733.0,22.339956,1019.0,6.974359,60235.0,91.866287
32,37220,2374,95878,316600,5921,2316,104297,346700,5611,2368,117917,506500,5894,389933.0,59.981049,5809.0,-0.456004,106031.0,22.986504
33,37221,16297,66982,226700,38054,16446,71726,225800,39313,18140,85933,307400,41736,253300.0,35.597706,39701.0,9.675724,74880.0,28.292676
35,37240,87,57847,0,988,0,0,0,717,0,0,0,759,0.0,NaN,821.0,-23.178138,19282.0,-100.000000

In [7]:
brews_df = pd.read_csv("../data/breweries_final_dataframe.csv")
brews_df

brews = brews_df[['name', 'opening', 'neighborhood', 'address','zip_code','2011 total household','2011 household median income', '2011 Median Value', '2011 population',
                       '2015 total household', '2015 household median income', '2015 Median Value', '2015 population',
                       '2020 total household', '2020 household median income', '2020 Median Value', '2020 population']]

brews = brews.replace(',', '', regex=True)
brews

brews = brews.replace('-', '0', regex=True)
brews

brews['zip_code'] = brews[['zip_code']].astype(str)
brews

brews[['2011 total household','2011 household median income', '2011 Median Value', '2011 population','2015 total household', '2015 household median income', '2015 Median Value', '2015 population','2020 total household', '2020 household median income', '2020 Median Value', '2020 population']] = brews[['2011 total household','2011 household median income', '2011 Median Value', '2011 population', '2015 total household', '2015 household median income', '2015 Median Value', '2015 population','2020 total household', '2020 household median income', '2020 Median Value', '2020 population']].astype(int)
brews

,name,opening,neighborhood,address,zip_code,2011 total household,2011 household median income,2011 Median Value,2011 population,2015 total household,2015 household median income,2015 Median Value,2015 population,2020 total household,2020 household median income,2020 Median Value,2020 population
0,Tennessee Brew Works,2013,SoBro,809 Ewing Ave,37203,4915,25852,193900,10465,5777,33072,235800,12068,10201,58032,380200,16772
1,Jackalope Brewing Company 0 The Ranch,2018,Wedgewood0Houston,429B Houston St,37203,4915,25852,193900,10465,5777,33072,235800,12068,10201,58032,380200,16772
2,New Heights Brewing Company,2016,South Nashville,928 Rep John Lewis Way S,37203,4915,25852,193900,10465,5777,33072,235800,12068,10201,58032,380200,16772
3,Southern Grist Brewing,2016,Cleveland Park,754 Douglas Ave,37207,12745,30780,117600,32074,13591,32396,120900,35497,15151,50583,186700,39151
4,East Nashville Beer Works,2016,East Nashville,320 E Trinity Ln,37207,12745,30780,117600,32074,13591,32396,120900,35497,15151,50583,186700,39151
5,Bearded Iris Brewing,2016,Germantown,101 Van Buren St,37208,6317,22679,106900,16331,6747,27280,115700,16251,8415,47903,288100,18375
6,Monday Night Brewing,2021,Germantown,1308 Adams St,37208,6317,22679,106900,16331,6747,27280,115700,16251,8415,47903,288100,18375
7,The Black Abbey Brewing Company,2013,South Nashville,2952 Sidco Dr,37204,5341,62818,302800,12422,5531,69482,358300,13169,6080,89954,602500,15908
8,Fat Bottom Brewing,2012,The Nations,800 44th Ave N,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,61096,351600,37852
9,Bold Patriot Brewing Company,2020,Charlotte,410 39th Ave N,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,61096,351600,37852
10,Blackstone Brewing Company,2015,Midtown,2312 Clifton Ave,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,61096,351600,37852
11,Czanns Brewing Company,2021,The Nations,4909 Indiana Ave,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,61096,351600,37852
12,Harding House Brewing Company,2018,The Nations,904 51st Ave N,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,61096,351600,37852
13,Crazy Gnome Brewery,2020,Edgefield,948 Main St,37206,10721,32697,157700,25772,10849,43782,193200,26323,11584,66065,359600,27055
14,Smith & Lentz Brewing,2015,East Nashville,903 Main St,37206,10721,32697,157700,25772,10849,43782,193200,26323,11584,66065,359600,27055
15,Fait La Force Brewing,2019,South Nashville,1414 3rd Ave S,37210,5875,25662,113400,14876,6536,29035,118500,16326,7337,36985,227100,16810
16,Living Waters Brewing,2019,East Nashville,1056 E Trinity Ln,37216,7812,46033,142600,18912,7834,45472,158700,18479,8244,62214,293800,18081
17,Barrique Brewing And Blending,2021,South Nashville,30 Oldham St,37213,39,29125,0,208,0,0,0,125,21,0,0,40
18,Honky Tonk Brewing,2015,Metro Center,240 Cumberland Bend,37228,695,15819,0,1366,635,15540,0,1226,1077,52344,0,1528

In [8]:
brews['zip_code'].value_counts()

37209    5
37203    3
37207    2
37208    2
37206    2
37204    1
37210    1
37216    1
37213    1
37228    1
Name: zip_code, dtype: int64

In [9]:
brews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          19 non-null     object
 1   opening                       19 non-null     int64
 2   neighborhood                  19 non-null     object
 3   address                       19 non-null     object
 4   zip_code                      19 non-null     object
 5   2011 total household          19 non-null     int32
 6   2011 household median income  19 non-null     int32
 7   2011 Median Value             19 non-null     int32
 8   2011 population               19 non-null     int32
 9   2015 total household          19 non-null     int32
 10  2015 household median income  19 non-null     int32
 11  2015 Median Value             19 non-null     int32
 12  2015 population               19 non-null     int32
 13  2020 total household          19 non-null     int32
 14  2020 household median income  19 non-null     int32
 15  2020 Median Value             19 non-null     int32
 16  2020 population               19 non-null     int32
dtypes: int32(12), int64(1), object(4)
memory usage: 1.8+ KB

In [10]:
#housing value
brews['housing value avg growth'] = brews[['2011 Median Value', '2015 Median Value', '2020 Median Value']].mean(1).round()

brews['housing value avg growth rate'] = (brews['2020 Median Value']-brews['2011 Median Value'])/brews['2011 Median Value']*100

#population
brews['population avg growth'] = brews[['2011 population', '2015 population', '2020 population']].mean(1).round()

brews['population avg growth rate'] = (brews['2020 population']-brews['2011 population'])/brews['2011 population']*100

#income
brews['income avg growth'] = brews[['2011 household median income', '2015 household median income', '2020 household median income']].mean(1).round()

brews['income avg growth rate'] = (brews['2020 household median income']-brews['2011 household median income'])/brews['2011 household median income']*100

brews = brews.fillna(0)

brews

,name,opening,neighborhood,address,zip_code,2011 total household,2011 household median income,2011 Median Value,2011 population,2015 total household,...,2020 total household,2020 household median income,2020 Median Value,2020 population,housing value avg growth,housing value avg growth rate,population avg growth,population avg growth rate,income avg growth,income avg growth rate
0,Tennessee Brew Works,2013,SoBro,809 Ewing Ave,37203,4915,25852,193900,10465,5777,...,10201,58032,380200,16772,269967.0,96.080454,13102.0,60.267559,38985.0,124.477797
1,Jackalope Brewing Company 0 The Ranch,2018,Wedgewood0Houston,429B Houston St,37203,4915,25852,193900,10465,5777,...,10201,58032,380200,16772,269967.0,96.080454,13102.0,60.267559,38985.0,124.477797
2,New Heights Brewing Company,2016,South Nashville,928 Rep John Lewis Way S,37203,4915,25852,193900,10465,5777,...,10201,58032,380200,16772,269967.0,96.080454,13102.0,60.267559,38985.0,124.477797
3,Southern Grist Brewing,2016,Cleveland Park,754 Douglas Ave,37207,12745,30780,117600,32074,13591,...,15151,50583,186700,39151,141733.0,58.758503,35574.0,22.064601,37920.0,64.337232
4,East Nashville Beer Works,2016,East Nashville,320 E Trinity Ln,37207,12745,30780,117600,32074,13591,...,15151,50583,186700,39151,141733.0,58.758503,35574.0,22.064601,37920.0,64.337232
5,Bearded Iris Brewing,2016,Germantown,101 Van Buren St,37208,6317,22679,106900,16331,6747,...,8415,47903,288100,18375,170233.0,169.504210,16986.0,12.516074,32621.0,111.221835
6,Monday Night Brewing,2021,Germantown,1308 Adams St,37208,6317,22679,106900,16331,6747,...,8415,47903,288100,18375,170233.0,169.504210,16986.0,12.516074,32621.0,111.221835
7,The Black Abbey Brewing Company,2013,South Nashville,2952 Sidco Dr,37204,5341,62818,302800,12422,5531,...,6080,89954,602500,15908,421200.0,98.976222,13833.0,28.063114,74085.0,43.197810
8,Fat Bottom Brewing,2012,The Nations,800 44th Ave N,37209,13840,41023,169200,35179,14132,...,16513,61096,351600,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087
9,Bold Patriot Brewing Company,2020,Charlotte,410 39th Ave N,37209,13840,41023,169200,35179,14132,...,16513,61096,351600,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087
10,Blackstone Brewing Company,2015,Midtown,2312 Clifton Ave,37209,13840,41023,169200,35179,14132,...,16513,61096,351600,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087
11,Czanns Brewing Company,2021,The Nations,4909 Indiana Ave,37209,13840,41023,169200,35179,14132,...,16513,61096,351600,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087
12,Harding House Brewing Company,2018,The Nations,904 51st Ave N,37209,13840,41023,169200,35179,14132,...,16513,61096,351600,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087
13,Crazy Gnome Brewery,2020,Edgefield,948 Main St,37206,10721,32697,157700,25772,10849,...,11584,66065,359600,27055,236833.0,128.027901,26383.0,4.978271,47515.0,102.052176
14,Smith & Lentz Brewing,2015,East Nashville,903 Main St,37206,10721,32697,157700,25772,10849,...,11584,66065,359600,27055,236833.0,128.027901,26383.0,4.978271,47515.0,102.052176
15,Fait La Force Brewing,2019,South Nashville,1414 3rd Ave S,37210,5875,25662,113400,14876,6536,...,7337,36985,227100,16810,153000.0,100.264550,16004.0,13.000807,30561.0,44.123607
16,Living Waters Brewing,2019,East Nashville,1056 E Trinity Ln,37216,7812,46033,142600,18912,7834,...,8244,62214,293800,18081,198367.0,106.030856,18491.0,-4.394036,51240.0,35.150870
17,Barrique Brewing And Blending,2021,South Nashville,30 Oldham St,37213,39,29125,0,208,0,...,21,0,0,40,0.0,0.000000,124.0,-80.769231,9708.0,-100.000000
18,Honky Tonk Brewing,2015,Metro Center,240 Cumberland Bend,37228,695,15819,0,1366,635,...,1077,52344,0,1528,0.0,0.000000,1373.0,11.859444,27901.0,230.893230

In [34]:
brews1 = brews[['zip_code','housing value avg growth rate','population avg growth rate', 'income avg growth rate']]
brews1

,zip_code,housing value avg growth rate,population avg growth rate,income avg growth rate
0,37203,96.080454,60.267559,124.477797
1,37203,96.080454,60.267559,124.477797
2,37203,96.080454,60.267559,124.477797
3,37207,58.758503,22.064601,64.337232
4,37207,58.758503,22.064601,64.337232
5,37208,169.504210,12.516074,111.221835
6,37208,169.504210,12.516074,111.221835
7,37204,98.976222,28.063114,43.197810
8,37209,107.801418,7.598283,48.931087
9,37209,107.801418,7.598283,48.931087
10,37209,107.801418,7.598283,48.931087
11,37209,107.801418,7.598283,48.931087
12,37209,107.801418,7.598283,48.931087
13,37206,128.027901,4.978271,102.052176
14,37206,128.027901,4.978271,102.052176
15,37210,100.264550,13.000807,44.123607
16,37216,106.030856,-4.394036,35.150870
17,37213,0.000000,-80.769231,-100.000000
18,37228,0.000000,11.859444,230.893230

In [35]:
brews2 = brews1.drop_duplicates()
brews2

,zip_code,housing value avg growth rate,population avg growth rate,income avg growth rate
0,37203,96.080454,60.267559,124.477797
3,37207,58.758503,22.064601,64.337232
5,37208,169.504210,12.516074,111.221835
7,37204,98.976222,28.063114,43.197810
8,37209,107.801418,7.598283,48.931087
13,37206,128.027901,4.978271,102.052176
15,37210,100.264550,13.000807,44.123607
16,37216,106.030856,-4.394036,35.150870
17,37213,0.000000,-80.769231,-100.000000
18,37228,0.000000,11.859444,230.893230

In [39]:
brews2.mean(axis=0)

zip_code                         3.720337e+50
housing value avg growth rate    8.654441e+03
population avg growth rate       7.518488e+02
income avg growth rate           7.043856e+03
dtype: float64

In [41]:
96+107

203

In [43]:
124+48

172

In [11]:
zipcodes.to_csv(r'C:\Users\sarah\Documents\DA7\projects\repos\breweries-middletn\data\newzipcodes.csv', index=False, header=True)
zipcodes

,zip_code,2011 total household,2011 household median income,2011 Median Value,2011 population,2015 total household,2015 household median income,2015 Median Value,2015 population,2020 total household,2020 household median income,2020 Median Value,2020 population,housing value avg growth,housing value avg growth rate,population avg growth,population avg growth rate,income avg growth,income avg growth rate
0,37013,30245,48198,148000,76983,33117,48423,147600,90073,36217,60602,205800,99109,167133.0,39.054054,88722.0,28.741410,52408.0,25.735508
1,37015,6577,45018,139100,16976,6734,47253,139800,18361,6821,59144,175400,17835,151433.0,26.096334,17724.0,5.060085,50472.0,31.378560
2,37027,17346,113696,444100,48067,18642,119570,456000,53242,20608,133254,627700,57096,509267.0,41.342040,52802.0,18.784197,122173.0,17.202012
3,37064,17869,72798,303500,48318,19527,80898,319200,53212,21795,105342,460900,60272,361200.0,51.861614,53934.0,24.740262,86346.0,44.704525
4,37072,11747,51353,174500,29279,12458,57846,172200,31392,12869,62655,237500,31134,194733.0,36.103152,30602.0,6.335599,57285.0,22.008451
5,37076,15205,52428,156600,36970,15720,52193,159800,37749,16682,64392,230900,38647,182433.0,47.445722,37789.0,4.536110,56338.0,22.819867
6,37080,2807,58358,158800,7609,2895,54611,169000,7079,3143,63201,227800,7537,185200.0,43.450882,7408.0,-0.946248,58723.0,8.298777
7,37086,10221,53803,134900,30917,10342,53672,124200,33054,11552,64130,178300,34362,145800.0,32.171979,32778.0,11.142737,57202.0,19.194097
8,37115,16037,36826,123400,36839,16025,35758,122700,39846,17024,46777,184900,39573,143667.0,49.837925,38753.0,7.421483,39787.0,27.021669
9,37122,16301,72445,210900,44711,18587,74866,223700,51660,22013,92944,307700,61002,247433.0,45.898530,52458.0,36.436224,80085.0,28.295949
10,37135,2979,97438,300000,8509,3516,103333,311100,10374,5356,128281,441700,17318,350933.0,47.233333,12067.0,103.525679,109684.0,31.653975
11,37138,8878,55741,166600,21416,8933,58849,169000,23408,9369,73710,239800,23789,191800.0,43.937575,22871.0,11.080501,62767.0,32.236594
12,37143,1515,64063,189000,4167,1378,57635,178400,3847,1459,71094,234900,3905,200767.0,24.285714,3973.0,-6.287497,64264.0,10.975134
13,37189,1323,46068,172500,3763,1258,48115,162500,3476,1717,74963,236100,4453,190367.0,36.869565,3897.0,18.336434,56382.0,62.722497
14,37201,435,51678,194600,1590,681,58508,208200,1870,620,92827,374500,1745,259100.0,92.446043,1735.0,9.748428,67671.0,79.625760
15,37203,4915,25852,193900,10465,5777,33072,235800,12068,10201,58032,380200,16772,269967.0,96.080454,13102.0,60.267559,38985.0,124.477797
16,37204,5341,62818,302800,12422,5531,69482,358300,13169,6080,89954,602500,15908,421200.0,98.976222,13833.0,28.063114,74085.0,43.197810
17,37205,10525,82476,415100,23263,10875,86824,443900,24341,10999,107876,613300,23680,490767.0,47.747531,23761.0,1.792546,92392.0,30.796838
18,37206,10721,32697,157700,25772,10849,43782,193200,26323,11584,66065,359600,27055,236833.0,128.027901,26383.0,4.978271,47515.0,102.052176
19,37207,12745,30780,117600,32074,13591,32396,120900,35497,15151,50583,186700,39151,141733.0,58.758503,35574.0,22.064601,37920.0,64.337232
20,37208,6317,22679,106900,16331,6747,27280,115700,16251,8415,47903,288100,18375,170233.0,169.504210,16986.0,12.516074,32621.0,111.221835
21,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,61096,351600,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087
22,37210,5875,25662,113400,14876,6536,29035,118500,16326,7337,36985,227100,16810,153000.0,100.264550,16004.0,13.000807,30561.0,44.123607
23,37211,28678,43858,162400,73475,29828,42392,162700,77960,29353,59075,250900,75199,192000.0,54.495074,75545.0,2.346376,48442.0,34.696065
24,37212,6269,50531,381000,17920,6583,54140,433000,20130,7149,71699,592800,20672,468933.0,55.590551,19574.0,15.357143,58790.0,41.891116
25,37213,39,29125,0,208,0,0,0,125,21,0,0,40,0.0,NaN,124.0,-80.769231,9708.0,-100.000000
26,37214,13360,48684,141800,29911,13227,52743,142400,29555,13890,61206,212300,30217,165500.0,49.717913,29894.0,1.023035,54211.0,25.720976
27,37215,9662,90899,453300,21380,9708,103693,510300,21691,10541,122715,682600,23044,548733.0,50.584602,22038.0,7.782975,105769.0,35.001485
28,37216,7812,46033,142600,18912,7834,45472,158700,18479,8244,62214,293800,18081,198367.0,106.030856,18491.0,-4.394036,51240.0,35.150870
29,37217,11882,41957,138100,29848,12273,42455,131000,28885,12724,50423,194800,30947,154633.0,41.057205,29893.0,3.681989,44945.0,20.177801
30,37218,5239,46829,121000,14441,5290,42733,128500,15044,5816,46434,191900,15582,147133.0,58.595041,15022.0,7.901115,45332.0,-0.843494
31,37219,735,44543,226500,975,856,50700,275600,1039,777,85463,277100,1043,259733.0,22.339956,1019.0,6.974359,60235.0,91.866287
32,37220,2374,95878,316600,5921,2316,104297,346700,5611,2368,117917,506500,5894,389933.0,59.981049,5809.0,-0.456004,106031.0,22.986504
33,37221,16297,66982,226700,38054,16446,71726,225800,39313,18140,85933,307400,41736,253300.0,35.597706,39701.0,9.675724,74880.0,28.292676
34,37228,695,15819,0,1366,635,15540,0,1226,1077,52344,0,1528,0.0,NaN,1373.0,11.859444,27901.0,230.893230
35,37240,87,57847,0,988,0,0,0,717,0,0,0,759,0.0,NaN,821.0,-23.178138,19282.0,-100.000000

In [12]:
zipcodes_without.to_csv(r'C:\Users\sarah\Documents\DA7\projects\repos\breweries-middletn\data\newzipcodes_without.csv', index=False, header=True)
zipcodes_without

,zip_code,2011 total household,2011 household median income,2011 Median Value,2011 population,2015 total household,2015 household median income,2015 Median Value,2015 population,2020 total household,2020 household median income,2020 Median Value,2020 population,housing value avg growth,housing value avg growth rate,population avg growth,population avg growth rate,income avg growth,income avg growth rate
0,37013,30245,48198,148000,76983,33117,48423,147600,90073,36217,60602,205800,99109,167133.0,39.054054,88722.0,28.741410,52408.0,25.735508
1,37015,6577,45018,139100,16976,6734,47253,139800,18361,6821,59144,175400,17835,151433.0,26.096334,17724.0,5.060085,50472.0,31.378560
2,37027,17346,113696,444100,48067,18642,119570,456000,53242,20608,133254,627700,57096,509267.0,41.342040,52802.0,18.784197,122173.0,17.202012
3,37064,17869,72798,303500,48318,19527,80898,319200,53212,21795,105342,460900,60272,361200.0,51.861614,53934.0,24.740262,86346.0,44.704525
4,37072,11747,51353,174500,29279,12458,57846,172200,31392,12869,62655,237500,31134,194733.0,36.103152,30602.0,6.335599,57285.0,22.008451
5,37076,15205,52428,156600,36970,15720,52193,159800,37749,16682,64392,230900,38647,182433.0,47.445722,37789.0,4.536110,56338.0,22.819867
6,37080,2807,58358,158800,7609,2895,54611,169000,7079,3143,63201,227800,7537,185200.0,43.450882,7408.0,-0.946248,58723.0,8.298777
7,37086,10221,53803,134900,30917,10342,53672,124200,33054,11552,64130,178300,34362,145800.0,32.171979,32778.0,11.142737,57202.0,19.194097
8,37115,16037,36826,123400,36839,16025,35758,122700,39846,17024,46777,184900,39573,143667.0,49.837925,38753.0,7.421483,39787.0,27.021669
9,37122,16301,72445,210900,44711,18587,74866,223700,51660,22013,92944,307700,61002,247433.0,45.898530,52458.0,36.436224,80085.0,28.295949
10,37135,2979,97438,300000,8509,3516,103333,311100,10374,5356,128281,441700,17318,350933.0,47.233333,12067.0,103.525679,109684.0,31.653975
11,37138,8878,55741,166600,21416,8933,58849,169000,23408,9369,73710,239800,23789,191800.0,43.937575,22871.0,11.080501,62767.0,32.236594
12,37143,1515,64063,189000,4167,1378,57635,178400,3847,1459,71094,234900,3905,200767.0,24.285714,3973.0,-6.287497,64264.0,10.975134
13,37189,1323,46068,172500,3763,1258,48115,162500,3476,1717,74963,236100,4453,190367.0,36.869565,3897.0,18.336434,56382.0,62.722497
14,37201,435,51678,194600,1590,681,58508,208200,1870,620,92827,374500,1745,259100.0,92.446043,1735.0,9.748428,67671.0,79.625760
17,37205,10525,82476,415100,23263,10875,86824,443900,24341,10999,107876,613300,23680,490767.0,47.747531,23761.0,1.792546,92392.0,30.796838
23,37211,28678,43858,162400,73475,29828,42392,162700,77960,29353,59075,250900,75199,192000.0,54.495074,75545.0,2.346376,48442.0,34.696065
24,37212,6269,50531,381000,17920,6583,54140,433000,20130,7149,71699,592800,20672,468933.0,55.590551,19574.0,15.357143,58790.0,41.891116
26,37214,13360,48684,141800,29911,13227,52743,142400,29555,13890,61206,212300,30217,165500.0,49.717913,29894.0,1.023035,54211.0,25.720976
27,37215,9662,90899,453300,21380,9708,103693,510300,21691,10541,122715,682600,23044,548733.0,50.584602,22038.0,7.782975,105769.0,35.001485
29,37217,11882,41957,138100,29848,12273,42455,131000,28885,12724,50423,194800,30947,154633.0,41.057205,29893.0,3.681989,44945.0,20.177801
30,37218,5239,46829,121000,14441,5290,42733,128500,15044,5816,46434,191900,15582,147133.0,58.595041,15022.0,7.901115,45332.0,-0.843494
31,37219,735,44543,226500,975,856,50700,275600,1039,777,85463,277100,1043,259733.0,22.339956,1019.0,6.974359,60235.0,91.866287
32,37220,2374,95878,316600,5921,2316,104297,346700,5611,2368,117917,506500,5894,389933.0,59.981049,5809.0,-0.456004,106031.0,22.986504
33,37221,16297,66982,226700,38054,16446,71726,225800,39313,18140,85933,307400,41736,253300.0,35.597706,39701.0,9.675724,74880.0,28.292676
35,37240,87,57847,0,988,0,0,0,717,0,0,0,759,0.0,NaN,821.0,-23.178138,19282.0,-100.000000

In [40]:
zipcodes_without.mean(axis=0)

zip_code                         1.423591e+128
2011 total household              1.017665e+04
2011 household median income      6.116904e+04
2011 Median Value                 2.153462e+05
2011 population                   2.585731e+04
2015 total household              1.066212e+04
2015 household median income      6.166281e+04
2015 Median Value                 2.255115e+05
2015 population                   2.780496e+04
2020 total household              1.150008e+04
2020 household median income      7.700219e+04
2020 Median Value                 3.151346e+05
2020 population                   2.948269e+04
housing value avg growth          2.519973e+05
housing value avg growth rate     4.534964e+01
population avg growth             2.771500e+04
population avg growth rate        1.198294e+01
income avg growth                 6.661138e+04
income avg growth rate            2.670999e+01
dtype: float64

In [13]:
brews.to_csv(r'C:\Users\sarah\Documents\DA7\projects\repos\breweries-middletn\data\newbrews.csv', index=False, header=True)
brews

,name,opening,neighborhood,address,zip_code,2011 total household,2011 household median income,2011 Median Value,2011 population,2015 total household,...,2020 total household,2020 household median income,2020 Median Value,2020 population,housing value avg growth,housing value avg growth rate,population avg growth,population avg growth rate,income avg growth,income avg growth rate
0,Tennessee Brew Works,2013,SoBro,809 Ewing Ave,37203,4915,25852,193900,10465,5777,...,10201,58032,380200,16772,269967.0,96.080454,13102.0,60.267559,38985.0,124.477797
1,Jackalope Brewing Company 0 The Ranch,2018,Wedgewood0Houston,429B Houston St,37203,4915,25852,193900,10465,5777,...,10201,58032,380200,16772,269967.0,96.080454,13102.0,60.267559,38985.0,124.477797
2,New Heights Brewing Company,2016,South Nashville,928 Rep John Lewis Way S,37203,4915,25852,193900,10465,5777,...,10201,58032,380200,16772,269967.0,96.080454,13102.0,60.267559,38985.0,124.477797
3,Southern Grist Brewing,2016,Cleveland Park,754 Douglas Ave,37207,12745,30780,117600,32074,13591,...,15151,50583,186700,39151,141733.0,58.758503,35574.0,22.064601,37920.0,64.337232
4,East Nashville Beer Works,2016,East Nashville,320 E Trinity Ln,37207,12745,30780,117600,32074,13591,...,15151,50583,186700,39151,141733.0,58.758503,35574.0,22.064601,37920.0,64.337232
5,Bearded Iris Brewing,2016,Germantown,101 Van Buren St,37208,6317,22679,106900,16331,6747,...,8415,47903,288100,18375,170233.0,169.504210,16986.0,12.516074,32621.0,111.221835
6,Monday Night Brewing,2021,Germantown,1308 Adams St,37208,6317,22679,106900,16331,6747,...,8415,47903,288100,18375,170233.0,169.504210,16986.0,12.516074,32621.0,111.221835
7,The Black Abbey Brewing Company,2013,South Nashville,2952 Sidco Dr,37204,5341,62818,302800,12422,5531,...,6080,89954,602500,15908,421200.0,98.976222,13833.0,28.063114,74085.0,43.197810
8,Fat Bottom Brewing,2012,The Nations,800 44th Ave N,37209,13840,41023,169200,35179,14132,...,16513,61096,351600,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087
9,Bold Patriot Brewing Company,2020,Charlotte,410 39th Ave N,37209,13840,41023,169200,35179,14132,...,16513,61096,351600,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087
10,Blackstone Brewing Company,2015,Midtown,2312 Clifton Ave,37209,13840,41023,169200,35179,14132,...,16513,61096,351600,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087
11,Czanns Brewing Company,2021,The Nations,4909 Indiana Ave,37209,13840,41023,169200,35179,14132,...,16513,61096,351600,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087
12,Harding House Brewing Company,2018,The Nations,904 51st Ave N,37209,13840,41023,169200,35179,14132,...,16513,61096,351600,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087
13,Crazy Gnome Brewery,2020,Edgefield,948 Main St,37206,10721,32697,157700,25772,10849,...,11584,66065,359600,27055,236833.0,128.027901,26383.0,4.978271,47515.0,102.052176
14,Smith & Lentz Brewing,2015,East Nashville,903 Main St,37206,10721,32697,157700,25772,10849,...,11584,66065,359600,27055,236833.0,128.027901,26383.0,4.978271,47515.0,102.052176
15,Fait La Force Brewing,2019,South Nashville,1414 3rd Ave S,37210,5875,25662,113400,14876,6536,...,7337,36985,227100,16810,153000.0,100.264550,16004.0,13.000807,30561.0,44.123607
16,Living Waters Brewing,2019,East Nashville,1056 E Trinity Ln,37216,7812,46033,142600,18912,7834,...,8244,62214,293800,18081,198367.0,106.030856,18491.0,-4.394036,51240.0,35.150870
17,Barrique Brewing And Blending,2021,South Nashville,30 Oldham St,37213,39,29125,0,208,0,...,21,0,0,40,0.0,0.000000,124.0,-80.769231,9708.0,-100.000000
18,Honky Tonk Brewing,2015,Metro Center,240 Cumberland Bend,37228,695,15819,0,1366,635,...,1077,52344,0,1528,0.0,0.000000,1373.0,11.859444,27901.0,230.893230

In [14]:
brews1 = brews[['zip_code', 'name', 'opening', 'address']]
brews1

,zip_code,name,opening,address
0,37203,Tennessee Brew Works,2013,809 Ewing Ave
1,37203,Jackalope Brewing Company 0 The Ranch,2018,429B Houston St
2,37203,New Heights Brewing Company,2016,928 Rep John Lewis Way S
3,37207,Southern Grist Brewing,2016,754 Douglas Ave
4,37207,East Nashville Beer Works,2016,320 E Trinity Ln
5,37208,Bearded Iris Brewing,2016,101 Van Buren St
6,37208,Monday Night Brewing,2021,1308 Adams St
7,37204,The Black Abbey Brewing Company,2013,2952 Sidco Dr
8,37209,Fat Bottom Brewing,2012,800 44th Ave N
9,37209,Bold Patriot Brewing Company,2020,410 39th Ave N
10,37209,Blackstone Brewing Company,2015,2312 Clifton Ave
11,37209,Czanns Brewing Company,2021,4909 Indiana Ave
12,37209,Harding House Brewing Company,2018,904 51st Ave N
13,37206,Crazy Gnome Brewery,2020,948 Main St
14,37206,Smith & Lentz Brewing,2015,903 Main St
15,37210,Fait La Force Brewing,2019,1414 3rd Ave S
16,37216,Living Waters Brewing,2019,1056 E Trinity Ln
17,37213,Barrique Brewing And Blending,2021,30 Oldham St
18,37228,Honky Tonk Brewing,2015,240 Cumberland Bend

In [15]:
#going to try to merge my zipcodes df with this one. need this to work so my dashboards can talk with each other. 


master = pd.merge(zipcodes, brews1, on='zip_code', how='outer')
master

# master.fillna(0)

,zip_code,2011 total household,2011 household median income,2011 Median Value,2011 population,2015 total household,2015 household median income,2015 Median Value,2015 population,2020 total household,...,2020 population,housing value avg growth,housing value avg growth rate,population avg growth,population avg growth rate,income avg growth,income avg growth rate,name,opening,address
0,37013,30245,48198,148000,76983,33117,48423,147600,90073,36217,...,99109,167133.0,39.054054,88722.0,28.741410,52408.0,25.735508,NaN,NaN,NaN
1,37015,6577,45018,139100,16976,6734,47253,139800,18361,6821,...,17835,151433.0,26.096334,17724.0,5.060085,50472.0,31.378560,NaN,NaN,NaN
2,37027,17346,113696,444100,48067,18642,119570,456000,53242,20608,...,57096,509267.0,41.342040,52802.0,18.784197,122173.0,17.202012,NaN,NaN,NaN
3,37064,17869,72798,303500,48318,19527,80898,319200,53212,21795,...,60272,361200.0,51.861614,53934.0,24.740262,86346.0,44.704525,NaN,NaN,NaN
4,37072,11747,51353,174500,29279,12458,57846,172200,31392,12869,...,31134,194733.0,36.103152,30602.0,6.335599,57285.0,22.008451,NaN,NaN,NaN
5,37076,15205,52428,156600,36970,15720,52193,159800,37749,16682,...,38647,182433.0,47.445722,37789.0,4.536110,56338.0,22.819867,NaN,NaN,NaN
6,37080,2807,58358,158800,7609,2895,54611,169000,7079,3143,...,7537,185200.0,43.450882,7408.0,-0.946248,58723.0,8.298777,NaN,NaN,NaN
7,37086,10221,53803,134900,30917,10342,53672,124200,33054,11552,...,34362,145800.0,32.171979,32778.0,11.142737,57202.0,19.194097,NaN,NaN,NaN
8,37115,16037,36826,123400,36839,16025,35758,122700,39846,17024,...,39573,143667.0,49.837925,38753.0,7.421483,39787.0,27.021669,NaN,NaN,NaN
9,37122,16301,72445,210900,44711,18587,74866,223700,51660,22013,...,61002,247433.0,45.898530,52458.0,36.436224,80085.0,28.295949,NaN,NaN,NaN
10,37135,2979,97438,300000,8509,3516,103333,311100,10374,5356,...,17318,350933.0,47.233333,12067.0,103.525679,109684.0,31.653975,NaN,NaN,NaN
11,37138,8878,55741,166600,21416,8933,58849,169000,23408,9369,...,23789,191800.0,43.937575,22871.0,11.080501,62767.0,32.236594,NaN,NaN,NaN
12,37143,1515,64063,189000,4167,1378,57635,178400,3847,1459,...,3905,200767.0,24.285714,3973.0,-6.287497,64264.0,10.975134,NaN,NaN,NaN
13,37189,1323,46068,172500,3763,1258,48115,162500,3476,1717,...,4453,190367.0,36.869565,3897.0,18.336434,56382.0,62.722497,NaN,NaN,NaN
14,37201,435,51678,194600,1590,681,58508,208200,1870,620,...,1745,259100.0,92.446043,1735.0,9.748428,67671.0,79.625760,NaN,NaN,NaN
15,37203,4915,25852,193900,10465,5777,33072,235800,12068,10201,...,16772,269967.0,96.080454,13102.0,60.267559,38985.0,124.477797,Tennessee Brew Works,2013.0,809 Ewing Ave
16,37203,4915,25852,193900,10465,5777,33072,235800,12068,10201,...,16772,269967.0,96.080454,13102.0,60.267559,38985.0,124.477797,Jackalope Brewing Company 0 The Ranch,2018.0,429B Houston St
17,37203,4915,25852,193900,10465,5777,33072,235800,12068,10201,...,16772,269967.0,96.080454,13102.0,60.267559,38985.0,124.477797,New Heights Brewing Company,2016.0,928 Rep John Lewis Way S
18,37204,5341,62818,302800,12422,5531,69482,358300,13169,6080,...,15908,421200.0,98.976222,13833.0,28.063114,74085.0,43.197810,The Black Abbey Brewing Company,2013.0,2952 Sidco Dr
19,37205,10525,82476,415100,23263,10875,86824,443900,24341,10999,...,23680,490767.0,47.747531,23761.0,1.792546,92392.0,30.796838,NaN,NaN,NaN
20,37206,10721,32697,157700,25772,10849,43782,193200,26323,11584,...,27055,236833.0,128.027901,26383.0,4.978271,47515.0,102.052176,Crazy Gnome Brewery,2020.0,948 Main St
21,37206,10721,32697,157700,25772,10849,43782,193200,26323,11584,...,27055,236833.0,128.027901,26383.0,4.978271,47515.0,102.052176,Smith & Lentz Brewing,2015.0,903 Main St
22,37207,12745,30780,117600,32074,13591,32396,120900,35497,15151,...,39151,141733.0,58.758503,35574.0,22.064601,37920.0,64.337232,Southern Grist Brewing,2016.0,754 Douglas Ave
23,37207,12745,30780,117600,32074,13591,32396,120900,35497,15151,...,39151,141733.0,58.758503,35574.0,22.064601,37920.0,64.337232,East Nashville Beer Works,2016.0,320 E Trinity Ln
24,37208,6317,22679,106900,16331,6747,27280,115700,16251,8415,...,18375,170233.0,169.504210,16986.0,12.516074,32621.0,111.221835,Bearded Iris Brewing,2016.0,101 Van Buren St
25,37208,6317,22679,106900,16331,6747,27280,115700,16251,8415,...,18375,170233.0,169.504210,16986.0,12.516074,32621.0,111.221835,Monday Night Brewing,2021.0,1308 Adams St
26,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,...,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087,Fat Bottom Brewing,2012.0,800 44th Ave N
27,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,...,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087,Bold Patriot Brewing Company,2020.0,410 39th Ave N
28,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,...,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087,Blackstone Brewing Company,2015.0,2312 Clifton Ave
29,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,...,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087,Czanns Brewing Company,2021.0,4909 Indiana Ave
30,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,...,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087,Harding House Brewing Company,2018.0,904 51st Ave N
31,37210,5875,25662,113400,14876,6536,29035,118500,16326,7337,...,16810,153000.0,100.264550,16004.0,13.000807,30561.0,44.123607,Fait La Force Brewing,2019.0,1414 3rd Ave S
32,37211,28678,43858,162400,73475,29828,42392,162700,77960,29353,...,75199,192000.0,54.495074,75545.0,2.346376,48442.0,34.696065,NaN,NaN,NaN
33,37212,6269,50531,381000,17920,6583,54140,433000,20130,7149,...,20672,468933.0,55.590551,19574.0,15.357143,58790.0,41.891116,NaN,NaN,NaN
34,37213,39,29125,0,208,0,0,0,125,21,...,40,0.0,NaN,124.0,-80.769231,9708.0,-100.000000,Barrique Brewing And Blending,2021.0,30 Oldham St
35,37214,13360,48684,141800,29911,13227,52743,142400,29555,13890,...,30217,165500.0,49.717913,29894.0,1.023035,54211.0,25.720976,NaN,NaN,NaN
36,37215,9662,90899,453300,21380,9708,103693,510300,21691,10541,...,23044,548733.0,50.584602,22038.0,7.782975,105769.0,35.001485,NaN,NaN,NaN
37,37216,7812,46033,142600,18912,7834,45472,158700,18479,8244,...,18081,198367.0,106.030856,18491.0,-4.394036,51240.0,35.150870,Living Waters Brewing,2019.0,1056 E Trinity Ln
38,37217,11882,41957,138100,29848,12273,42455,131000,28885,12724,...,30947,154633.0,41.057205,29893.0,3.681989,44945.0,20.177801,NaN,NaN,NaN
39,37218,5239,46829,121000,14441,5290,42733,128500,15044,5816,...,15582,147133.0,58.595041,15022.0,7.901115,45332.0,-0.843494,NaN,NaN,NaN
40,37219,735,44543,226500,975,856,50700,275600,1039,777,...,1043,259733.0,22.339956,1019.0,6.974359,60235.0,91.866287,NaN,NaN,NaN
41,37220,2374,95878,316600,5921,2316,104297,346700,5611,2368,...,5894,389933.0,59.981049,5809.0,-0.456004,106031.0,22.986504,NaN,NaN,NaN
42,37221,16297,66982,226700,38054,16446,71726,225800,39313,18140,...,41736,253300.0,35.597706,39701.0,9.675724,74880.0,28.292676,NaN,NaN,NaN
43,37228,695,15819,0,1366,635,15540,0,1226,1077,...,1528,0.0,NaN,1373.0,11.859444,27901.0,230.893230,Honky Tonk Brewing,2015.0,240 Cumberland Bend
44,37240,87,57847,0,988,0,0,0,717,0,...,759,0.0,NaN,821.0,-23.178138,19282.0,-100.000000,NaN,NaN,NaN

In [16]:
master['zip_code'].value_counts()

37209    5
37203    3
37206    2
37207    2
37208    2
37219    1
37218    1
37217    1
37216    1
37220    1
37214    1
37213    1
37212    1
37211    1
37210    1
37221    1
37228    1
37215    1
37013    1
37015    1
37115    1
37027    1
37064    1
37072    1
37076    1
37080    1
37086    1
37122    1
37205    1
37135    1
37138    1
37143    1
37189    1
37201    1
37204    1
37240    1
Name: zip_code, dtype: int64

In [17]:
master.to_csv(r'C:\Users\sarah\Documents\DA7\projects\repos\breweries-middletn\data\master.csv', index=False, header=True)
master

,zip_code,2011 total household,2011 household median income,2011 Median Value,2011 population,2015 total household,2015 household median income,2015 Median Value,2015 population,2020 total household,...,2020 population,housing value avg growth,housing value avg growth rate,population avg growth,population avg growth rate,income avg growth,income avg growth rate,name,opening,address
0,37013,30245,48198,148000,76983,33117,48423,147600,90073,36217,...,99109,167133.0,39.054054,88722.0,28.741410,52408.0,25.735508,NaN,NaN,NaN
1,37015,6577,45018,139100,16976,6734,47253,139800,18361,6821,...,17835,151433.0,26.096334,17724.0,5.060085,50472.0,31.378560,NaN,NaN,NaN
2,37027,17346,113696,444100,48067,18642,119570,456000,53242,20608,...,57096,509267.0,41.342040,52802.0,18.784197,122173.0,17.202012,NaN,NaN,NaN
3,37064,17869,72798,303500,48318,19527,80898,319200,53212,21795,...,60272,361200.0,51.861614,53934.0,24.740262,86346.0,44.704525,NaN,NaN,NaN
4,37072,11747,51353,174500,29279,12458,57846,172200,31392,12869,...,31134,194733.0,36.103152,30602.0,6.335599,57285.0,22.008451,NaN,NaN,NaN
5,37076,15205,52428,156600,36970,15720,52193,159800,37749,16682,...,38647,182433.0,47.445722,37789.0,4.536110,56338.0,22.819867,NaN,NaN,NaN
6,37080,2807,58358,158800,7609,2895,54611,169000,7079,3143,...,7537,185200.0,43.450882,7408.0,-0.946248,58723.0,8.298777,NaN,NaN,NaN
7,37086,10221,53803,134900,30917,10342,53672,124200,33054,11552,...,34362,145800.0,32.171979,32778.0,11.142737,57202.0,19.194097,NaN,NaN,NaN
8,37115,16037,36826,123400,36839,16025,35758,122700,39846,17024,...,39573,143667.0,49.837925,38753.0,7.421483,39787.0,27.021669,NaN,NaN,NaN
9,37122,16301,72445,210900,44711,18587,74866,223700,51660,22013,...,61002,247433.0,45.898530,52458.0,36.436224,80085.0,28.295949,NaN,NaN,NaN
10,37135,2979,97438,300000,8509,3516,103333,311100,10374,5356,...,17318,350933.0,47.233333,12067.0,103.525679,109684.0,31.653975,NaN,NaN,NaN
11,37138,8878,55741,166600,21416,8933,58849,169000,23408,9369,...,23789,191800.0,43.937575,22871.0,11.080501,62767.0,32.236594,NaN,NaN,NaN
12,37143,1515,64063,189000,4167,1378,57635,178400,3847,1459,...,3905,200767.0,24.285714,3973.0,-6.287497,64264.0,10.975134,NaN,NaN,NaN
13,37189,1323,46068,172500,3763,1258,48115,162500,3476,1717,...,4453,190367.0,36.869565,3897.0,18.336434,56382.0,62.722497,NaN,NaN,NaN
14,37201,435,51678,194600,1590,681,58508,208200,1870,620,...,1745,259100.0,92.446043,1735.0,9.748428,67671.0,79.625760,NaN,NaN,NaN
15,37203,4915,25852,193900,10465,5777,33072,235800,12068,10201,...,16772,269967.0,96.080454,13102.0,60.267559,38985.0,124.477797,Tennessee Brew Works,2013.0,809 Ewing Ave
16,37203,4915,25852,193900,10465,5777,33072,235800,12068,10201,...,16772,269967.0,96.080454,13102.0,60.267559,38985.0,124.477797,Jackalope Brewing Company 0 The Ranch,2018.0,429B Houston St
17,37203,4915,25852,193900,10465,5777,33072,235800,12068,10201,...,16772,269967.0,96.080454,13102.0,60.267559,38985.0,124.477797,New Heights Brewing Company,2016.0,928 Rep John Lewis Way S
18,37204,5341,62818,302800,12422,5531,69482,358300,13169,6080,...,15908,421200.0,98.976222,13833.0,28.063114,74085.0,43.197810,The Black Abbey Brewing Company,2013.0,2952 Sidco Dr
19,37205,10525,82476,415100,23263,10875,86824,443900,24341,10999,...,23680,490767.0,47.747531,23761.0,1.792546,92392.0,30.796838,NaN,NaN,NaN
20,37206,10721,32697,157700,25772,10849,43782,193200,26323,11584,...,27055,236833.0,128.027901,26383.0,4.978271,47515.0,102.052176,Crazy Gnome Brewery,2020.0,948 Main St
21,37206,10721,32697,157700,25772,10849,43782,193200,26323,11584,...,27055,236833.0,128.027901,26383.0,4.978271,47515.0,102.052176,Smith & Lentz Brewing,2015.0,903 Main St
22,37207,12745,30780,117600,32074,13591,32396,120900,35497,15151,...,39151,141733.0,58.758503,35574.0,22.064601,37920.0,64.337232,Southern Grist Brewing,2016.0,754 Douglas Ave
23,37207,12745,30780,117600,32074,13591,32396,120900,35497,15151,...,39151,141733.0,58.758503,35574.0,22.064601,37920.0,64.337232,East Nashville Beer Works,2016.0,320 E Trinity Ln
24,37208,6317,22679,106900,16331,6747,27280,115700,16251,8415,...,18375,170233.0,169.504210,16986.0,12.516074,32621.0,111.221835,Bearded Iris Brewing,2016.0,101 Van Buren St
25,37208,6317,22679,106900,16331,6747,27280,115700,16251,8415,...,18375,170233.0,169.504210,16986.0,12.516074,32621.0,111.221835,Monday Night Brewing,2021.0,1308 Adams St
26,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,...,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087,Fat Bottom Brewing,2012.0,800 44th Ave N
27,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,...,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087,Bold Patriot Brewing Company,2020.0,410 39th Ave N
28,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,...,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087,Blackstone Brewing Company,2015.0,2312 Clifton Ave
29,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,...,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087,Czanns Brewing Company,2021.0,4909 Indiana Ave
30,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,...,37852,236267.0,107.801418,36780.0,7.598283,49114.0,48.931087,Harding House Brewing Company,2018.0,904 51st Ave N
31,37210,5875,25662,113400,14876,6536,29035,118500,16326,7337,...,16810,153000.0,100.264550,16004.0,13.000807,30561.0,44.123607,Fait La Force Brewing,2019.0,1414 3rd Ave S
32,37211,28678,43858,162400,73475,29828,42392,162700,77960,29353,...,75199,192000.0,54.495074,75545.0,2.346376,48442.0,34.696065,NaN,NaN,NaN
33,37212,6269,50531,381000,17920,6583,54140,433000,20130,7149,...,20672,468933.0,55.590551,19574.0,15.357143,58790.0,41.891116,NaN,NaN,NaN
34,37213,39,29125,0,208,0,0,0,125,21,...,40,0.0,NaN,124.0,-80.769231,9708.0,-100.000000,Barrique Brewing And Blending,2021.0,30 Oldham St
35,37214,13360,48684,141800,29911,13227,52743,142400,29555,13890,...,30217,165500.0,49.717913,29894.0,1.023035,54211.0,25.720976,NaN,NaN,NaN
36,37215,9662,90899,453300,21380,9708,103693,510300,21691,10541,...,23044,548733.0,50.584602,22038.0,7.782975,105769.0,35.001485,NaN,NaN,NaN
37,37216,7812,46033,142600,18912,7834,45472,158700,18479,8244,...,18081,198367.0,106.030856,18491.0,-4.394036,51240.0,35.150870,Living Waters Brewing,2019.0,1056 E Trinity Ln
38,37217,11882,41957,138100,29848,12273,42455,131000,28885,12724,...,30947,154633.0,41.057205,29893.0,3.681989,44945.0,20.177801,NaN,NaN,NaN
39,37218,5239,46829,121000,14441,5290,42733,128500,15044,5816,...,15582,147133.0,58.595041,15022.0,7.901115,45332.0,-0.843494,NaN,NaN,NaN
40,37219,735,44543,226500,975,856,50700,275600,1039,777,...,1043,259733.0,22.339956,1019.0,6.974359,60235.0,91.866287,NaN,NaN,NaN
41,37220,2374,95878,316600,5921,2316,104297,346700,5611,2368,...,5894,389933.0,59.981049,5809.0,-0.456004,106031.0,22.986504,NaN,NaN,NaN
42,37221,16297,66982,226700,38054,16446,71726,225800,39313,18140,...,41736,253300.0,35.597706,39701.0,9.675724,74880.0,28.292676,NaN,NaN,NaN
43,37228,695,15819,0,1366,635,15540,0,1226,1077,...,1528,0.0,NaN,1373.0,11.859444,27901.0,230.893230,Honky Tonk Brewing,2015.0,240 Cumberland Bend
44,37240,87,57847,0,988,0,0,0,717,0,...,759,0.0,NaN,821.0,-23.178138,19282.0,-100.000000,NaN,NaN,NaN

In [18]:
brews2011 = brews[['name', 'neighborhood', 'zip_code', '2011 total household', '2011 household median income','2011 Median Value']]
brews2011

,name,neighborhood,zip_code,2011 total household,2011 household median income,2011 Median Value
0,Tennessee Brew Works,SoBro,37203,4915,25852,193900
1,Jackalope Brewing Company 0 The Ranch,Wedgewood0Houston,37203,4915,25852,193900
2,New Heights Brewing Company,South Nashville,37203,4915,25852,193900
3,Southern Grist Brewing,Cleveland Park,37207,12745,30780,117600
4,East Nashville Beer Works,East Nashville,37207,12745,30780,117600
5,Bearded Iris Brewing,Germantown,37208,6317,22679,106900
6,Monday Night Brewing,Germantown,37208,6317,22679,106900
7,The Black Abbey Brewing Company,South Nashville,37204,5341,62818,302800
8,Fat Bottom Brewing,The Nations,37209,13840,41023,169200
9,Bold Patriot Brewing Company,Charlotte,37209,13840,41023,169200
10,Blackstone Brewing Company,Midtown,37209,13840,41023,169200
11,Czanns Brewing Company,The Nations,37209,13840,41023,169200
12,Harding House Brewing Company,The Nations,37209,13840,41023,169200
13,Crazy Gnome Brewery,Edgefield,37206,10721,32697,157700
14,Smith & Lentz Brewing,East Nashville,37206,10721,32697,157700
15,Fait La Force Brewing,South Nashville,37210,5875,25662,113400
16,Living Waters Brewing,East Nashville,37216,7812,46033,142600
17,Barrique Brewing And Blending,South Nashville,37213,39,29125,0
18,Honky Tonk Brewing,Metro Center,37228,695,15819,0

In [19]:
brews2011.to_csv(r'C:\Users\sarah\Documents\DA7\projects\repos\breweries-middletn\data\brews2011.csv', index=False, header=True)
brews2011

,name,neighborhood,zip_code,2011 total household,2011 household median income,2011 Median Value
0,Tennessee Brew Works,SoBro,37203,4915,25852,193900
1,Jackalope Brewing Company 0 The Ranch,Wedgewood0Houston,37203,4915,25852,193900
2,New Heights Brewing Company,South Nashville,37203,4915,25852,193900
3,Southern Grist Brewing,Cleveland Park,37207,12745,30780,117600
4,East Nashville Beer Works,East Nashville,37207,12745,30780,117600
5,Bearded Iris Brewing,Germantown,37208,6317,22679,106900
6,Monday Night Brewing,Germantown,37208,6317,22679,106900
7,The Black Abbey Brewing Company,South Nashville,37204,5341,62818,302800
8,Fat Bottom Brewing,The Nations,37209,13840,41023,169200
9,Bold Patriot Brewing Company,Charlotte,37209,13840,41023,169200
10,Blackstone Brewing Company,Midtown,37209,13840,41023,169200
11,Czanns Brewing Company,The Nations,37209,13840,41023,169200
12,Harding House Brewing Company,The Nations,37209,13840,41023,169200
13,Crazy Gnome Brewery,Edgefield,37206,10721,32697,157700
14,Smith & Lentz Brewing,East Nashville,37206,10721,32697,157700
15,Fait La Force Brewing,South Nashville,37210,5875,25662,113400
16,Living Waters Brewing,East Nashville,37216,7812,46033,142600
17,Barrique Brewing And Blending,South Nashville,37213,39,29125,0
18,Honky Tonk Brewing,Metro Center,37228,695,15819,0

In [20]:
brews2015 = brews[['name', 'neighborhood', 'zip_code', '2015 total household', '2015 household median income','2015 Median Value']]
brews2015

,name,neighborhood,zip_code,2015 total household,2015 household median income,2015 Median Value
0,Tennessee Brew Works,SoBro,37203,5777,33072,235800
1,Jackalope Brewing Company 0 The Ranch,Wedgewood0Houston,37203,5777,33072,235800
2,New Heights Brewing Company,South Nashville,37203,5777,33072,235800
3,Southern Grist Brewing,Cleveland Park,37207,13591,32396,120900
4,East Nashville Beer Works,East Nashville,37207,13591,32396,120900
5,Bearded Iris Brewing,Germantown,37208,6747,27280,115700
6,Monday Night Brewing,Germantown,37208,6747,27280,115700
7,The Black Abbey Brewing Company,South Nashville,37204,5531,69482,358300
8,Fat Bottom Brewing,The Nations,37209,14132,45224,188000
9,Bold Patriot Brewing Company,Charlotte,37209,14132,45224,188000
10,Blackstone Brewing Company,Midtown,37209,14132,45224,188000
11,Czanns Brewing Company,The Nations,37209,14132,45224,188000
12,Harding House Brewing Company,The Nations,37209,14132,45224,188000
13,Crazy Gnome Brewery,Edgefield,37206,10849,43782,193200
14,Smith & Lentz Brewing,East Nashville,37206,10849,43782,193200
15,Fait La Force Brewing,South Nashville,37210,6536,29035,118500
16,Living Waters Brewing,East Nashville,37216,7834,45472,158700
17,Barrique Brewing And Blending,South Nashville,37213,0,0,0
18,Honky Tonk Brewing,Metro Center,37228,635,15540,0

In [21]:
brews2015.to_csv(r'C:\Users\sarah\Documents\DA7\projects\repos\breweries-middletn\data\brews2015.csv', index=False, header=True)
brews2015

,name,neighborhood,zip_code,2015 total household,2015 household median income,2015 Median Value
0,Tennessee Brew Works,SoBro,37203,5777,33072,235800
1,Jackalope Brewing Company 0 The Ranch,Wedgewood0Houston,37203,5777,33072,235800
2,New Heights Brewing Company,South Nashville,37203,5777,33072,235800
3,Southern Grist Brewing,Cleveland Park,37207,13591,32396,120900
4,East Nashville Beer Works,East Nashville,37207,13591,32396,120900
5,Bearded Iris Brewing,Germantown,37208,6747,27280,115700
6,Monday Night Brewing,Germantown,37208,6747,27280,115700
7,The Black Abbey Brewing Company,South Nashville,37204,5531,69482,358300
8,Fat Bottom Brewing,The Nations,37209,14132,45224,188000
9,Bold Patriot Brewing Company,Charlotte,37209,14132,45224,188000
10,Blackstone Brewing Company,Midtown,37209,14132,45224,188000
11,Czanns Brewing Company,The Nations,37209,14132,45224,188000
12,Harding House Brewing Company,The Nations,37209,14132,45224,188000
13,Crazy Gnome Brewery,Edgefield,37206,10849,43782,193200
14,Smith & Lentz Brewing,East Nashville,37206,10849,43782,193200
15,Fait La Force Brewing,South Nashville,37210,6536,29035,118500
16,Living Waters Brewing,East Nashville,37216,7834,45472,158700
17,Barrique Brewing And Blending,South Nashville,37213,0,0,0
18,Honky Tonk Brewing,Metro Center,37228,635,15540,0

In [22]:
brews2020 = brews[['name', 'neighborhood', 'zip_code', '2020 total household', '2020 household median income','2020 Median Value']]
brews2020

,name,neighborhood,zip_code,2020 total household,2020 household median income,2020 Median Value
0,Tennessee Brew Works,SoBro,37203,10201,58032,380200
1,Jackalope Brewing Company 0 The Ranch,Wedgewood0Houston,37203,10201,58032,380200
2,New Heights Brewing Company,South Nashville,37203,10201,58032,380200
3,Southern Grist Brewing,Cleveland Park,37207,15151,50583,186700
4,East Nashville Beer Works,East Nashville,37207,15151,50583,186700
5,Bearded Iris Brewing,Germantown,37208,8415,47903,288100
6,Monday Night Brewing,Germantown,37208,8415,47903,288100
7,The Black Abbey Brewing Company,South Nashville,37204,6080,89954,602500
8,Fat Bottom Brewing,The Nations,37209,16513,61096,351600
9,Bold Patriot Brewing Company,Charlotte,37209,16513,61096,351600
10,Blackstone Brewing Company,Midtown,37209,16513,61096,351600
11,Czanns Brewing Company,The Nations,37209,16513,61096,351600
12,Harding House Brewing Company,The Nations,37209,16513,61096,351600
13,Crazy Gnome Brewery,Edgefield,37206,11584,66065,359600
14,Smith & Lentz Brewing,East Nashville,37206,11584,66065,359600
15,Fait La Force Brewing,South Nashville,37210,7337,36985,227100
16,Living Waters Brewing,East Nashville,37216,8244,62214,293800
17,Barrique Brewing And Blending,South Nashville,37213,21,0,0
18,Honky Tonk Brewing,Metro Center,37228,1077,52344,0

In [23]:
brews2020.to_csv(r'C:\Users\sarah\Documents\DA7\projects\repos\breweries-middletn\data\brews2020.csv', index=False, header=True)
brews2020

,name,neighborhood,zip_code,2020 total household,2020 household median income,2020 Median Value
0,Tennessee Brew Works,SoBro,37203,10201,58032,380200
1,Jackalope Brewing Company 0 The Ranch,Wedgewood0Houston,37203,10201,58032,380200
2,New Heights Brewing Company,South Nashville,37203,10201,58032,380200
3,Southern Grist Brewing,Cleveland Park,37207,15151,50583,186700
4,East Nashville Beer Works,East Nashville,37207,15151,50583,186700
5,Bearded Iris Brewing,Germantown,37208,8415,47903,288100
6,Monday Night Brewing,Germantown,37208,8415,47903,288100
7,The Black Abbey Brewing Company,South Nashville,37204,6080,89954,602500
8,Fat Bottom Brewing,The Nations,37209,16513,61096,351600
9,Bold Patriot Brewing Company,Charlotte,37209,16513,61096,351600
10,Blackstone Brewing Company,Midtown,37209,16513,61096,351600
11,Czanns Brewing Company,The Nations,37209,16513,61096,351600
12,Harding House Brewing Company,The Nations,37209,16513,61096,351600
13,Crazy Gnome Brewery,Edgefield,37206,11584,66065,359600
14,Smith & Lentz Brewing,East Nashville,37206,11584,66065,359600
15,Fait La Force Brewing,South Nashville,37210,7337,36985,227100
16,Living Waters Brewing,East Nashville,37216,8244,62214,293800
17,Barrique Brewing And Blending,South Nashville,37213,21,0,0
18,Honky Tonk Brewing,Metro Center,37228,1077,52344,0

In [24]:
brews2011 = pd.read_csv("../data/brews2011.csv")
brews2011

year = ['2011','2011','2011','2011','2011','2011','2011','2011','2011','2011','2011','2011','2011','2011','2011','2011','2011','2011','2011']

brews2011['year'] = year
brews2011

,name,neighborhood,zip_code,2011 total household,2011 household median income,2011 Median Value,year
0,Tennessee Brew Works,SoBro,37203,4915,25852,193900,2011
1,Jackalope Brewing Company 0 The Ranch,Wedgewood0Houston,37203,4915,25852,193900,2011
2,New Heights Brewing Company,South Nashville,37203,4915,25852,193900,2011
3,Southern Grist Brewing,Cleveland Park,37207,12745,30780,117600,2011
4,East Nashville Beer Works,East Nashville,37207,12745,30780,117600,2011
5,Bearded Iris Brewing,Germantown,37208,6317,22679,106900,2011
6,Monday Night Brewing,Germantown,37208,6317,22679,106900,2011
7,The Black Abbey Brewing Company,South Nashville,37204,5341,62818,302800,2011
8,Fat Bottom Brewing,The Nations,37209,13840,41023,169200,2011
9,Bold Patriot Brewing Company,Charlotte,37209,13840,41023,169200,2011
10,Blackstone Brewing Company,Midtown,37209,13840,41023,169200,2011
11,Czanns Brewing Company,The Nations,37209,13840,41023,169200,2011
12,Harding House Brewing Company,The Nations,37209,13840,41023,169200,2011
13,Crazy Gnome Brewery,Edgefield,37206,10721,32697,157700,2011
14,Smith & Lentz Brewing,East Nashville,37206,10721,32697,157700,2011
15,Fait La Force Brewing,South Nashville,37210,5875,25662,113400,2011
16,Living Waters Brewing,East Nashville,37216,7812,46033,142600,2011
17,Barrique Brewing And Blending,South Nashville,37213,39,29125,0,2011
18,Honky Tonk Brewing,Metro Center,37228,695,15819,0,2011

In [25]:
brews2015 = pd.read_csv("../data/brews2015.csv")
brews2015

year = ['2015','2015','2015','2015','2015','2015','2015','2015','2015','2015','2015','2015','2015','2015','2015','2015','2015','2015','2015']

brews2015['year'] = year
brews2015

,name,neighborhood,zip_code,2015 total household,2015 household median income,2015 Median Value,year
0,Tennessee Brew Works,SoBro,37203,5777,33072,235800,2015
1,Jackalope Brewing Company 0 The Ranch,Wedgewood0Houston,37203,5777,33072,235800,2015
2,New Heights Brewing Company,South Nashville,37203,5777,33072,235800,2015
3,Southern Grist Brewing,Cleveland Park,37207,13591,32396,120900,2015
4,East Nashville Beer Works,East Nashville,37207,13591,32396,120900,2015
5,Bearded Iris Brewing,Germantown,37208,6747,27280,115700,2015
6,Monday Night Brewing,Germantown,37208,6747,27280,115700,2015
7,The Black Abbey Brewing Company,South Nashville,37204,5531,69482,358300,2015
8,Fat Bottom Brewing,The Nations,37209,14132,45224,188000,2015
9,Bold Patriot Brewing Company,Charlotte,37209,14132,45224,188000,2015
10,Blackstone Brewing Company,Midtown,37209,14132,45224,188000,2015
11,Czanns Brewing Company,The Nations,37209,14132,45224,188000,2015
12,Harding House Brewing Company,The Nations,37209,14132,45224,188000,2015
13,Crazy Gnome Brewery,Edgefield,37206,10849,43782,193200,2015
14,Smith & Lentz Brewing,East Nashville,37206,10849,43782,193200,2015
15,Fait La Force Brewing,South Nashville,37210,6536,29035,118500,2015
16,Living Waters Brewing,East Nashville,37216,7834,45472,158700,2015
17,Barrique Brewing And Blending,South Nashville,37213,0,0,0,2015
18,Honky Tonk Brewing,Metro Center,37228,635,15540,0,2015

In [26]:
brews2020 = pd.read_csv("../data/brews2020.csv")
brews2020

year = ['2020','2020','2020','2020','2020','2020','2020','2020','2020','2020','2020','2020','2020','2020','2020','2020','2020','2020','2020']

brews2020['year'] = year
brews2020

,name,neighborhood,zip_code,2020 total household,2020 household median income,2020 Median Value,year
0,Tennessee Brew Works,SoBro,37203,10201,58032,380200,2020
1,Jackalope Brewing Company 0 The Ranch,Wedgewood0Houston,37203,10201,58032,380200,2020
2,New Heights Brewing Company,South Nashville,37203,10201,58032,380200,2020
3,Southern Grist Brewing,Cleveland Park,37207,15151,50583,186700,2020
4,East Nashville Beer Works,East Nashville,37207,15151,50583,186700,2020
5,Bearded Iris Brewing,Germantown,37208,8415,47903,288100,2020
6,Monday Night Brewing,Germantown,37208,8415,47903,288100,2020
7,The Black Abbey Brewing Company,South Nashville,37204,6080,89954,602500,2020
8,Fat Bottom Brewing,The Nations,37209,16513,61096,351600,2020
9,Bold Patriot Brewing Company,Charlotte,37209,16513,61096,351600,2020
10,Blackstone Brewing Company,Midtown,37209,16513,61096,351600,2020
11,Czanns Brewing Company,The Nations,37209,16513,61096,351600,2020
12,Harding House Brewing Company,The Nations,37209,16513,61096,351600,2020
13,Crazy Gnome Brewery,Edgefield,37206,11584,66065,359600,2020
14,Smith & Lentz Brewing,East Nashville,37206,11584,66065,359600,2020
15,Fait La Force Brewing,South Nashville,37210,7337,36985,227100,2020
16,Living Waters Brewing,East Nashville,37216,8244,62214,293800,2020
17,Barrique Brewing And Blending,South Nashville,37213,21,0,0,2020
18,Honky Tonk Brewing,Metro Center,37228,1077,52344,0,2020

In [27]:
master_years = pd.merge(pd.merge(brews2011, brews2015, on=['zip_code', 'name', 'neighborhood']), brews2020, on=['zip_code', 'name', 'neighborhood'])
master_years

,name,neighborhood,zip_code,2011 total household,2011 household median income,2011 Median Value,year_x,2015 total household,2015 household median income,2015 Median Value,year_y,2020 total household,2020 household median income,2020 Median Value,year
0,Tennessee Brew Works,SoBro,37203,4915,25852,193900,2011,5777,33072,235800,2015,10201,58032,380200,2020
1,Jackalope Brewing Company 0 The Ranch,Wedgewood0Houston,37203,4915,25852,193900,2011,5777,33072,235800,2015,10201,58032,380200,2020
2,New Heights Brewing Company,South Nashville,37203,4915,25852,193900,2011,5777,33072,235800,2015,10201,58032,380200,2020
3,Southern Grist Brewing,Cleveland Park,37207,12745,30780,117600,2011,13591,32396,120900,2015,15151,50583,186700,2020
4,East Nashville Beer Works,East Nashville,37207,12745,30780,117600,2011,13591,32396,120900,2015,15151,50583,186700,2020
5,Bearded Iris Brewing,Germantown,37208,6317,22679,106900,2011,6747,27280,115700,2015,8415,47903,288100,2020
6,Monday Night Brewing,Germantown,37208,6317,22679,106900,2011,6747,27280,115700,2015,8415,47903,288100,2020
7,The Black Abbey Brewing Company,South Nashville,37204,5341,62818,302800,2011,5531,69482,358300,2015,6080,89954,602500,2020
8,Fat Bottom Brewing,The Nations,37209,13840,41023,169200,2011,14132,45224,188000,2015,16513,61096,351600,2020
9,Bold Patriot Brewing Company,Charlotte,37209,13840,41023,169200,2011,14132,45224,188000,2015,16513,61096,351600,2020
10,Blackstone Brewing Company,Midtown,37209,13840,41023,169200,2011,14132,45224,188000,2015,16513,61096,351600,2020
11,Czanns Brewing Company,The Nations,37209,13840,41023,169200,2011,14132,45224,188000,2015,16513,61096,351600,2020
12,Harding House Brewing Company,The Nations,37209,13840,41023,169200,2011,14132,45224,188000,2015,16513,61096,351600,2020
13,Crazy Gnome Brewery,Edgefield,37206,10721,32697,157700,2011,10849,43782,193200,2015,11584,66065,359600,2020
14,Smith & Lentz Brewing,East Nashville,37206,10721,32697,157700,2011,10849,43782,193200,2015,11584,66065,359600,2020
15,Fait La Force Brewing,South Nashville,37210,5875,25662,113400,2011,6536,29035,118500,2015,7337,36985,227100,2020
16,Living Waters Brewing,East Nashville,37216,7812,46033,142600,2011,7834,45472,158700,2015,8244,62214,293800,2020
17,Barrique Brewing And Blending,South Nashville,37213,39,29125,0,2011,0,0,0,2015,21,0,0,2020
18,Honky Tonk Brewing,Metro Center,37228,695,15819,0,2011,635,15540,0,2015,1077,52344,0,2020

In [28]:
master_years.to_csv(r'C:\Users\sarah\Documents\DA7\projects\repos\breweries-middletn\data\master_years.csv', index=False, header=True)
master_years

,name,neighborhood,zip_code,2011 total household,2011 household median income,2011 Median Value,year_x,2015 total household,2015 household median income,2015 Median Value,year_y,2020 total household,2020 household median income,2020 Median Value,year
0,Tennessee Brew Works,SoBro,37203,4915,25852,193900,2011,5777,33072,235800,2015,10201,58032,380200,2020
1,Jackalope Brewing Company 0 The Ranch,Wedgewood0Houston,37203,4915,25852,193900,2011,5777,33072,235800,2015,10201,58032,380200,2020
2,New Heights Brewing Company,South Nashville,37203,4915,25852,193900,2011,5777,33072,235800,2015,10201,58032,380200,2020
3,Southern Grist Brewing,Cleveland Park,37207,12745,30780,117600,2011,13591,32396,120900,2015,15151,50583,186700,2020
4,East Nashville Beer Works,East Nashville,37207,12745,30780,117600,2011,13591,32396,120900,2015,15151,50583,186700,2020
5,Bearded Iris Brewing,Germantown,37208,6317,22679,106900,2011,6747,27280,115700,2015,8415,47903,288100,2020
6,Monday Night Brewing,Germantown,37208,6317,22679,106900,2011,6747,27280,115700,2015,8415,47903,288100,2020
7,The Black Abbey Brewing Company,South Nashville,37204,5341,62818,302800,2011,5531,69482,358300,2015,6080,89954,602500,2020
8,Fat Bottom Brewing,The Nations,37209,13840,41023,169200,2011,14132,45224,188000,2015,16513,61096,351600,2020
9,Bold Patriot Brewing Company,Charlotte,37209,13840,41023,169200,2011,14132,45224,188000,2015,16513,61096,351600,2020
10,Blackstone Brewing Company,Midtown,37209,13840,41023,169200,2011,14132,45224,188000,2015,16513,61096,351600,2020
11,Czanns Brewing Company,The Nations,37209,13840,41023,169200,2011,14132,45224,188000,2015,16513,61096,351600,2020
12,Harding House Brewing Company,The Nations,37209,13840,41023,169200,2011,14132,45224,188000,2015,16513,61096,351600,2020
13,Crazy Gnome Brewery,Edgefield,37206,10721,32697,157700,2011,10849,43782,193200,2015,11584,66065,359600,2020
14,Smith & Lentz Brewing,East Nashville,37206,10721,32697,157700,2011,10849,43782,193200,2015,11584,66065,359600,2020
15,Fait La Force Brewing,South Nashville,37210,5875,25662,113400,2011,6536,29035,118500,2015,7337,36985,227100,2020
16,Living Waters Brewing,East Nashville,37216,7812,46033,142600,2011,7834,45472,158700,2015,8244,62214,293800,2020
17,Barrique Brewing And Blending,South Nashville,37213,39,29125,0,2011,0,0,0,2015,21,0,0,2020
18,Honky Tonk Brewing,Metro Center,37228,695,15819,0,2011,635,15540,0,2015,1077,52344,0,2020

In [29]:
master_years2 = pd.concat([brews2011, brews2015, brews2020], axis=0)
master_years2

,name,neighborhood,zip_code,2011 total household,2011 household median income,2011 Median Value,year,2015 total household,2015 household median income,2015 Median Value,2020 total household,2020 household median income,2020 Median Value
0,Tennessee Brew Works,SoBro,37203,4915.0,25852.0,193900.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
1,Jackalope Brewing Company 0 The Ranch,Wedgewood0Houston,37203,4915.0,25852.0,193900.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
2,New Heights Brewing Company,South Nashville,37203,4915.0,25852.0,193900.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
3,Southern Grist Brewing,Cleveland Park,37207,12745.0,30780.0,117600.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
4,East Nashville Beer Works,East Nashville,37207,12745.0,30780.0,117600.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
5,Bearded Iris Brewing,Germantown,37208,6317.0,22679.0,106900.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
6,Monday Night Brewing,Germantown,37208,6317.0,22679.0,106900.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
7,The Black Abbey Brewing Company,South Nashville,37204,5341.0,62818.0,302800.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
8,Fat Bottom Brewing,The Nations,37209,13840.0,41023.0,169200.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
9,Bold Patriot Brewing Company,Charlotte,37209,13840.0,41023.0,169200.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
10,Blackstone Brewing Company,Midtown,37209,13840.0,41023.0,169200.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
11,Czanns Brewing Company,The Nations,37209,13840.0,41023.0,169200.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
12,Harding House Brewing Company,The Nations,37209,13840.0,41023.0,169200.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
13,Crazy Gnome Brewery,Edgefield,37206,10721.0,32697.0,157700.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
14,Smith & Lentz Brewing,East Nashville,37206,10721.0,32697.0,157700.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
15,Fait La Force Brewing,South Nashville,37210,5875.0,25662.0,113400.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
16,Living Waters Brewing,East Nashville,37216,7812.0,46033.0,142600.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
17,Barrique Brewing And Blending,South Nashville,37213,39.0,29125.0,0.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
18,Honky Tonk Brewing,Metro Center,37228,695.0,15819.0,0.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
0,Tennessee Brew Works,SoBro,37203,NaN,NaN,NaN,2015,5777.0,33072.0,235800.0,NaN,NaN,NaN
1,Jackalope Brewing Company 0 The Ranch,Wedgewood0Houston,37203,NaN,NaN,NaN,2015,5777.0,33072.0,235800.0,NaN,NaN,NaN
2,New Heights Brewing Company,South Nashville,37203,NaN,NaN,NaN,2015,5777.0,33072.0,235800.0,NaN,NaN,NaN
3,Southern Grist Brewing,Cleveland Park,37207,NaN,NaN,NaN,2015,13591.0,32396.0,120900.0,NaN,NaN,NaN
4,East Nashville Beer Works,East Nashville,37207,NaN,NaN,NaN,2015,13591.0,32396.0,120900.0,NaN,NaN,NaN
5,Bearded Iris Brewing,Germantown,37208,NaN,NaN,NaN,2015,6747.0,27280.0,115700.0,NaN,NaN,NaN
6,Monday Night Brewing,Germantown,37208,NaN,NaN,NaN,2015,6747.0,27280.0,115700.0,NaN,NaN,NaN
7,The Black Abbey Brewing Company,South Nashville,37204,NaN,NaN,NaN,2015,5531.0,69482.0,358300.0,NaN,NaN,NaN
8,Fat Bottom Brewing,The Nations,37209,NaN,NaN,NaN,2015,14132.0,45224.0,188000.0,NaN,NaN,NaN
9,Bold Patriot Brewing Company,Charlotte,37209,NaN,NaN,NaN,2015,14132.0,45224.0,188000.0,NaN,NaN,NaN
10,Blackstone Brewing Company,Midtown,37209,NaN,NaN,NaN,2015,14132.0,45224.0,188000.0,NaN,NaN,NaN
11,Czanns Brewing Company,The Nations,37209,NaN,NaN,NaN,2015,14132.0,45224.0,188000.0,NaN,NaN,NaN
12,Harding House Brewing Company,The Nations,37209,NaN,NaN,NaN,2015,14132.0,45224.0,188000.0,NaN,NaN,NaN
13,Crazy Gnome Brewery,Edgefield,37206,NaN,NaN,NaN,2015,10849.0,43782.0,193200.0,NaN,NaN,NaN
14,Smith & Lentz Brewing,East Nashville,37206,NaN,NaN,NaN,2015,10849.0,43782.0,193200.0,NaN,NaN,NaN
15,Fait La Force Brewing,South Nashville,37210,NaN,NaN,NaN,2015,6536.0,29035.0,118500.0,NaN,NaN,NaN
16,Living Waters Brewing,East Nashville,37216,NaN,NaN,NaN,2015,7834.0,45472.0,158700.0,NaN,NaN,NaN
17,Barrique Brewing And Blending,South Nashville,37213,NaN,NaN,NaN,2015,0.0,0.0,0.0,NaN,NaN,NaN
18,Honky Tonk Brewing,Metro Center,37228,NaN,NaN,NaN,2015,635.0,15540.0,0.0,NaN,NaN,NaN
0,Tennessee Brew Works,SoBro,37203,NaN,NaN,NaN,2020,NaN,NaN,NaN,10201.0,58032.0,380200.0
1,Jackalope Brewing Company 0 The Ranch,Wedgewood0Houston,37203,NaN,NaN,NaN,2020,NaN,NaN,NaN,10201.0,58032.0,380200.0
2,New Heights Brewing Company,South Nashville,37203,NaN,NaN,NaN,2020,NaN,NaN,NaN,10201.0,58032.0,380200.0
3,Southern Grist Brewing,Cleveland Park,37207,NaN,NaN,NaN,2020,NaN,NaN,NaN,15151.0,50583.0,186700.0
4,East Nashville Beer Works,East Nashville,37207,NaN,NaN,NaN,2020,NaN,NaN,NaN,15151.0,50583.0,186700.0
5,Bearded Iris Brewing,Germantown,37208,NaN,NaN,NaN,2020,NaN,NaN,NaN,8415.0,47903.0,288100.0
6,Monday Night Brewing,Germantown,37208,NaN,NaN,NaN,2020,NaN,NaN,NaN,8415.0,47903.0,288100.0
7,The Black Abbey Brewing Company,South Nashville,37204,NaN,NaN,NaN,2020,NaN,NaN,NaN,6080.0,89954.0,602500.0
8,Fat Bottom Brewing,The Nations,37209,NaN,NaN,NaN,2020,NaN,NaN,NaN,16513.0,61096.0,351600.0
9,Bold Patriot Brewing Company,Charlotte,37209,NaN,NaN,NaN,2020,NaN,NaN,NaN,16513.0,61096.0,351600.0
10,Blackstone Brewing Company,Midtown,37209,NaN,NaN,NaN,2020,NaN,NaN,NaN,16513.0,61096.0,351600.0
11,Czanns Brewing Company,The Nations,37209,NaN,NaN,NaN,2020,NaN,NaN,NaN,16513.0,61096.0,351600.0
12,Harding House Brewing Company,The Nations,37209,NaN,NaN,NaN,2020,NaN,NaN,NaN,16513.0,61096.0,351600.0
13,Crazy Gnome Brewery,Edgefield,37206,NaN,NaN,NaN,2020,NaN,NaN,NaN,11584.0,66065.0,359600.0
14,Smith & Lentz Brewing,East Nashville,37206,NaN,NaN,NaN,2020,NaN,NaN,NaN,11584.0,66065.0,359600.0
15,Fait La Force Brewing,South Nashville,37210,NaN,NaN,NaN,2020,NaN,NaN,NaN,7337.0,36985.0,227100.0
16,Living Waters Brewing,East Nashville,37216,NaN,NaN,NaN,2020,NaN,NaN,NaN,8244.0,62214.0,293800.0
17,Barrique Brewing And Blending,South Nashville,37213,NaN,NaN,NaN,2020,NaN,NaN,NaN,21.0,0.0,0.0
18,Honky Tonk Brewing,Metro Center,37228,NaN,NaN,NaN,2020,NaN,NaN,NaN,1077.0,52344.0,0.0

In [30]:
master_years2.to_csv(r'C:\Users\sarah\Documents\DA7\projects\repos\breweries-middletn\data\master_years2.csv', index=False, header=True)
master_years2

,name,neighborhood,zip_code,2011 total household,2011 household median income,2011 Median Value,year,2015 total household,2015 household median income,2015 Median Value,2020 total household,2020 household median income,2020 Median Value
0,Tennessee Brew Works,SoBro,37203,4915.0,25852.0,193900.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
1,Jackalope Brewing Company 0 The Ranch,Wedgewood0Houston,37203,4915.0,25852.0,193900.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
2,New Heights Brewing Company,South Nashville,37203,4915.0,25852.0,193900.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
3,Southern Grist Brewing,Cleveland Park,37207,12745.0,30780.0,117600.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
4,East Nashville Beer Works,East Nashville,37207,12745.0,30780.0,117600.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
5,Bearded Iris Brewing,Germantown,37208,6317.0,22679.0,106900.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
6,Monday Night Brewing,Germantown,37208,6317.0,22679.0,106900.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
7,The Black Abbey Brewing Company,South Nashville,37204,5341.0,62818.0,302800.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
8,Fat Bottom Brewing,The Nations,37209,13840.0,41023.0,169200.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
9,Bold Patriot Brewing Company,Charlotte,37209,13840.0,41023.0,169200.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
10,Blackstone Brewing Company,Midtown,37209,13840.0,41023.0,169200.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
11,Czanns Brewing Company,The Nations,37209,13840.0,41023.0,169200.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
12,Harding House Brewing Company,The Nations,37209,13840.0,41023.0,169200.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
13,Crazy Gnome Brewery,Edgefield,37206,10721.0,32697.0,157700.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
14,Smith & Lentz Brewing,East Nashville,37206,10721.0,32697.0,157700.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
15,Fait La Force Brewing,South Nashville,37210,5875.0,25662.0,113400.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
16,Living Waters Brewing,East Nashville,37216,7812.0,46033.0,142600.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
17,Barrique Brewing And Blending,South Nashville,37213,39.0,29125.0,0.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
18,Honky Tonk Brewing,Metro Center,37228,695.0,15819.0,0.0,2011,NaN,NaN,NaN,NaN,NaN,NaN
0,Tennessee Brew Works,SoBro,37203,NaN,NaN,NaN,2015,5777.0,33072.0,235800.0,NaN,NaN,NaN
1,Jackalope Brewing Company 0 The Ranch,Wedgewood0Houston,37203,NaN,NaN,NaN,2015,5777.0,33072.0,235800.0,NaN,NaN,NaN
2,New Heights Brewing Company,South Nashville,37203,NaN,NaN,NaN,2015,5777.0,33072.0,235800.0,NaN,NaN,NaN
3,Southern Grist Brewing,Cleveland Park,37207,NaN,NaN,NaN,2015,13591.0,32396.0,120900.0,NaN,NaN,NaN
4,East Nashville Beer Works,East Nashville,37207,NaN,NaN,NaN,2015,13591.0,32396.0,120900.0,NaN,NaN,NaN
5,Bearded Iris Brewing,Germantown,37208,NaN,NaN,NaN,2015,6747.0,27280.0,115700.0,NaN,NaN,NaN
6,Monday Night Brewing,Germantown,37208,NaN,NaN,NaN,2015,6747.0,27280.0,115700.0,NaN,NaN,NaN
7,The Black Abbey Brewing Company,South Nashville,37204,NaN,NaN,NaN,2015,5531.0,69482.0,358300.0,NaN,NaN,NaN
8,Fat Bottom Brewing,The Nations,37209,NaN,NaN,NaN,2015,14132.0,45224.0,188000.0,NaN,NaN,NaN
9,Bold Patriot Brewing Company,Charlotte,37209,NaN,NaN,NaN,2015,14132.0,45224.0,188000.0,NaN,NaN,NaN
10,Blackstone Brewing Company,Midtown,37209,NaN,NaN,NaN,2015,14132.0,45224.0,188000.0,NaN,NaN,NaN
11,Czanns Brewing Company,The Nations,37209,NaN,NaN,NaN,2015,14132.0,45224.0,188000.0,NaN,NaN,NaN
12,Harding House Brewing Company,The Nations,37209,NaN,NaN,NaN,2015,14132.0,45224.0,188000.0,NaN,NaN,NaN
13,Crazy Gnome Brewery,Edgefield,37206,NaN,NaN,NaN,2015,10849.0,43782.0,193200.0,NaN,NaN,NaN
14,Smith & Lentz Brewing,East Nashville,37206,NaN,NaN,NaN,2015,10849.0,43782.0,193200.0,NaN,NaN,NaN
15,Fait La Force Brewing,South Nashville,37210,NaN,NaN,NaN,2015,6536.0,29035.0,118500.0,NaN,NaN,NaN
16,Living Waters Brewing,East Nashville,37216,NaN,NaN,NaN,2015,7834.0,45472.0,158700.0,NaN,NaN,NaN
17,Barrique Brewing And Blending,South Nashville,37213,NaN,NaN,NaN,2015,0.0,0.0,0.0,NaN,NaN,NaN
18,Honky Tonk Brewing,Metro Center,37228,NaN,NaN,NaN,2015,635.0,15540.0,0.0,NaN,NaN,NaN
0,Tennessee Brew Works,SoBro,37203,NaN,NaN,NaN,2020,NaN,NaN,NaN,10201.0,58032.0,380200.0
1,Jackalope Brewing Company 0 The Ranch,Wedgewood0Houston,37203,NaN,NaN,NaN,2020,NaN,NaN,NaN,10201.0,58032.0,380200.0
2,New Heights Brewing Company,South Nashville,37203,NaN,NaN,NaN,2020,NaN,NaN,NaN,10201.0,58032.0,380200.0
3,Southern Grist Brewing,Cleveland Park,37207,NaN,NaN,NaN,2020,NaN,NaN,NaN,15151.0,50583.0,186700.0
4,East Nashville Beer Works,East Nashville,37207,NaN,NaN,NaN,2020,NaN,NaN,NaN,15151.0,50583.0,186700.0
5,Bearded Iris Brewing,Germantown,37208,NaN,NaN,NaN,2020,NaN,NaN,NaN,8415.0,47903.0,288100.0
6,Monday Night Brewing,Germantown,37208,NaN,NaN,NaN,2020,NaN,NaN,NaN,8415.0,47903.0,288100.0
7,The Black Abbey Brewing Company,South Nashville,37204,NaN,NaN,NaN,2020,NaN,NaN,NaN,6080.0,89954.0,602500.0
8,Fat Bottom Brewing,The Nations,37209,NaN,NaN,NaN,2020,NaN,NaN,NaN,16513.0,61096.0,351600.0
9,Bold Patriot Brewing Company,Charlotte,37209,NaN,NaN,NaN,2020,NaN,NaN,NaN,16513.0,61096.0,351600.0
10,Blackstone Brewing Company,Midtown,37209,NaN,NaN,NaN,2020,NaN,NaN,NaN,16513.0,61096.0,351600.0
11,Czanns Brewing Company,The Nations,37209,NaN,NaN,NaN,2020,NaN,NaN,NaN,16513.0,61096.0,351600.0
12,Harding House Brewing Company,The Nations,37209,NaN,NaN,NaN,2020,NaN,NaN,NaN,16513.0,61096.0,351600.0
13,Crazy Gnome Brewery,Edgefield,37206,NaN,NaN,NaN,2020,NaN,NaN,NaN,11584.0,66065.0,359600.0
14,Smith & Lentz Brewing,East Nashville,37206,NaN,NaN,NaN,2020,NaN,NaN,NaN,11584.0,66065.0,359600.0
15,Fait La Force Brewing,South Nashville,37210,NaN,NaN,NaN,2020,NaN,NaN,NaN,7337.0,36985.0,227100.0
16,Living Waters Brewing,East Nashville,37216,NaN,NaN,NaN,2020,NaN,NaN,NaN,8244.0,62214.0,293800.0
17,Barrique Brewing And Blending,South Nashville,37213,NaN,NaN,NaN,2020,NaN,NaN,NaN,21.0,0.0,0.0
18,Honky Tonk Brewing,Metro Center,37228,NaN,NaN,NaN,2020,NaN,NaN,NaN,1077.0,52344.0,0.0

In [32]:
# without_df2['average growth'] = without_df2[['2011 household median income', '2015 household median income', '2020 household median income']].mean(1).round()

# without_df2['growth rate'] = (without_df2['2020 household median income']-without_df2['2011 household median income'])/without_df2['2011 household median income']*100

# without_df2.head()

# master_years2['average income growth'] = master_years2[['2011 household median income','2015 household median income','2020 household median income']].mean(1).round()
# master_years2

# master_years2['average population growth'] = master_years2[['2011 total household','2015 total household','2020 total household']].mean(1).round()
# master_years2

# master_years2['average house value growth'] = master_years2[['2011 Median Value','2015 Median Value','2020 Median Value']].mean(1).round()
# master_years2

# master_years2['income growth rate'] = (master_years2['2020 household median income']-master_years2['2011 household median income'])/master_years2['2011 household median income']*100
# master_years2