In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from functools import reduce
import math

%matplotlib inline
# pd.options.display.max_columns = None
# pd.options.display.max_rows = None

In [2]:
building_permits = pd.read_csv("../data/Building_Permits_Issued.csv", low_memory=False)
building_permits

,Permit #,Permit Type Description,Permit Subtype Description,Parcel,Date Entered,Date Issued,Construction Cost,Address,City,State,ZIP,Subdivision / Lot,Contact,Permit Type,Permit Subtype,IVR Tracking #,Purpose,Council District,Census Tract,Mapped Location
0,2021021204,Building Residential - New,Single Family Residence,07112039200,04/07/2021,05/05/2021,292188.0,1807 JOY CIR,NASHVILLE,TN,3720.0,LOT 54 JOYWOOD SUB,HARP DEVELOPMENT LLC,CARN,CAA01R301,3963014,to construct a single family residence with 24...,5.0,37011300.0,"1807 JOY CIR\nNASHVILLE, TN 03720\n(36.202582,..."
1,2021041540,Building Residential - New,Single Family Residence,050020A16000CO,06/30/2021,08/05/2021,203683.0,1356 WESTCHESTER DR,NASHVILLE,TN,37207.0,LOT 160 BELLE ARBOR PUD PH 6,"NVR, INC. T/A RYAN HOMES",CARN,CAA01R301,4010172,"NEW SFD ON SLAB FOUNDATION MEASURING 1,680 SF ...",3.0,37010903.0,"1356 WESTCHESTER DR\nNASHVILLE, TN 37207\n(36...."
2,2021061611,Building Residential - New,"Accessory Structure, Pools - Residential",11510005300,09/24/2021,11/05/2021,100000.0,6523B CURRYWOOD DR,NASHVILLE,TN,37205.0,LOT 214 SEC 1 WEST MEADE ESTATES,BUILD NASHVILLE LLC,CARN,CAA14U017,4042074,to construct 30'x15.5' in ground pool to the r...,23.0,37018202.0,"6523B CURRYWOOD DR\nNASHVILLE, TN 37205\n(36.1..."
3,2022051265,Building Residential - New,Single Family Residence,164070B02500CO,08/01/2022,08/09/2022,267455.0,1184 ALCOVE WAY,ANTIOCH,TN,37013.0,LOT 25 PROVIDENCE ARBOURS,PROGRESSIVE DEVELOPMENT LLC,CARN,CAA01R301,4187040,To construct new single family residence with ...,33.0,37015631.0,"1184 ALCOVE WAY\nANTIOCH, TN 37013"
4,2021049582,Building Demolition Permit,Demolition Permit - Residential,11802004700,08/04/2021,08/05/2021,7000.0,812 INVERNESS AVE,NASHVILLE,TN,37204.0,PT OF LOT 24 SUB OF CASWELL ROSE HOME TRACT,PAROS GROUP LLC,CADM,CAZ01A001,4023265,To demolish structure or structures to finishe...,17.0,37017100.0,"812 INVERNESS AVE\nNASHVILLE, TN 37204\n(36.12..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34823,2021034551,Building Residential - New,Single Family Residence,117090L00400CO,06/02/2021,07/12/2021,573586.0,3512 HILLDALE DR,NASHVILLE,TN,37215.0,UNIT 3512 WIMBLEDON CORNER,TRIMARK BUILDERS LLC,CARN,CAA01R301,3997734,to construct 4731SF single family residence wi...,25.0,37017901.0,"3512 HILLDALE DR\nNASHVILLE, TN 37215\n(36.115..."
34824,2021044910,Building Residential - Addition,"Accessory Structure, Decks",14701005900,07/15/2021,08/02/2021,3000.0,658 HARDING PL,NASHVILLE,TN,37211.0,LOT 478 SEC 6 CALDWELL HALL,"GULY, REDUR & ZEBARI, ARIYAN",CARA,CAA14U015,4015608,TO CONSTRUCT 16�X26� OPEN DECK OVER EXISTING C...,26.0,37018901.0,"658 HARDING PL\nNASHVILLE, TN 37211\n(36.07973..."
34825,2021063708,Building Sign Permit,Sign - Ground / Wall Signs,11913022500,10/04/2021,10/12/2021,22500.0,3043 NOLENSVILLE PIKE,NASHVILLE,TN,37211.0,"LOTS 3,2&1 PATTERSON MAPLE HILL SUB",ROBINSON ELECTRIC CO INC,CASN,CAZ02A001,4045325,to remove existing cabinets and erect new 137S...,16.0,37017500.0,"3043 NOLENSVILLE PIKE\nNASHVILLE, TN 37211\n(3..."
34826,2022051473,Building Demolition Permit,Demolition Permit - Residential,10412027300,08/01/2022,09/20/2022,7500.0,1700 BERNARD AVE,NASHVILLE,TN,37212.0,LOT 35 LENOX PLACE,SOUTHERN BUILD LLC,CADM,CAZ01A001,4187319,TO DEMOLISH EXISTING BUILDING(S). NOT TO BE B...,18.0,37016800.0,"1700 BERNARD AVE\nNASHVILLE, TN 37212\n(36.131..."
34827,2021001312,Building Commercial - Tenant Finish Out,"Warehouse, Storage S-1",17500022700,01/08/2021,02/10/2021,3043027.0,3872 LOGISTICS WAY 301,ANTIOCH,TN,37013.0,LOT 1 DRG INTERCHANGE CENTER RESUB COMBINE LOT...,"ARCO MURRAY NATIONAL CONSTRUCTION COMPANY, INC",CACT,CAH10S001,3913075,Interior tenant buildout in existing shell war...,33.0,37015630.0,"3872 LOGISTICS WAY 301\nANTIOCH, TN 37013\n(36..."

In [3]:
building_permits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34828 entries, 0 to 34827
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Permit #                    34828 non-null  object
 1   Permit Type Description     34828 non-null  object
 2   Permit Subtype Description  34828 non-null  object
 3   Parcel                      34828 non-null  object
 4   Date Entered                34828 non-null  object
 5   Date Issued                 34828 non-null  object
 6   Construction Cost           34827 non-null  float64
 7   Address                     34828 non-null  object
 8   City                        34827 non-null  object
 9   State                       34828 non-null  object
 10  ZIP                         34827 non-null  float64
 11  Subdivision / Lot           34828 non-null  object
 12  Contact                     34828 non-null  object
 13  Permit Type                 34828 non-null  object
 14  Permit Subtype              34828 non-null  object
 15  IVR Tracking #              34828 non-null  int64
 16  Purpose                     34402 non-null  object
 17  Council District            34802 non-null  float64
 18  Census Tract                34803 non-null  float64
 19  Mapped Location             34828 non-null  object
dtypes: float64(4), int64(1), object(15)
memory usage: 5.3+ MB

In [4]:
#permit type description, date entered, date issued, address, city, state, ZIP

building_permits = building_permits[['Permit Type Description','Date Entered','City', 'ZIP']]
building_permits

,Permit Type Description,Date Entered,City,ZIP
0,Building Residential - New,04/07/2021,NASHVILLE,3720.0
1,Building Residential - New,06/30/2021,NASHVILLE,37207.0
2,Building Residential - New,09/24/2021,NASHVILLE,37205.0
3,Building Residential - New,08/01/2022,ANTIOCH,37013.0
4,Building Demolition Permit,08/04/2021,NASHVILLE,37204.0
...,...,...,...,...
34823,Building Residential - New,06/02/2021,NASHVILLE,37215.0
34824,Building Residential - Addition,07/15/2021,NASHVILLE,37211.0
34825,Building Sign Permit,10/04/2021,NASHVILLE,37211.0
34826,Building Demolition Permit,08/01/2022,NASHVILLE,37212.0
34827,Building Commercial - Tenant Finish Out,01/08/2021,ANTIOCH,37013.0

In [5]:
building_permits['ZIP'] = building_permits['ZIP'].astype(str)

C:\Users\sarah\AppData\Local\Temp\ipykernel_228\3476432640.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  building_permits['ZIP'] = building_permits['ZIP'].astype(str)

In [6]:
building_permits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34828 entries, 0 to 34827
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Permit Type Description  34828 non-null  object
 1   Date Entered             34828 non-null  object
 2   City                     34827 non-null  object
 3   ZIP                      34828 non-null  object
dtypes: object(4)
memory usage: 1.1+ MB

In [7]:
building_permits1 = building_permits.rename(columns={'Permit Type Description':'Permit Type', 'ZIP':'zip_code'})
building_permits1

,Permit Type,Date Entered,City,zip_code
0,Building Residential - New,04/07/2021,NASHVILLE,3720.0
1,Building Residential - New,06/30/2021,NASHVILLE,37207.0
2,Building Residential - New,09/24/2021,NASHVILLE,37205.0
3,Building Residential - New,08/01/2022,ANTIOCH,37013.0
4,Building Demolition Permit,08/04/2021,NASHVILLE,37204.0
...,...,...,...,...
34823,Building Residential - New,06/02/2021,NASHVILLE,37215.0
34824,Building Residential - Addition,07/15/2021,NASHVILLE,37211.0
34825,Building Sign Permit,10/04/2021,NASHVILLE,37211.0
34826,Building Demolition Permit,08/01/2022,NASHVILLE,37212.0
34827,Building Commercial - Tenant Finish Out,01/08/2021,ANTIOCH,37013.0

In [8]:
bp1 = building_permits1.loc[(building_permits1['City'] == "NASHVILLE")]
bp1

                           Permit Type Date Entered       City zip_code
0           Building Residential - New   04/07/2021  NASHVILLE   3720.0
1           Building Residential - New   06/30/2021  NASHVILLE  37207.0
2           Building Residential - New   09/24/2021  NASHVILLE  37205.0
4           Building Demolition Permit   08/04/2021  NASHVILLE  37204.0
5           Building Residential - New   10/14/2021  NASHVILLE  37207.0
...                                ...          ...        ...      ...
34822         Building Use & Occupancy   10/14/2020  NASHVILLE  37215.0
34823       Building Residential - New   06/02/2021  NASHVILLE  37215.0
34824  Building Residential - Addition   07/15/2021  NASHVILLE  37211.0
34825             Building Sign Permit   10/04/2021  NASHVILLE  37211.0
34826       Building Demolition Permit   08/01/2022  NASHVILLE  37212.0

[25822 rows x 4 columns]

In [9]:
bp1['Date Entered'] = pd.to_datetime(bp1['Date Entered'])

bp1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25822 entries, 0 to 34826
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Permit Type   25822 non-null  object
 1   Date Entered  25822 non-null  datetime64[ns]
 2   City          25822 non-null  object
 3   zip_code      25822 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 1008.7+ KB

C:\Users\sarah\AppData\Local\Temp\ipykernel_228\1355136477.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bp1['Date Entered'] = pd.to_datetime(bp1['Date Entered'])

In [10]:
bp2 = bp1.loc[(bp1['Date Entered'] >= '2017-01-01')]
bp2

                           Permit Type Date Entered       City zip_code
0           Building Residential - New   2021-04-07  NASHVILLE   3720.0
1           Building Residential - New   2021-06-30  NASHVILLE  37207.0
2           Building Residential - New   2021-09-24  NASHVILLE  37205.0
4           Building Demolition Permit   2021-08-04  NASHVILLE  37204.0
5           Building Residential - New   2021-10-14  NASHVILLE  37207.0
...                                ...          ...        ...      ...
34822         Building Use & Occupancy   2020-10-14  NASHVILLE  37215.0
34823       Building Residential - New   2021-06-02  NASHVILLE  37215.0
34824  Building Residential - Addition   2021-07-15  NASHVILLE  37211.0
34825             Building Sign Permit   2021-10-04  NASHVILLE  37211.0
34826       Building Demolition Permit   2022-08-01  NASHVILLE  37212.0

[25822 rows x 4 columns]

In [11]:
oldest = min(bp1['Date Entered'])
oldest

Timestamp('2017-07-21 00:00:00')

In [12]:
zip_codes1 = []
zc = bp1['zip_code']

for z in zc:
    zip_codes1.append(str(z).split('.')[0])
    
final_zips = [int(z) for z in zip_codes1]
final_zips

[3720,
 37207,
 37205,
 37204,
 37207,
 37221,
 37076,
 37214,
 37215,
 37215,
 37209,
 37209,
 37208,
 37207,
 37212,
 37215,
 37212,
 37216,
 37207,
 37209,
 37217,
 37209,
 37221,
 37206,
 37215,
 37206,
 37214,
 37208,
 37215,
 37209,
 37208,
 37209,
 37209,
 37209,
 37211,
 37207,
 37207,
 37207,
 37203,
 37206,
 37211,
 37205,
 37203,
 37216,
 37207,
 37211,
 37207,
 37204,
 37209,
 37218,
 37207,
 37203,
 37209,
 37209,
 37203,
 37207,
 37212,
 37215,
 37205,
 37209,
 37209,
 37212,
 37209,
 37201,
 37209,
 37209,
 37209,
 37209,
 37214,
 37216,
 37217,
 37207,
 37206,
 37209,
 37217,
 37218,
 37209,
 37204,
 37207,
 37207,
 37216,
 37207,
 37211,
 37209,
 37217,
 37207,
 37207,
 37209,
 37210,
 37207,
 37216,
 37238,
 37208,
 37204,
 37221,
 37206,
 37207,
 37207,
 37215,
 37201,
 37212,
 37206,
 37207,
 37209,
 37205,
 37209,
 37218,
 37217,
 37209,
 37206,
 37206,
 37208,
 37209,
 37209,
 37209,
 37209,
 37210,
 37209,
 37221,
 37218,
 37210,
 37203,
 37215,
 37207,
 37207,
 37206,
 37209,
 37208,
 37221,
 37205,
 37208,
 37209,
 37206,
 37208,
 37216,
 37206,
 37203,
 37211,
 37216,
 37208,
 37216,
 37203,
 37204,
 37209,
 37205,
 37203,
 37211,
 37215,
 37208,
 37204,
 37205,
 37209,
 37214,
 37205,
 37209,
 37217,
 37217,
 37209,
 37218,
 37210,
 37214,
 37209,
 37220,
 37216,
 37214,
 37209,
 37203,
 37218,
 37204,
 37218,
 37207,
 37212,
 37201,
 37217,
 37221,
 37208,
 37208,
 37207,
 37216,
 37209,
 37221,
 37210,
 37208,
 37206,
 37212,
 37215,
 37214,
 37212,
 37203,
 37207,
 37208,
 37205,
 37214,
 37217,
 37201,
 37203,
 37210,
 37215,
 37212,
 37205,
 37209,
 37206,
 37209,
 37210,
 37207,
 37209,
 37211,
 37209,
 37210,
 37208,
 37207,
 37207,
 37207,
 37215,
 37207,
 37215,
 37215,
 37206,
 37207,
 37209,
 37214,
 37203,
 37213,
 37216,
 37203,
 37214,
 37221,
 37203,
 37210,
 37210,
 37208,
 37210,
 37205,
 37205,
 37211,
 37203,
 37208,
 37217,
 37208,
 37204,
 37210,
 37211,
 37214,
 37210,
 37209,
 37208,
 37206,
 37228,
 37208,
 37204,
 37206,
 37209,
 37207,
 37209,
 37212,
 37209,
 37221,
 37209,
 37209,
 37216,
 37206,
 37217,
 37203,
 37209,
 37218,
 37209,
 37214,
 37209,
 37203,
 37207,
 37209,
 37205,
 37208,
 37207,
 37214,
 37209,
 37215,
 37211,
 37211,
 37207,
 37215,
 37206,
 37215,
 37206,
 37207,
 37206,
 37206,
 37209,
 37209,
 37205,
 37211,
 37211,
 37209,
 37204,
 37209,
 37215,
 37210,
 37212,
 37204,
 37204,
 37203,
 37203,
 37209,
 37203,
 37206,
 37204,
 37208,
 37209,
 37206,
 37215,
 37216,
 37204,
 37209,
 37218,
 37214,
 37216,
 37221,
 37204,
 37206,
 37215,
 37205,
 37209,
 37206,
 37205,
 37206,
 37205,
 37209,
 37209,
 37206,
 37216,
 37216,
 37216,
 37215,
 37209,
 37219,
 37221,
 37211,
 37204,
 37207,
 37203,
 37208,
 37207,
 37220,
 37205,
 37208,
 37204,
 37212,
 37204,
 37211,
 37211,
 37204,
 37203,
 37209,
 37207,
 37203,
 37206,
 37211,
 37209,
 37207,
 37208,
 37214,
 37209,
 37205,
 37203,
 37216,
 37212,
 37215,
 37215,
 37215,
 37211,
 37216,
 37216,
 37220,
 37206,
 37211,
 37203,
 37206,
 37216,
 37206,
 37216,
 37207,
 37204,
 37206,
 37208,
 37210,
 37208,
 37203,
 37214,
 37221,
 37208,
 37211,
 37206,
 37207,
 37206,
 37220,
 37214,
 37204,
 37206,
 37207,
 37209,
 37203,
 37216,
 37216,
 37205,
 37215,
 37206,
 37205,
 37206,
 37207,
 37204,
 37209,
 37212,
 37215,
 37207,
 37215,
 37218,
 37206,
 37215,
 37204,
 37207,
 37216,
 37204,
 37205,
 37215,
 37205,
 37215,
 37209,
 37209,
 37215,
 37209,
 37209,
 37209,
 37210,
 37216,
 37214,
 37206,
 37209,
 37211,
 37212,
 37209,
 37212,
 37216,
 37216,
 37208,
 37216,
 37220,
 37216,
 37216,
 37216,
 37216,
 37203,
 37203,
 37215,
 37207,
 37216,
 37211,
 37209,
 37216,
 37207,
 37216,
 37207,
 37216,
 37216,
 37216,
 37216,
 37207,
 37209,
 37212,
 37221,
 37215,
 37205,
 37206,
 37215,
 37205,
 37220,
 37216,
 37216,
 37221,
 37216,
 37216,
 37205,
 37215,
 37207,
 37209,
 37216,
 37216,
 37216,
 37216,
 37221,
 37207,
 37217,
 37220,
 37214,
 37216,
 37216,
 37216,
 37205,
 37216,
 37216,
 37211,
 37216,
 37216,
 37216,
 37220,
 37211,
 37211,
 37205,
 37216,
 37216,
 37221,
 37206,
 37216,
 37205,
 37216,
 37207,
 37221,
 37211,
 37216,
 37216,
 37209,
 37216,
 37218,
 37209,
 37215,
 37216,
 37216,
 37208,
 37216,
 37207,
 37216,
 37216,
 37206,
 37203,
 37216,
 37216,
 37209,
 37207,
 37216,
 37216,
 37211,
 37216,
 37212,
 37208,
 37216,
 37216,
 37212,
 37217,
 37216,
 37216,
 37216,
 37216,
 37216,
 37208,
 37216,
 37215,
 37216,
 37216,
 37218,
 37215,
 37209,
 37216,
 37208,
 37203,
 37216,
 37216,
 37216,
 37203,
 37216,
 37216,
 37211,
 37216,
 37215,
 37207,
 37216,
 37214,
 37207,
 37216,
 37215,
 37205,
 37203,
 37216,
 37203,
 37206,
 37212,
 37216,
 37204,
 37211,
 37209,
 37210,
 37204,
 37216,
 37203,
 37216,
 37216,
 37203,
 37201,
 37209,
 37205,
 37203,
 37203,
 37206,
 37214,
 37208,
 37212,
 37218,
 37209,
 37209,
 37212,
 37211,
 37203,
 37215,
 37211,
 37207,
 37206,
 37215,
 37208,
 37208,
 37210,
 37216,
 37209,
 37210,
 37203,
 37217,
 37215,
 37210,
 37215,
 37201,
 37203,
 37204,
 37215,
 37207,
 37211,
 37221,
 37205,
 37218,
 37218,
 37209,
 37207,
 37215,
 37206,
 37206,
 37204,
 37206,
 37208,
 37205,
 37204,
 37203,
 37206,
 37208,
 37210,
 37203,
 37210,
 37205,
 37207,
 37207,
 37206,
 37211,
 37210,
 37206,
 37207,
 37210,
 37212,
 37211,
 37208,
 37206,
 37207,
 37211,
 37208,
 37209,
 37207,
 37215,
 37211,
 37215,
 37211,
 37221,
 37207,
 37210,
 37208,
 37205,
 37203,
 37208,
 37211,
 37211,
 37215,
 37215,
 37201,
 37207,
 37211,
 37211,
 37209,
 37204,
 37215,
 37220,
 37216,
 37209,
 37206,
 37206,
 37211,
 37211,
 37216,
 37214,
 37209,
 37211,
 37207,
 37209,
 37209,
 37207,
 37207,
 37215,
 37206,
 37208,
 37209,
 37218,
 37204,
 37210,
 37211,
 37211,
 37214,
 37216,
 37207,
 37201,
 37216,
 37203,
 37209,
 37208,
 37207,
 37207,
 37206,
 37205,
 37207,
 37211,
 37207,
 37216,
 37207,
 37215,
 37209,
 37209,
 37208,
 37207,
 37205,
 37211,
 37206,
 37207,
 37217,
 37215,
 37207,
 37217,
 37208,
 37207,
 37215,
 37207,
 37208,
 37219,
 37211,
 37210,
 37208,
 37216,
 37228,
 37217,
 37217,
 37210,
 37217,
 37217,
 37211,
 37217,
 37216,
 37205,
 37206,
 37212,
 37217,
 37212,
 37212,
 37209,
 37217,
 37209,
 37217,
 37216,
 37204,
 37217,
 37211,
 37221,
 37209,
 37205,
 37214,
 37204,
 37209,
 37207,
 37201,
 37218,
 37218,
 37209,
 37217,
 37211,
 37221,
 37209,
 37209,
 37211,
 37207,
 37209,
 37208,
 37216,
 37201,
 37209,
 37135,
 37205,
 37207,
 37204,
 37207,
 37203,
 37205,
 37212,
 37209,
 37208,
 37209,
 37204,
 37206,
 37216,
 37210,
 37207,
 37210,
 37206,
 37207,
 37203,
 37201,
 37216,
 37207,
 37221,
 37204,
 37214,
 37207,
 37216,
 37203,
 37203,
 37212,
 37203,
 37211,
 37203,
 37211,
 37207,
 37204,
 37206,
 37209,
 37208,
 37212,
 37211,
 37205,
 37203,
 37205,
 37207,
 37215,
 37208,
 37207,
 37209,
 37203,
 37208,
 37218,
 37220,
 37215,
 37209,
 37207,
 37203,
 37209,
 37207,
 37211,
 37209,
 37205,
 37208,
 37221,
 37205,
 37209,
 37207,
 37204,
 37207,
 37212,
 37207,
 37205,
 37206,
 37203,
 37203,
 37208,
 37203,
 37214,
 37203,
 37203,
 37205,
 37205,
 37206,
 37203,
 37203,
 37203,
 37203,
 37212,
 37203,
 37207,
 37203,
 37221,
 37203,
 37203,
 37203,
 37211,
 37203,
 37204,
 37207,
 37209,
 37211,
 37203,
 37209,
 37203,
 37203,
 37203,
 37207,
 37203,
 37206,
 37203,
 37203,
 37208,
 37205,
 37211,
 37207,
 37203,
 37203,
 37203,
 37203,
 37203,
 37203,
 37208,
 37203,
 37218,
 37215,
 37209,
 37209,
 37209,
 37209,
 37203,
 37210,
 37207,
 37203,
 37210,
 37209,
 37206,
 37203,
 37203,
 37211,
 37203,
 37203,
 37205,
 37203,
 37203,
 37203,
 37210,
 37215,
 37203,
 37215,
 37205,
 37204,
 37215,
 37208,
 37206,
 37206,
 37209,
 37205,
 37206,
 37211,
 37205,
 37218,
 37206,
 37216,
 37221,
 37212,
 37203,
 37203,
 37211,
 37209,
 37203,
 37208,
 0,
 37209,
 37203,
 37204,
 37211,
 37204,
 37221,
 37207,
 37216,
 37211,
 37217,
 37206,
 37206,
 37207,
 37207,
 37203,
 37203,
 37221,
 37207,
 37209,
 37203,
 37208,
 37205,
 37208,
 37207,
 ...]

In [13]:
df1 = pd.DataFrame(final_zips, columns = ['zip_code'])
df1

       zip_code
0          3720
1         37207
2         37205
3         37204
4         37207
...         ...
25817     37215
25818     37215
25819     37211
25820     37211
25821     37212

[25822 rows x 1 columns]

In [14]:
df2 = bp1[['Permit Type','Date Entered']]
df2

                           Permit Type Date Entered
0           Building Residential - New   2021-04-07
1           Building Residential - New   2021-06-30
2           Building Residential - New   2021-09-24
4           Building Demolition Permit   2021-08-04
5           Building Residential - New   2021-10-14
...                                ...          ...
34822         Building Use & Occupancy   2020-10-14
34823       Building Residential - New   2021-06-02
34824  Building Residential - Addition   2021-07-15
34825             Building Sign Permit   2021-10-04
34826       Building Demolition Permit   2022-08-01

[25822 rows x 2 columns]

In [15]:
permits_df = pd.concat([df1, df2], axis=1, join='inner')
permits_df

       zip_code                              Permit Type Date Entered
0          3720               Building Residential - New   2021-04-07
1         37207               Building Residential - New   2021-06-30
2         37205               Building Residential - New   2021-09-24
4         37207               Building Demolition Permit   2021-08-04
5         37221               Building Residential - New   2021-10-14
...         ...                                      ...          ...
25817     37215               Building Residential - New   2020-03-20
25818     37215                     Building Sign Permit   2021-03-30
25819     37211               Building Residential - New   2020-03-26
25820     37211               Building Residential - New   2021-08-03
25821     37212  Building Commercial - Tenant Finish Out   2020-01-06

[18638 rows x 3 columns]

In [16]:
len(permits_df['zip_code'].unique())

34

In [17]:
permits_df.groupby('zip_code', as_index=False).last()

    zip_code                               Permit Type Date Entered
0          0   Building Commercial - Tenant Finish Out   2020-02-25
1       3720              Building Residential - Rehab   2021-06-08
2       6209           Building Residential - Addition   2021-11-04
3      36215                Building Residential - New   2021-05-05
4      37013              Building Residential - Rehab   2022-02-07
5      37076              Building Residential - Rehab   2022-07-16
6      37115  Building Residential - Tenant Finish Out   2022-07-01
7      37127                Building Residential - New   2021-06-30
8      37135                Building Residential - New   2022-01-12
9      37201               Building Commercial - Rehab   2020-02-18
10     37202                Building Demolition Permit   2021-09-29
11     37203                Building Residential - New   2021-06-17
12     37204                Building Demolition Permit   2022-04-19
13     37205                 Building Commercial - New   2020-01-06
14     37206                  Building Use & Occupancy   2020-12-31
15     37207            Building Commercial - Addition   2019-09-11
16     37208               Building Commercial - Rehab   2021-09-13
17     37209                      Building Sign Permit   2020-04-23
18     37210                Building Residential - New   2020-08-27
19     37211                Building Residential - New   2021-08-03
20     37212   Building Commercial - Tenant Finish Out   2020-01-06
21     37213   Building Commercial - Tenant Finish Out   2020-08-10
22     37214               Building Commercial - Rehab   2020-08-26
23     37215                      Building Sign Permit   2021-03-30
24     37216                  Building Use & Occupancy   2019-12-19
25     37217                Building Residential - New   2021-02-02
26     37218               Building Commercial - Rehab   2019-08-26
27     37219               Building Commercial - Rehab   2022-03-29
28     37220           Building Residential - Addition   2020-10-09
29     37221              Building Residential - Rehab   2020-01-23
30     37228                Building Residential - New   2021-04-06
31     37232   Building Commercial - Tenant Finish Out   2020-12-10
32     37238                Building Residential - New   2020-07-30
33     37240   Building Commercial - Tenant Finish Out   2022-06-14

In [18]:
permits_df_gb = permits_df.groupby('zip_code')['zip_code'].count()
permits_df_gb

zip_code
0          12
3720        2
6209        2
36215       1
37013       1
37076      18
37115       1
37127       1
37135       1
37201     311
37202       1
37203    1786
37204     660
37205    1018
37206    1707
37207    1848
37208    1355
37209    2491
37210     724
37211    1373
37212     732
37213      33
37214     812
37215     918
37216     825
37217     480
37218     517
37219     116
37220     165
37221     597
37228     124
37232       3
37238       2
37240       1
Name: zip_code, dtype: int64

In [23]:
idx= pd.Index(range(0, 34, 1))

dfzc_count = pd.DataFrame(permits_df_gb)
dfzc_count.set_index(idx)
dfzc_count

dfzc_count.rename(columns={'zip_code': 'zip_code', 'zip_code':'count'}, inplace=True)
dfzc_count

# dfzc_count.reset_index(level=0, inplace=True)
# dfzc_count

# dfzc_count.reset_index(level=0, inplace=True)
# index = dfzc_count.index

# dfzc_count

          count
zip_code
0            12
3720          2
6209          2
36215         1
37013         1
37076        18
37115         1
37127         1
37135         1
37201       311
37202         1
37203      1786
37204       660
37205      1018
37206      1707
37207      1848
37208      1355
37209      2491
37210       724
37211      1373
37212       732
37213        33
37214       812
37215       918
37216       825
37217       480
37218       517
37219       116
37220       165
37221       597
37228       124
37232         3
37238         2
37240         1

In [24]:
permits_df.to_csv(r'C:\Users\sarah\Documents\DA7\projects\repos\breweries-middletn\data\permits_df.csv', index=False, header=True)
permits_df

       zip_code                              Permit Type Date Entered
0          3720               Building Residential - New   2021-04-07
1         37207               Building Residential - New   2021-06-30
2         37205               Building Residential - New   2021-09-24
4         37207               Building Demolition Permit   2021-08-04
5         37221               Building Residential - New   2021-10-14
...         ...                                      ...          ...
25817     37215               Building Residential - New   2020-03-20
25818     37215                     Building Sign Permit   2021-03-30
25819     37211               Building Residential - New   2020-03-26
25820     37211               Building Residential - New   2021-08-03
25821     37212  Building Commercial - Tenant Finish Out   2020-01-06

[18638 rows x 3 columns]