In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
%matplotlib inline

In [12]:
#need to import all the csv files 

age_sex2011 = pd.read_csv("../data/age_sex_davidsoncounty2011.csv")
age_sex2011.head()

,Label (Grouping),ZCTA5 37013!!Total!!Estimate,ZCTA5 37013!!Total!!Margin of Error,ZCTA5 37013!!Male!!Estimate,ZCTA5 37013!!Male!!Margin of Error,ZCTA5 37013!!Female!!Estimate,ZCTA5 37013!!Female!!Margin of Error,ZCTA5 37015!!Total!!Estimate,ZCTA5 37015!!Total!!Margin of Error,ZCTA5 37015!!Male!!Estimate,...,ZCTA5 37243!!Male!!Estimate,ZCTA5 37243!!Male!!Margin of Error,ZCTA5 37243!!Female!!Estimate,ZCTA5 37243!!Female!!Margin of Error,ZCTA5 37246!!Total!!Estimate,ZCTA5 37246!!Total!!Margin of Error,ZCTA5 37246!!Male!!Estimate,ZCTA5 37246!!Male!!Margin of Error,ZCTA5 37246!!Female!!Estimate,ZCTA5 37246!!Female!!Margin of Error
0,Total population,"76,983","±1,951","36,783","±1,121","40,200","±1,275","16,976",±780,"8,678",...,0,±95,0,±95,0,±95,0,±95,0,±95
1,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Under 5 years,8.6%,±0.6,8.9%,±1.1,8.4%,±0.8,6.9%,±1.1,7.0%,...,-,**,-,**,-,**,-,**,-,**
3,5 to 9 years,7.0%,±0.6,6.7%,±0.8,7.3%,±1.1,6.9%,±1.2,7.3%,...,-,**,-,**,-,**,-,**,-,**
4,10 to 14 years,6.1%,±0.6,6.3%,±1.0,5.9%,±0.9,6.2%,±1.1,7.6%,...,-,**,-,**,-,**,-,**,-,**

In [15]:
age_sex2011.dropna().head()

,Label (Grouping),ZCTA5 37013!!Total!!Estimate,ZCTA5 37013!!Total!!Margin of Error,ZCTA5 37013!!Male!!Estimate,ZCTA5 37013!!Male!!Margin of Error,ZCTA5 37013!!Female!!Estimate,ZCTA5 37013!!Female!!Margin of Error,ZCTA5 37015!!Total!!Estimate,ZCTA5 37015!!Total!!Margin of Error,ZCTA5 37015!!Male!!Estimate,...,ZCTA5 37243!!Male!!Estimate,ZCTA5 37243!!Male!!Margin of Error,ZCTA5 37243!!Female!!Estimate,ZCTA5 37243!!Female!!Margin of Error,ZCTA5 37246!!Total!!Estimate,ZCTA5 37246!!Total!!Margin of Error,ZCTA5 37246!!Male!!Estimate,ZCTA5 37246!!Male!!Margin of Error,ZCTA5 37246!!Female!!Estimate,ZCTA5 37246!!Female!!Margin of Error
0,Total population,"76,983","±1,951","36,783","±1,121","40,200","±1,275","16,976",±780,"8,678",...,0,±95,0,±95,0,±95,0,±95,0,±95
2,Under 5 years,8.6%,±0.6,8.9%,±1.1,8.4%,±0.8,6.9%,±1.1,7.0%,...,-,**,-,**,-,**,-,**,-,**
3,5 to 9 years,7.0%,±0.6,6.7%,±0.8,7.3%,±1.1,6.9%,±1.2,7.3%,...,-,**,-,**,-,**,-,**,-,**
4,10 to 14 years,6.1%,±0.6,6.3%,±1.0,5.9%,±0.9,6.2%,±1.1,7.6%,...,-,**,-,**,-,**,-,**,-,**
5,15 to 19 years,5.7%,±0.8,5.6%,±0.9,5.8%,±0.9,6.5%,±1.0,5.6%,...,-,**,-,**,-,**,-,**,-,**

In [16]:
age_sex2011.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Columns: 229 entries, Label (Grouping) to ZCTA5 37246!!Female!!Margin of Error
dtypes: object(229)
memory usage: 71.7+ KB